<%= form_for([:makers_admin, @maker_photo], :html => {:multipart => true}) do |f| %>
  <% if @maker_photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@maker_photo.errors.count, "error") %> prohibited this makers_admin_maker_photo from being saved:</h2>

      <ul>
      <% @maker_photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<fieldset class="adminForm">
		<div class="field required">
			<%= f.label :title %> <%= f.text_field :title %>
		</div>
		
		<div class="field required">
			<%= f.label :photo %>
			
			<% if !@maker_photo.photo.blank? %>
			<img src="<%= @maker_photo.photo.large %>" alt="" class="galleryImage">
			<% end %>
			
			<%= f.file_field :photo %>
		</div>
		
		<div class="field">
			<%= f.label :description %> <%= f.text_area :description, :rows => 4 %>
		</div>
		
		<div class="field checkbox">
			<%= f.check_box :visible %> <%= f.label :visible %>
		</div>
		
		<div class="field checkbox">
			<%= f.check_box :comments_closed %> <%= f.label :comments_closed %>
		</div>
		
		<div class="actions">
			<%= f.submit %>
		</div>
	</fieldset>
<% end %>
