= form_for([:makers_admin, @maker_photo], :html => {:multipart => true}) do |f|
  - if @maker_photo.errors.any?
    #error_explanation
      %h2
        = pluralize(@maker_photo.errors.count, "error")
        prohibited this makers_admin_maker_photo from being saved:
      %ul
        - @maker_photo.errors.full_messages.each do |msg|
          %li= msg
  %fieldset.adminForm
    .field.required
      = f.label :title
      = f.text_field :title
    .field.required
      = f.label :photo
      - if !@maker_photo.photo.blank?
        %img.galleryImage{:alt => "", :src => @maker_photo.photo.large}/
      = f.file_field :photo
    .field
      = f.label :description
      = f.text_area :description, :rows => 4
    .field.checkbox
      = f.check_box :visible
      = f.label :visible
    .field.checkbox
      = f.check_box :comments_closed
      = f.label :comments_closed
    .actions
      = f.submit
