<%= render "makers_header" %>
		
		<div id="makerGallery">
			<h1>Editing photo</h1>

			<%= render 'form' %>

			<%= link_to 'Back', "/makers/#{current_user.maker.slug}/gallery" %>
		</div>

<%= render "makers_footer" %>