%aside#comments
  %h2
    Comments:
    %span= @blog.comments.size
  %ul#commentList
    - @comments.each do |comment|
      %li
        %header
          %img{:alt => comment.user.name, :src => avatar = (comment.user.avatar.small.blank?) ? "/assets/avatar_small.png" : comment.user.avatar.small}/
          %h3= comment.user.name
          %p.meta= l comment.created_at, :format => :comment
        = simple_format(sanitize(comment.comment))
  - if @current_user.blank?
    %h3
      Please #{link_to "sign in", new_user_session_path(), :class => "button sign-in"} or #{link_to "sign up", new_user_registration_path(), :class => "button sign-up"} to comment.
  - else
    #commentForm
      - if !@blog.comments_closed
        %h2= count = @blog.comments.size < 1 ? "Be the first to post a comment" : "Post a comment"
        .member
          %a{:href => "#"}
            %img{:alt => @current_user.name, :src => avatar = (@current_user.avatar.blank?) ? "/assets/avatar_small.png" : @current_user.avatar.small}/
          %h3= @current_user.name
          = form_for :comment, :url => { :action => "comment" } do |f|
            = f.hidden_field :commentable_id, :value=> @blog.id
            = f.text_area :comment
            = f.submit "Post Comment"
      - else
        %h2 Comments are closed for this post
