%nav#ktvBlogNavigation
  %ul
    %li
      %h2 Categories
    %li{:class => params[:slug].blank? ? "active" : ""}
      %a{:href => "/blog"} All
    - @categories.each do |category|
      %li{:class => category.slug == params[:slug] ? "active" : ""}
        #{link_to category.name, '/blog/' + category.slug}
