%footer
  %ul.meta
    %li
      Posted on #{l @blog.created_at, :format => :post}
    %li
      %a{:href => "#comments"}
        Comments
        %span= @blog.comments.size
    %li.share
      Share:
      .pin-button
        %a.pin-it-button{"count-layout" => "horizontal", :href => "http://pinterest.com/pin/create/button/?url=#{request.url}&media=http://#{request.domain}/#{@pin_img}&description=#{@blog.title}"}
          %img{:border => "0", :src => "//assets.pinterest.com/images/PinExt.png", :title => "Pin It"}/
      %a.twitter-share-button{"data-count" => "horizontal", "data-text" => "#{@blog.title} // ", "data-url" => request.url, "data-via" => "KorduroyTV", :href => "https://twitter.com/share"} Tweet
      .fb-like{"data-href" => request.url, "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "200"}
      .cent-up
  - if !@blog.tags.blank?
    %dl.tagList
      %dt Tags:
      - @blog.tags.each do |t|
        %dd= t