- title "#{@category.name} Blog Posts"
- description "A daily dose of #{@category.name} from your fine friends at Korduroy.tv"

%section#ktvBlog
  %header#contentHeader
    %h1 Korduroy Blog
  = render "menu"
  #ktvBlogPosts
    %h1= @category.name
    = render "ktv_posts"
    = paginate @ktv_posts
