- title "Blog"
- description "A daily dose of Digital Aloha from your fine friends at Korduroy.tv"

%section#ktvBlog
  %header#contentHeader
    %h1 Korduroy Blog
  = render "menu"
  #ktvBlogPosts
    = render "ktv_posts"
    = paginate @ktv_posts
