- title "#{@blog.title}"
- description "#{truncate_html strip_tags(@blog.content), :length => 250}"

%section#ktvBlog
  %header#contentHeader
    %h1 Korduroy Blog

  = render "menu"

  #ktvBlogPost
    %article
      - unless @blog.reblogged_at.blank?
        - @usr = User.find(@blog.user_id)
        - @mkr = Maker.find(@usr.maker_id)
        %h2
          %span.reblog Reblogged:
          = @blog.title
        #related_maker
          %a{:href => "/makers/#{@mkr.slug}/blog/#{@blog.created_at.year}/#{@blog.slug}/#{@blog.id}"}
            %img.avatar{:src => @usr.avatar.small}/
          %h2= @mkr.name
          %h3= @mkr.maker_category.name
          %img.badge{:alt => "Maker", :src => "/assets/badge_maker_small.png"}/
      - else
        %h2= @blog.title

      - unless @blog.post_image.blank?
        - @pin_img = @blog.post_image.large
        = image_tag(@blog.post_image.large, :alt => @blog.title, :class => "postImage")
      - else
        - @pin_img = "/assets/placeholder_xlarge.jpg"

      .postBody
        = sanitize(@blog.content, :tags => %w(h1 h2 h3 h4 h5 h6 p a img ul ol li iframe table thead tbody tr td span b em u strong br hr))

      - if signed_in? && current_user.default_blogger == true
        .adminActions
          %ul
            %li.edit= link_to "Edit", "/admin/blogs/" + @blog.id.to_s + "/edit", :class => "button edit"
            %li.delete= link_to "Delete", "/admin/blogs/" + @blog.id.to_s, :method => :delete, :class => "button delete", :confirm => "Are you sure you want to delete this item?"

      = render :partial => 'post_footer'

    = render "related_items"

    = render :partial => 'comments'