#editAccount
  %header#modalHeader
    %h1
      Edit #{resource_name.to_s.humanize}
    %p
      = link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete, :class => "button delete"
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
    = devise_error_messages!
    %fieldset#regForm
      .field
        = f.label :email
        = f.email_field :email
      .field
        = f.label :password
        = f.password_field :password
        %em Leave blank if you don't want to change it
      .field
        = f.label :password_confirmation, "Confirm Password"
        = f.password_field :password_confirmation
      .field.required
        = f.label :current_password
        = f.password_field :current_password
        %em We need your current password to confirm your changes
      .field.checkbox
        = f.check_box :join_mailing_list
        = f.label :join_mailing_list, "Sign up for our newsletter"
      .actions
        = f.submit "Update"
        %a.sbCancelLink{:href => "#"} Cancel
