<div id="signUp">
	<header id="modalHeader">
		<h1>Sign Up</h1>
		<%- if controller_name != 'sessions' %>
		  <p>Already registered? <%= link_to "Sign in", new_session_path(resource_name) %></p>
		<% end -%>
	</header>
	
	<p id="intro"><strong>Join us.</strong> Membership allows you to vote, comment, and rate content.</p>
	
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		<%= devise_error_messages! %>
		
		<fieldset id="regForm">
			<div class="field required">
				<%= f.label :first_name %>
				<%= f.text_field :first_name %>
			</div>
			
			<div class="field required">
				<%= f.label :last_name %>
				<%= f.text_field :last_name %>
			</div>
			
			<div class="field required">
				<%= f.label :email %>
				<%= f.email_field :email %>
			</div>
			
			<div class="field required">
				<%= f.label :password %>
				<%= f.password_field :password %>
			</div>
			
			<div class="field required">
				<%= f.label :password_confirmation, "Confirm password" %>
				<%= f.password_field :password_confirmation %>
			</div>
			
			<div class="field checkbox">
				<%= f.check_box :join_mailing_list %> <%= f.label :join_mailing_list, "Sign up for our newsletter" %>
			</div>
			
			<div class="actions">
				<%= f.submit "Sign up" %>
				<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
				  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
				<% end -%>
			</div>
		</fieldset>
	<% end %>
</div>
