- title "Search Results"
%section#search-results
  %header#contentHeader
    %h1
      Search Results for:
      %em= params[:q]
  %h2.results-count
    = @search['searchdoc']['results']['hits']
    total results
  - if @hits == 0
    %article
      %h2 Sorry&hellip; No results found.
      %p Please try another search.
  - elsif @hits == 1
    %article
      %h2= link_to @search['searchdoc']['results']['result']['title'], @search['searchdoc']['results']['result']['url']
      %p= @search['searchdoc']['results']['result']['description']
  - else
    - @search['searchdoc']['results']['result'].each do |result|
      %article
        %h2= link_to result['title'], result['url']
        %p= result['description']
  %nav.pagination
    %span.prev= link_to '‹ back', search_path(:q => params[:q], :page => @previous_page) unless @previous_page < 1
    %span.page-count
      Page #{@current_page} of #{@last_page}
    %span.next= link_to 'next ›', search_path(:q => params[:q], :page => @next_page) unless @next_page > @last_page
