<%- title "Search Results" %>

<section id="search-results">
	<header id="contentHeader">
		<h1>Search Results for: <em><%= params[:q] %></em></h1>
	</header>
	
	<h2 class="results-count"><%= @search['searchdoc']['results']['hits'] %> total results</h2>
	
	<% if @hits == 0 %>
		<article>
			<h2>Sorry&hellip; No results found.</h2>
			<p>Please try another search.</p>
		</article>
	<% elsif @hits == 1 %>
		<article>
			<h2><%= link_to @search['searchdoc']['results']['result']['title'], @search['searchdoc']['results']['result']['url'] %></h2>
			<p><%= @search['searchdoc']['results']['result']['description'] %></p>
		</article>
	<% else %>

		<% @search['searchdoc']['results']['result'].each do |result| %>
			<article>
				<h2><%= link_to result['title'], result['url'] %></h2>
				<p><%= result['description'] %></p>
			</article>
		<% end %>
	
	<% end %>
	
	<nav class="pagination">
		<span class="prev"><%= link_to '‹ back', search_path(:q => params[:q], :page => @previous_page) unless @previous_page < 1 %></span>
		<span class="page-count">Page <%= @current_page %> of <%= @last_page %></span>
		<span class="next"><%= link_to 'next ›', search_path(:q => params[:q], :page => @next_page) unless @next_page > @last_page %></span>
	</nav>
</section>