html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, img, ins, kbd, q, samp, small, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
body { background: #e8e8e5; color: #444; font: normal 11px/1 "proxima-nova", "Helvetica Neue", Arial, sans-serif; }
h1	{ color: #000; color: rgba(0, 0, 0, 1); font: normal $bold 16px/1 "proxima-nova", "Helvetica Neue", Arial, sans-serif; letter-spacing: 1px; text-shadow: 1px 1px 1px rgba(255, 255, 255, 1); text-transform: uppercase; }
h2	{ color: #000; color: rgba(0, 0, 0, 1); font: normal $semi-bold 14px/1 "proxima-nova", "Helvetica Neue", Arial, sans-serif; letter-spacing: 1px; text-shadow: 1px 1px 1px rgba(255, 255, 255, 1); text-transform: uppercase; }
h3	{ margin: 15px 0; color: #888; color: rgba(0, 0, 0, 0.47); font: normal 600 12px/1 "proxima-nova", "Helvetica Neue", Arial, sans-serif; letter-spacing: 1px; text-shadow: 1px 1px 1px rgba(255, 255, 255, 1); text-transform: uppercase; }
a { color: #000; text-decoration: none; }
a:hover { color: #2084ea; }
#page { position: relative; width: 960px; min-height: 100%; margin: 0 auto; }
#siteHeader { position: relative; padding: 20px 0 0; height: 100px; }
#siteHeader h1 { display: none; }
#ktvLogo { float: left; width: 82px; height: 74px; overflow: hidden; }
#siteNavigation { float: right; margin: 55px 0 0; font-size: 18px; font-weight: 700; letter-spacing: 1px; text-shadow: 1px 1px 1px rgba(255, 255, 255, 1); text-transform: uppercase; }
#siteNavigation li { display: inline; margin: 0 0 0 24px; }
#siteNavigation li :first-child { margin: 0; }
#content { zoom: 1; padding: 120px 0; text-align: center; }
#content:after { content: "\0020"; display: block; height: 0; overflow: hidden; clear: both; }
#content h1 { color: #aaa; font-size: 60px; font-weight: 700; text-shadow: 1px 1px 1px rgba(255, 255, 255, 1); }
#content h2 { margin: 15px 0 0; color: #666; font-size: 18px; font-weight: 600; text-shadow: 1px 1px 1px rgba(255, 255, 255, 1); }
#content img { margin: 20px auto; padding: 10px; background: #fff; border: none; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); }
#siteFooter { position: fixed; left: 0; bottom: 0; width: 100%; height: 50px; padding: 40px 0 0; background: transparent url(/images/bg_site_footer.png) repeat-x bottom; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);  font-weight: bold; }
#siteFooter div { overflow: hidden; zoom: 1; width: 960px; height: 36px; margin: 10px auto 0; color: #000; text-transform: uppercase; }
#siteFooter a { color: #000; }
#siteFooter a:hover, #siteFooter a:active { color: #fff; }
#footerNavigation { float: right; width: 75%; }
#footerNavigation ul { margin: 0; padding: 0; list-style: none; text-align: right; }
#footerNavigation li { display: inline; margin: 0 0 0 20px; }
#cmnd-o { display: inline; vertical-align: bottom; }
#copyright { float: left; margin: 0; }