= form_for([:admin, @poll]) do |f|
  - if @poll.errors.any?
    #error_explanation
      %h2
        = pluralize(@poll.errors.count, "error")
        prohibited this admin_poll from being saved:
      %ul
        - @poll.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .actions
    = f.submit
