%h1 Listing polls
%table
  %tr
    %th Name
    %th
    %th
    %th
  - @polls.each do |poll|
    %tr
      %td= poll.name
      %td= link_to 'Show', [:admin, poll]
      %td= link_to 'Edit', edit_admin_poll_path(poll)
      %td= link_to 'Destroy', [:admin, poll], confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Poll', new_admin_poll_path
