<h1>Listing polls</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @polls.each do |poll| %>
  <tr>
    <td><%= poll.name %></td>
    <td><%= link_to 'Show', [:admin, poll] %></td>
    <td><%= link_to 'Edit', edit_admin_poll_path(poll) %></td>
    <td><%= link_to 'Destroy', [:admin, poll], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Poll', new_admin_poll_path %>
