- title "Cart"
- description "The store is filled with a mixture of products, include some stuff that compliments the lifestyle we are interested in leading. Other items are original creations from our talented Makers and some are Korduroy collaborations with cool companies and aforementioned Makers."
%section#productCart
  %header#contentHeader
    %h1 Store
    %nav.sectionNavigation
      %ul
        %li All prices include shipping!
    %a.button{:href => "/store"} Continue shopping
  #cartWrapper
    %iframe{:frameborder => "none", :height => "680", :src => "http://korduroy.myshopify.com/cart", :width => "960"}
    %p#continueShopping
      %a.button{:href => "/store"} Continue shopping
