<%- title "#{@product.title}" %>
<%- description "#{truncate_html strip_tags(@product.body_html), :length => 250}" %>

<section id="productDetail">
	<header id="contentHeader">
		<h1>Store</h1>
		<nav class="sectionNavigation">
			<ul>
				<li>All prices include shipping!</li>
			</ul>
		</nav>
		<a href="/store" class="button">View all products</a></p>
	</header>

	<div id="product">
		<div id="productImages">
			<div id="largeImage" class="<%= num = @product.images.size > 1 ? 'multi' : 'single' %>">
				<% if @product.images.blank? %>
					<img src="/assets/placeholder_store_large.jpg" alt="<%= @product.title %>">
					<% @pin_img = "assets/placeholder_store_large.jpg" %>
				<% else %>
					<% @pin_img = @product.images.first %>
					<% @product.images.each do |img| %>
						<img src="<%= img.src.gsub(".png", "_large.png").gsub(".jpg", "_large.jpg").gsub(".jpeg", "_large.jpeg") %>" alt="<%= @product.title %>">
					<% end %>
				<% end %>
			</div>
		
			<div id="thumbs">
				<div id="productThumbnails"></div>
				<a class="prev" id="scnPrev" href="#">prev</a>
				<a class="next" id="scnNext" href="#">next</a>
			</div>
		</div>

		<hgroup>
			<h1><%= @product.title %></h1>
			<h2><%= @product.product_type %></h2>
		</hgroup>
		
		<ol id="variants">	
			<% if !@v1.blank? %>
			<li>
				<label for="option1"><%= @product.options.first.name %>:</label>
				<select id="option1" name="option1">
					<option value="-1">Select...</opton>
					<% @v1.each do |v1| %>
					<option value="<%= v1 %>"><%= v1 %></option>
					<% end %>
				</select>
			</li>
			<% end %>
		
			<% if @product.options.size > 1 && !@v2.blank? %>
			<li>
				<label for="option2"><%= @product.options.second.name %>:</label>
				<select id="option2" name="option2">
					<option value="-1">Select...</opton>
						<% @v2.each do |v2| %>
						<option value="<%= v2 %>"><%= v2 %></option>
						<% end %>
				</select>
			</li>
			<% end %>
		
			<% if @product.options.size > 2 && !@v3.blank? %>
			<li>
				<label for="option3"><%= @product.options.third.name %>:</label>
				<select id="option3" name="option3">
					<option value="-1">Select...</opton>
						<% @v3.each do |v3| %>
						<option value="<%= v3 %>"><%= v3 %></option>
						<% end %>
				</select>
			</li>
			<% end %>
		</ol>
	
		<h2 id="price">$<%= @product.price_range %></h2>
		
		<form id="productForm" name="productForm" method="post" action="http://korduroy.myshopify.com/cart/add">
			<input type="hidden" id="vnum" value="<%= @product.variants.size %>">
			<input type="hidden" name="return_to" value="back">
			<span id="variantValues">
				<% @product.variants.each do |v| %>
				<input type="hidden" name="id" value="<%= v.id %>" id="hidden_<%= v.id %>" data-option1="<%= v.option1 %>" data-option2="<%= v.option2 %>" data-option3="<%= v.option3 %>" data-price="<%= v.price %>" data-available="<%= available = (v.inventory_policy == "deny" && v.inventory_quantity < 1)? "no" : "yes" %>">
				<% end %>
			</span>
			<input type="submit" id="add-to-cart" value="Add to Cart"> <a href="/store/cart" class="button">View Cart</a> <div id="cartMsg"></div>
		</form>
		
		<div id="shipping-notice">
			<p><strong>Yo!</strong> Price includes shipping!</p>
		</div>
		
		<%= sanitize(@product.body_html) %>
		
		<% unless @related_maker.blank? %>
			<div id="related_maker">
				<a href="/makers/<%= @related_maker.slug %>/store">
					<img src="<%= avatar = @related_maker.user.avatar.blank? ? "/assets/avatar_small.png" : @related_maker.user.avatar.small %>" class="avatar">
					<h2><%= @related_maker.name %></h2>
					<h3><%= @related_maker.maker_category.name %></h3>
					<img src="/assets/badge_maker_small.png" class="badge" alt="Maker">
				</a>
			</div>
		<% end %>
		
		<ul class="meta">
			<li class="share">
				<div class="pin-button"><a href="http://pinterest.com/pin/create/button/?url=<%= request.url %>&media=http://<%= request.domain %>/<%= @pin_img %>&description=<%= @product.title %>" class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a></div>
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= request.url %>" data-text="<%= @product.title %>" data-count="horizontal" data-via="korduroytv">Tweet</a>
				<div class="fb-like" data-href="<%= request.url %>" data-send="false" data-layout="button_count" data-width="80" data-show-faces="false"></div>
			</li>
		</ul>
		
		<% if !@tags.blank? %>
		<dl class="tagList">
			<dt>Tags:</dt>
			<% @tags.each do |t| %>
			<dd><%= t %></dd>
			<% end %>
		</dl>
		<% end %>
		
		<footer>
			
		</footer>
	</div>
</section>

<%= render "related_items" %>
		
		
		
		
		
		
		
		
		