- title "Thanks for contacting #{@maker.name}"
- description "#{truncate_html strip_tags(@maker.bio), :length => 250}"
= render "makers_header"
#makerContact
  %h1
    Contact #{@maker.name}
  %p Your message has been delivered. Any further correspondence should be handled through email.
  %p Aloha.
= render "makers_footer"
