<%- title "Thanks for contacting #{@maker.name}" %>
<%- description "#{truncate_html strip_tags(@maker.bio), :length => 250}" %>

<%= render "makers_header" %>
	
	<div id="makerContact">
		<h1>Contact <%= @maker.name %></h1>
		
		<p>Your message has been delivered. Any further correspondence should be handled through email.</p>
		<p>Aloha.</p>
	</div>

<%= render "makers_footer" %>