<%= form_for([:makers_admin, @blog], :html => {:multipart => true}) do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<fieldset class="adminForm">
		<div class="field required">
			<%= f.label :title %> <%= f.text_field :title, :class => "slug_input" %>
		</div>
		
		<div class="field required">
		    <%= f.label :slug %> <%= f.text_field :slug, :class => "slug" %>
		</div>
		
		<div class="field required">
		    <%= f.label :post_image %>
		
			<% if !@blog.post_image.blank? %>
			<img src="<%= @blog.post_image.large %>" alt="" class="postImage">
			<% end %>
			
			<%= f.file_field :post_image %>
		</div>
		
		<div id="tagsInput" class="field">
			<label for="product_tags">Tags</label>
			
			<div id="tagTabs">
				<ul>
					<li><a href="#people-tabs">People</a></li>
					<li><a href="#places-tabs">Places</a></li>
					<li><a href="#surfcrafts-tabs">Surfcrafts</a></li>
					<li><a href="#business-tabs">Business</a></li>
					<li><a href="#surf-culture-tabs">Surf Culture</a></li>
					<li><a href="#health-tabs">Health</a></li>
					<li><a href="#self-reliance-tabs">Self-Reliance</a></li>
					<li><a href="#environment-tabs">Environment</a></li>
					<li><a href="#events-tabs">Events</a></li>
					<li><a href="#media-tabs">Media</a></li>
					<li><a href="#themes-tabs">Themes</a></li>
				</ul>
				
				<div id="blog_tags" class="fake-input"><% @blog.tags.each do |tag| %><%= tag %>, <% end %></div>
				
				<ul id="people-tabs" class="tagList">
					<% @people_tags = ["Kelly Slater", "Ryan Burch", "Ryan Tatar", "Cyrus Sutton", "Ryan Lovelace", "Danny Hess", "Richard Kenvin", "Dane Reynolds", "Derek Dunfee", "Tyler Warren", "Neal Purchase", "Daniel Thompson", "Dave Allee", "Wegener", "Adrian Knott", "Derek Hynd", "Ed Sloane", "Steve Pendarvis", "Jeremy Rumas", "Jack Coleman"] %>
					<% @people_tags.each do |t| %>
						<li><a href="#"<% @blog.tags.each do |bt| if t == bt.to_s %> class="active-tag"<% end end %>><%= t %></a></li>
					<% end %>
				</ul>
			
				<ul id="places-tabs" class="tagList">
					<% @places_tags = ["Canada", "Australia", "Japan", "Europe", "Spain", "UK", "Mexico", "Indo", "New York", "Brazil", "West Oz", "Central America", "South America", "East coast US", "South Pacific", "So Cal", "Nor Cal", "beach break", "point break", "San Diego", "Hawaii", "New Zealand", "Africa", "Central California"] %>
					<% @places_tags.each do |t| %>
						<li><a href="#"<% @blog.tags.each do |bt| if t == bt.to_s %> class="active-tag"<% end end %>><%= t %></a></li>
					<% end %>
				</ul>
			
				<ul id="surfcrafts-tabs" class="tagList">
					<% @surfcraft_tags = ["handplane", "alaia", "paipo", "asymmetrics", "kneeboarding", "prone surfing", "2+1", "noseriding", "thruster", "quad", "single fin", "twin fin", "EPS", "Finless", "Longboards", "Shortboards", "hull", "lord board", "bodyboard", "Pendoflex"] %>
					<% @surfcraft_tags.each do |t| %>
						<li><a href="#"<% @blog.tags.each do |bt| if t == bt.to_s %> class="active-tag"<% end end %>><%= t %></a></li>
					<% end %>
				</ul>
			
				<ul id="business-tabs" class="tagList">
					<% @business_tags = ["time management", "industry"] %>
					<% @business_tags.each do |t| %>
						<li><a href="#"<% @blog.tags.each do |bt| if t == bt.to_s %> class="active-tag"<% end end %>><%= t %></a></li>
					<% end %>
				</ul>
			
				<ul id="surf-culture-tabs" class="tagList">
					<% @surf_culture_tags = ["Bodysurfing", "Shaping", "surf films", "contests", "night surfing", "big wave", "cold water surfing", "surf exploration", "surf gear", "travel", "performance", "style", "surfboard design", "surfboard technology", "world tour", "surf film"] %>
					<% @surf_culture_tags.each do |t| %>
						<li><a href="#"<% @blog.tags.each do |bt| if t == bt.to_s %> class="active-tag"<% end end %>><%= t %></a></li>
					<% end %>
				</ul>
			
				<ul id="health-tabs" class="tagList">
					<% @health_tags = ["yoga", "organic", "first aid", "cooking", "health food", "wellness", "fitness"] %>
					<% @health_tags.each do |t| %>
						<li><a href="#"<% @blog.tags.each do |bt| if t == bt.to_s %> class="active-tag"<% end end %>><%= t %></a></li>
					<% end %>
				</ul>
			
				<ul id="self-reliance-tabs" class="tagList">
					<% @self_reliance_tags = ["DIY", "Camping", "gardening", "fermentation/brewing", "fishing/hunting", "water harvesting", "solar", "maintenance and repair", "building", "how to", "craft", "handmade"] %>
					<% @self_reliance_tags.each do |t| %>
						<li><a href="#"<% @blog.tags.each do |bt| if t == bt.to_s %> class="active-tag"<% end end %>><%= t %></a></li>
					<% end %>
				</ul>
			
				<ul id="environment-tabs" class="tagList">
					<% @environment_tags = ["recycling", "CO2", "pollution", "sustainability"] %>
					<% @environment_tags.each do |t| %>
						<li><a href="#"<% @blog.tags.each do |bt| if t == bt.to_s %> class="active-tag"<% end end %>><%= t %></a></li>
					<% end %>
				</ul>
			
				<ul id="events-tabs" class="tagList">
					<% @events_tags = ["film premiere", "art show", "workshop", "contest", "film festival", "festival", "screening", "surfboard convention"] %>
					<% @events_tags.each do |t| %>
						<li><a href="#"<% @blog.tags.each do |bt| if t == bt.to_s %> class="active-tag"<% end end %>><%= t %></a></li>
					<% end %>
				</ul>
			
				<ul id="media-tabs" class="tagList">
					<% @media_tags = ["film", "digital", "tech", "DSLR", "GoPro", "post production", "shooting", "animation", "time lapse", "documentary", "magazine", "website", "zine", "Filmmaking", "Photography", "Film Trailer", "Super 8"] %>
					<% @media_tags.each do |t| %>
						<li><a href="#"<% @blog.tags.each do |bt| if t == bt.to_s %> class="active-tag"<% end end %>><%= t %></a></li>
					<% end %>
				</ul>
			
				<ul id="themes-tabs" class="tagList">
					<% @themes_tags = ["Art", "Craft", "Food", "Home", "Apparel", "Art", "Books", "Outdoors", "Skate", "Snow", "Wood", "3D", "self reliance", "health", "media", "surf crafts", "surf culture", "business", "environment", "events", "self sufficient", "travel", "music", "rock climbing", "auto", "hipster", "holidays", "gifts", "women", "gear", "rant", "vintage", "culture", "non profit org", "comedy", "nature", "adventure", "community", "bicycle", "technology", "design", "artist"] %>
					<% @themes_tags.each do |t| %>
						<li><a href="#"<% @blog.tags.each do |bt| if t == bt.to_s %> class="active-tag"<% end end %>><%= t %></a></li>
					<% end %>
				</ul>
			</div>
			
			<% @blog.tags.each do |tag| %>
				<input type="hidden" id="blog_tag_list_<%= tag %>" name="blog[tag_list][]" value="<%= tag %>">
			<% end %>
		</div>
		
		<div class="field checkbox">
		    <%= f.check_box :visible %> <%= f.label :visible %> 
		</div>

		<div class="field checkbox">
			<%= f.check_box :comments_closed %> <%= f.label :comments_closed %>
		</div>

		<div class="field required">
		    <%= f.label :content %> <%= f.text_area :content %>
		</div>
		
		<div class="actions">
			<%= f.submit %>
		</div>
		
	</fieldset>
<% end %>

<% unless @blog.new_record? %>
	<fieldset class="adminForm">
		<!-- stubbed in for inline content images -->
		<div id="imagesInput" class="field">
			<label for="">Content Images</label>
			<p class="note">Upload images for use within the content area of your post. Drag the image into place in the editor window.</p>
			<ul class="imagesList" data-blogid="<%= @blog.id %>">
				<% @blog.images.each do |image| %>
				<li>
					<img src="<%= image.image.url %>" class="inlinePostImage" data-blogid="" data-imageid="">
					<a href="/makers_admin/blogs/<%= @blog.id %>/images/<%= image.id %>" class="button delete">Delete</a>
				</li>
				<% end %>
			</ul>
			
			
			<div id="container">
			    <ul id="filelist">
					<li>No runtime found.</li>
				</ul>
			    <a id="pickfiles" href="#" class="button">Select Images</a>
			    <a id="uploadfiles" href="#" class="button">Upload Images</a>
			</div>	
		</div>
	</fieldset>
<% end %>
