:javascript
  $(document).ready(function() {
    if ($("#makers_admin-blogs_controller").length) {
      var uploader = new plupload.Uploader({
      	runtimes : 'gears,html5,flash,silverlight',
      	browse_button : 'pickfiles',
      	container : 'container',
      	max_file_size : '10mb',
      	url : "/makers_admin/blogs/ @blog.id /images",
      	flash_swf_url : '/assets/plupload/plupload.flash.swf',
      	silverlight_xap_url : '/assets/plupload/plupload.silverlight.xap',
      	filters : [
      		{title : "Image files", extensions : "jpeg,jpg,gif,png"},
      		{title : "Zip files", extensions : "zip"}
      	],
      	//resize : {width : 320, height : 240, quality : 90},
      	multipart: true,
       	multipart_params: {
      		"authenticity_token" : ' form_authenticity_token '
      	}
      });

      uploader.bind('Init', function(up, params) {
      	$('#filelist').html("");
      	$("#uploadfiles").hide();
      });

      $('#uploadfiles').click(function(e) {
      	uploader.start();
      	e.preventDefault();
      });

      uploader.init();

      uploader.bind('FilesAdded', function(up, files) {
      	$.each(files, function(i, file) {
      		$('#filelist').append(
      			'' +
      			file.name + ' (' + plupload.formatSize(file.size) + ') ' +
      		'');
      	});

      	$("#uploadfiles").show();

      	up.refresh(); // Reposition Flash/Silverlight
      });

      uploader.bind('UploadProgress', function(up, file) {
      	$('#' + file.id + " em").html(file.percent + "%");
      });

      uploader.bind('Error', function(up, err) {
      	$('#filelist').append("Error: " + err.code +
      		", Message: " + err.message +
      		(err.file ? ", File: " + err.file.name : "") +
      		""
      	);

      	up.refresh(); // Reposition Flash/Silverlight
      });

      uploader.bind('FileUploaded', function(up, file) {
      	$('#' + file.id + " em").html("100%");

      	if(this.total.queued == 0) {
      		var blog_id = $('.imagesList').data('blogid')
      		$(".imagesList").load('/makers_admin/blogs/'+blog_id+'/images')
      	}
      });
    }
  });

