<form id="productForm" method="post" action="/makers_admin/stores/new_product" accept-charset="UTF-8" enctype="multipart/form-data">
	<fieldset class="adminForm">
		<legend>Product Info</legend>
		
		<input type="hidden" id="authenticity_token" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="hidden" id="vendor" name="vendor" value="<%= mid = (@maker.id < 10) ? "0#{@maker.id}" : @maker.id %>">
		<input type="hidden" id="collection_id" name="collection_id" value="<%= @maker.collection_id %>">
		
		<div class="field required">
			<label for="title">Product Name</label>
			<input type="text" id="title" name="title" value="">
		</div>

		<div class="field required">
			<div class="custom_option">
				<label for="product_type">Product Type</label>
				<select id="product_type" name="product_type" class="custom_option">
					<% @types.each do |t| %>
					<option value="<%= t %>"><%= t %></option>
					<% end %>
					<option value>----------------</option>
					<option value="create_new">Create new type...</option>
				</select>
				<input type="text" id="product_type_custom" name="product_type" size="40" class="create_new_input" value="<%= @types.first %>">
			</div>
		</div>
		
		<div class="field">
			<label for="product_body_html">Description</label>
			<textarea id="body_html" name="body_html" rows="5" cols="50"></textarea>
		</div>
		
		<div id="tagsInput" class="field">
			<label for="tags">Tags</label>
			<input type="text" id="tags" name="tags" value="" readonly="readonly">
			<ul class="tagList">
				<% @tags.each do |t| %>
				<li><a href="#"><%= t %></a></li>
				<% end %>
			</ul>
			<p class="note">Tagging your products will enable them to appear in a 'related items' list on other content pages throughout the site.</p>
		</div>
		
		<!--div class="actions">
			<input type="submit" value="Update Product">
		</div-->
	</fieldset>
	
	<fieldset id="product-image-fields" class="adminForm">
		<legend>Product Images</legend>
		
		<div id="imagesInput" class="field">
			<ul class="imagesList sortable">
			</ul>
			<%= file_field :product_image, :product_image %>
		</div>
	</fieldset>

	<fieldset id="pricing-and-option-fields" class="adminForm">
		<legend>Pricing &amp; Options</legend>
		
		<div id="productOptions">
			<div id="option1-fields" class="field columns2">
				<h3>Options</h3>
				<p>Does your product require selectable options such as sizes, colors, styles or shipping locations? You can add up to 3 options and default values here, and finish entering values once the product has been saved. If your product does not require selectable options, you can leave this section blank.</p>
			
				<div>
					<label for="option_selector_1">Option 1:</label>
					<select id="option_selector_1" name="option_name_1" class="custom_option">
						<option value="Shipping">Shipping</option>
					</select>
				</div>
			
				<div>
					<label for="option_value_1">Default Value:</label>
					<input type="text" id="option_value_1" name="option_value_1" size="40" value="Domestic (U.S.)">
				</div>
			</div>
		
			<div id="option2-fields" class="field columns2">
				<div>
					<label for="option_selector_2">Option 2:</label>
					<select id="option_selector_2" name="option_name_2" class="custom_option">
						<option value="Title">Select an option...</option>
						<option value="Size">Size</option>
						<option value="Color">Color</option>
						<option value="Material">Material</option>
						<option value="Style">Style</option>
					</select>
				</div>
			
				<div>
					<label for="option_value_2">Default Value:</label>
					<input type="text" id="option_value_2" name="option_value_2" size="40" value="">
				</div>
			</div>
		
			<div id="option3-fields" class="field columns2">
				<div>
					<label for="option_selector_3">Option 3:</label>
					<select id="option_selector_3" name="option_name_3" class="custom_option">
						<option value="Title">Select an option...</option>
						<option value="Size">Size</option>
						<option value="Color">Color</option>
						<option value="Material">Material</option>
						<option value="Style">Style</option>
					</select>
				</div>
			
				<div>
					<label for="option_value_3">Default Value:</label>
					<input type="text" id="option_value_3" name="option_value_3" size="40" value="">
				</div>
			</div>
		
			<div class="actions">
				<button type="button" id="addOptionButton">Add Another Option</button>
				<a href="#" class="cancel">Remove option above</a>
			</div>
		</div>
		
		<div id="productVariants">
			<div class="field inline columns4">
				<h3>Pricing &amp; Inventory</h3>
			
				<div class="required">
					<label for="price">Selling Price</label>
					<input type="text" id="price" name="price" size="10" value="0.00"> USD
				</div>
			
				<div class="required">
					<label for="weight">Weight</label>
					<input type="text" id="weight" name="weight" size="10" value="0.0"> LBS
				</div>
			
				<div class="">
					<label for="inventory_quantity">Qty in stock</label>
					<input type="text" id="inventory_quantity" name="inventory_quantity" size="10" value="" disabled="disabled" class="disabled">
				</div>
			
				<div>
					<label for="sku">SKU:</label>
					<input type="text" id="sku" name="sku" size="25" value="">
				</div>
			</div>
		
			<div class="field checkbox">
				<input type="checkbox" id="track_inventory" name="track_inventory">
				<label for="track_inventory">Track Inventory</label>
				<span class="note">Item will be listed as "Sold Out" once in-stock quantity reaches zero.</span>
			</div>

			<div class="actions">
				<input type="submit" value="Create Product">
			</div>
		</div>
	</fieldset>
</form>