= render "makers_header"
#makerStore
  %form#productForm{"accept-charset" => "UTF-8", :action => "/makers_admin/stores/#{@product.id}/update", :enctype => "multipart/form-data", :method => "post"}
    %fieldset.adminForm
      %legend Product Info
      %input#authenticity_token{:name => "authenticity_token", :type => "hidden", :value => form_authenticity_token}/
      %input#vendor{:name => "vendor", :type => "hidden", :value => mid = (@maker.id < 10) ? "0#{@maker.id}" : @maker.id}/
      %input#collection_id{:name => "collection_id", :type => "hidden", :value => @maker.collection_id}/
      .field.required
        %label{:for => "title"} Product Title
        %input#title{:name => "title", :type => "text", :value => @product.title}/
      .field.required
        .custom_option
          %label{:for => "product_type"} Product Type
          %input#custom_product_type.create_new_input{:name => "product_type", :size => "40", :type => "text", :value => @product.product_type}/
          %select#product_type.custom_option{:name => "product_type"}
            - @types.each do |t|
              <option value="#{t}"
              - if @product.product_type == t
                selected="selected"
              >#{t}
            %option{:value => ""} ----------------
            %option{:value => "create_new"} Create new type...
      .field
        %label{:for => "body_html"} Description
        %textarea#body_html{:cols => "50", :name => "body_html", :rows => "5"}= @product.body_html
      #tagsInput.field
        %label{:for => "tags"} Tags
        %input#tags{:name => "tags", :readonly => "readonly", :type => "text", :value => @product.tags}/
        %ul.tagList
          - @tags.each do |t|
            %li
              <a href="#"
              - unless @product.tags.blank?
                - if @product.tags.include? t
                  class="active-tag"
              >#{t}
        %p.note Tagging your products will enable them to appear in a 'related items' list on other content pages throughout the site.
      .actions
        %input{:type => "submit", :value => "Update Product Info"}/
  %form#productImagesForm{"accept-charset" => "UTF-8", :action => "/makers_admin/stores/#{@product.id}/images", :enctype => "multipart/form-data", :method => "post"}
    %input#authenticity_token{:name => "authenticity_token", :type => "hidden", :value => form_authenticity_token}/
    %fieldset.adminForm
      %legend Product Images
      #imagesInput.field
        %ul.imagesList
          - @product.images.each do |pi|
            %li
              %img.productImage{"data-imageid" => pi.id, "data-productid" => @product.id, :src => pi.src.gsub(".jpg", "_compact.jpg")}/
              %a.button.delete{:href => "/makers_admin/stores/#{@product.id}/images/#{pi.id}"} Delete
        = file_field :product_image, :product_image
      .actions
        %input{:type => "submit", :value => "Save Image"}/
  %form#productOptionForm{"accept-charset" => "UTF-8", :action => "/makers_admin/stores/#{@product.id}/update_options", :enctype => "multipart/form-data", :method => "post"}
    %fieldset.adminForm
      %legend Pricing &amp; Options
      %input#authenticity_token{:name => "authenticity_token", :type => "hidden", :value => form_authenticity_token}/
      %input#product_id{:name => "product_id", :type => "hidden", :value => @product.id}/
      #editProductOptions.field{"data-step" => @product.options.size}
        %h3 Options
        %p Does your product require selectable options such as sizes, colors or styles? You can add up to 3 options and default values here, and finish entering values once the product has been saved. If your product does not require selectable options, you can leave this section blank.
        #option1-fields.field.columns3
          %div
            %label{:for => "option_selector_1"} Option 1:
            %select#option_selector_1{:name => "option_name_1"}
              %option{:value => "Title"} Select an option...
              <option value="Shipping"#{sel = @product.options.first.name == "Shipping"? 'selected="selected"' : ""}>Shipping
          %div
            %label Values:
            - if @product.variants.first.option1 == "Default Title"
              %input#option_value_1{:name => "option_value_1", :placeholder => @product.variants.first.option1, :type => "text"}/
            - else
              %p= @opt1_values.join(', ')
          .actions
        - if @product.options.second.blank?
          #option2-fields.field.columns3
            %div
              %label{:for => "option_selector_2"} Option 2:
              %select#option_selector_2{:name => "option_name_2"}
                %option{:value => "Title"} Select an option...
                %option{:value => "Size"} Size
                %option{:value => "Color"} Color
                %option{:value => "Material"} Material
                %option{:value => "Style"} Style
                %option{:value => "Shipping"} Shipping
            %div
              %label{:for => "option_value_2"} Values:
              %input#option_value_2{:name => "option_value_2", :type => "text", :value => ""}/
            .actions
              %button.button.cancel{:type => "button"} Cancel
        - else
          #option2-fields.field.columns3.new
            %div
              %label{:for => "option_selector_2"} Option 2:
              %select#option_selector_2{:name => "option_name_2"}
                %option{:value => "Title"} Select an option...
                <option value="Size"#{sel2 = @product.options.second.name == "Size"? 'selected="selected"' : ""}>Size
                <option value="Color"#{sel2 = @product.options.second.name == "Color"? 'selected="selected"' : ""}>Color
                <option value="Material"#{sel2 = @product.options.second.name == "Material"? 'selected="selected"' : ""}>Material
                <option value="Style"#{sel2 = @product.options.second.name == "Style"? 'selected="selected"' : ""}>Style
                <option value="Shipping"#{sel = @product.options.second.name == "Shipping"? 'selected="selected"' : ""}>Shipping
            %div
              %label Values:
              %p= @opt2_values.join(', ')
            .actions
              - if @product.options.third.blank?
                %button.button.delete{:type => "button"} Delete
        - if @product.options.third.blank?
          #option3-fields.field.columns3.new
            %div
              %label{:for => "option_selector_3"} Option 3:
              %select#option_selector_3{:name => "option_name_3"}
                %option{:value => "Title"} Select an option...
                %option{:value => "Size"} Size
                %option{:value => "Color"} Color
                %option{:value => "Material"} Material
                %option{:value => "Style"} Style
            %div
              %label Values:
              %p
                %input#option_value_3{:name => "option_value_3", :type => "text", :value => ""}/
            %div
              %button.button.cancel{:type => "button"} Cancel
        - else
          #option3-fields.field.columns3
            %div
              %label{:for => "option_selector_3"} Option 3:
              %select#option_selector_3{:name => "option_name_3"}
                %option{:value => "Title"} Select an option...
                <option value="Size"#{sel = @product.options.third.name == "Size"? 'selected="selected"' : ""}>Size
                <option value="Color"#{sel = @product.options.third.name == "Color"? 'selected="selected"' : ""}>Color
                <option value="Material"#{sel = @product.options.third.name == "Material"? 'selected="selected"' : ""}>Material
                <option value="Style"#{sel = @product.options.third.name == "Style"? 'selected="selected"' : ""}>Style
                <option value="Shipping"#{sel = @product.options.third.name == "Shipping"? 'selected="selected"' : ""}>Shipping
            %div
              %label Values:
              %p= @opt3_values.join(', ')
            .actions
              %a.button.delete{:href => "#"} Delete
        .actions
          %input#saveOptions{:type => "submit", :value => "Save Options"}/
          - if @product.options.second.blank? || @product.options.third.blank?
            %button#addOptionButton{:type => "button"} Add New Option
  %fieldset#pricing-and-option-fields.adminForm
    .field
      %h3 Pricing &amp; Inventory
      - if !@product.variants.first.inventory_management.nil?
        %p.note
          %strong Inventory Tracking On:
          When 'in stock' levels reach zero, customers will no longer be able to purchase the item.
      %table#variantsTable{:cellspacing => "0"}
        %thead
          %tr
            %th= @product.options.first.name
            %th
              - unless @product.options.second.blank?
                = @product.options.second.name
            %th
              - unless @product.options.third.blank?
                = @product.options.third.name
            %th.sku-cell SKU
            %th.price-cell
              Price
              %span USD
            %th.stock-cell In Stock
            %th.actions-cell
        %tfoot
          %tr.new-variant
            %td.variant-cell{:colspan => "7"}
              %form{:action => "/makers_admin/stores/#{@product.id}/variant/new", :method => "post"}
                %input#authenticity_token{:name => "authenticity_token", :type => "hidden", :value => form_authenticity_token}/
                %input#product_id{:name => "product_id", :type => "hidden", :value => @product.id}/
                #newVariantForm.field.variant.editable
                  %h2 Add New Variant
                  .inline.columns3
                    %div
                      %label.option1-label{:for => "new_option1"}/
                      %h3
                        = @product.options.first.name
                        \:
                      %input#new_option1{:name => "option1", :size => "30", :type => "text", :value => ""}/
                    - if @product.options.size > 1
                      %div
                        %label.option2-label{:for => "new_option2"}/
                        %h3
                          = @product.options.second.name
                          \:
                        %input#new_option2{:name => "option2", :size => "30", :type => "text", :value => ""}/
                    - if @product.options.size > 2
                      %div
                        %label.option3-label{:for => "new_option3"}/
                        %h3
                          = @product.options.third.name
                          \:
                        %input#new_option3{:name => "option3", :size => "30", :type => "text", :value => ""}/
                  .inline.columns4.variant-data
                    .required
                      %label{:for => "new_price"} Selling Price
                      %input#new_price{:name => "price", :size => "10", :type => "text", :value => "0.00"}/
                      USD
                    .required
                      %label{:for => "new_weight"} Weight
                      %input#new_weight{:name => "weight", :size => "10", :type => "text", :value => "0.0"}/
                      LBS
                    .required
                      %label{:for => "inventory_quantity_"} Qty in stock
                      %input#inventory_quantity_.qty{:name => "inventory_quantity", :size => "10", :type => "text", :value => "1"}/
                    %div
                      %label{:for => "new_sku"} SKU:
                      %input#new_sku{:name => "sku", :size => "20", :type => "text", :value => ""}/
                  .checkbox.inventory
                    %input#track_inventory.track_qty{"data-pv" => "", :name => "track_inventory", :type => "checkbox"}/
                    %label{:for => "track_inventory"} Track Inventory
                    %span.note Item will be listed as "Sold Out" once in-stock quantity reaches zero.
                  .actions
                    %input{:type => "submit", :value => "Save"}/
                    %a.cancel{:href => "#"} cancel
        %tbody
          - @product.variants.each do |pv|
            %tr{:class => "tr-#{pv.id}"}
              %td.option1-cell= pv.option1
              %td.option2-cell= pv.option2
              %td.option3-cell= pv.option3
              %td.sku-cell= pv.sku
              %td.price-cell
                $#{pv.price}
              %td.stock-cell= raw track = (pv.inventory_management == "shopify")? pv.inventory_quantity : "<span>&infin;</span>"
              %td.actions-cell
                %a.button.edit{"data-vid" => pv.id, :href => "#"} Edit
                - if pv.position > 1
                  %a.button.delete{"data-vid" => pv.id, :href => "/makers_admin/stores/#{@product.id}/variant/#{pv.id}"} Delete
            %tr{:class => "tr-#{pv.id}"}
              %td.variant-cell{:colspan => "7"}
                %form{:action => "/makers_admin/stores/#{@product.id}/variant/#{pv.id}/update", :method => "post"}
                  %input#authenticity_token{:name => "authenticity_token", :type => "hidden", :value => form_authenticity_token}/
                  %input#product_id{:name => "product_id", :type => "hidden", :value => @product.id}/
                  .field.variant.editable{:id => "v-#{pv.id}"}
                    .inline.columns3
                      %div
                        %label.option1-label{:for => "option1_#{pv.id}"}/
                        %h3
                          = @product.options.first.name
                          \:
                        %input{:id => "option1_#{pv.id}", :name => "option1", :size => "30", :type => "text", :value => pv.option1}/
                      - if @product.options.size > 1
                        %div
                          %label.option2-label{:for => "option2_#{pv.id}"}/
                          %h3
                            = @product.options.second.name
                            \:
                          %input{:id => "option2_#{pv.id}", :name => "option2", :size => "30", :type => "text", :value => pv.option2}/
                      - if @product.options.size > 2
                        %div
                          %label.option3-label{:for => "option3_#{pv.id}"}/
                          %h3
                            = @product.options.third.name
                            \:
                          %input{:id => "option3_#{pv.id}", :name => "option3", :size => "30", :type => "text", :value => pv.option3}/
                    .inline.columns4.variant-data
                      .required
                        %label{:for => "price_#{pv.id}"} Selling Price
                        %input{:id => "price_#{pv.id}", :name => "price", :size => "10", :type => "text", :value => pv.price}/
                        USD
                      .required
                        %label{:for => "weight_#{pv.id}"} Weight
                        %input{:id => "weight_#{pv.id}", :name => "weight", :size => "10", :type => "text", :value => "%.1f" % (pv.grams.to_i / 453.5924)}/
                        LBS
                      .required
                        %label{:for => "inventory_quantity_#{pv.id}"} Qty in stock
                        %input.qty{:id => "inventory_quantity_#{pv.id}", :name => "inventory_quantity", :size => "10", :type => "text", :value => track = (pv.inventory_management == "shopify")? pv.inventory_quantity : ""}/
                      %div
                        %label{:for => "sku_#{pv.id}"} SKU:
                        %input{:id => "sku_#{pv.id}", :name => "sku", :size => "20", :type => "text", :value => pv.sku}/
                    .checkbox.inventory
                      <input type="checkbox" id="track_inventory_#{pv.id}" name="track_inventory" class="track_qty"#{track = (pv.inventory_management == "shopify")? ' checked="checked"' : ""} data-pv="#{pv.id}">
                      %label{:for => "track_inventory_#{pv.id}"} Track Inventory
                      %span.note Item will be listed as "Sold Out" once in-stock quantity reaches zero.
                    .actions
                      %input{:type => "submit", :value => "Update"}/
                      %a.cancel{"data-vid" => pv.id, :href => "#"} cancel
      %p
        %a#addVariant.button.add{:href => "#"} Add New Variant
= render "makers_footer"
