<%= render "makers_header" %>

	<div id="makerStore" class="orders">
		<h1>Orders</h1>
		<p id="return-button"><a href="/makers/<%= @maker.slug %>/store" class="button">Back to store</a></p>
		
		<% if !@items.blank? %>
			<table class="ordersTable" cellspacing="0">
				<thead>
					<tr>
						<th class="order-number">Order #</th>
						<th class="order-status">Status</th>
						<th class="order-customer">Customer</th>
						<th class="order-qty">Qty</th>
						<th class="order-product">Product</th>
						<th class="order-price">Price</th>
					</tr>
				</thead>
				<tbody>
			<% @orders.each do |order| %>
				<% count = 1 %>
				<% @items.each do |item| %>
					<% if item.order_id == order.id %>
					<tr class="<%= status = (item.item_fulfillment_status.nil?) ? "open" : "shipped" %><% if count > 1 %> joint<% end %>">
						<td class="order-number">
							<% if count == 1 %>
							<a href="/makers_admin/stores/order/<%= order.id %>"><%= order.order_name %></a>
							<% end %>
						</td>
						<td class="order-status"><span><%= status = (item.item_fulfillment_status.nil?) ? "open" : "shipped" %></span></td>
						<td class="order-customer">
							<% if count == 1 %>
							<a href="mailto:<%= order.customer_email %>?subject=Korduroy.tv Store Order <%= order.order_name %>"><%= order.customer_shipping_name %></a>
							<% end %>
						</td>
						<td class="order-qty"><%= item.item_qty %></td>
						<td class="order-product"><%= item.item_name %></td>
						<td class="order-price">$<%= item.item_price %></td>
					</tr>
					<% count = count+1%>
					<% end %>
				<% end %>
			<% end %>
			</tbody>
		</table>
		<% else %>
			<h3>You do not have any open orders in the system.</h3>
		<% end %>
	</div>

<%= render "makers_footer" %>