<div id="signUp">
	<header id="modalHeader">
		<h1>Change your password</h1>
	</header>
	
	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
		<%= devise_error_messages! %>
		<%= f.hidden_field :reset_password_token %>
		
		<fieldset id="regForm">
			<div class="field">
				<%= f.label :password, "New password" %> <%= f.password_field :password %>
			</div>
			
			<div class="field">
				<%= f.label :password_confirmation, "Confirm new password" %> <%= f.password_field :password_confirmation %>
			</div>
			
			<div class="actions">
				<%= f.submit "Change my password" %>
				<a href="#" class="sbCancelLink">Cancel</a>
			</div>
		</fieldset>
	<% end %>
</div>

<%= render :partial => "devise/shared/links" %>