#signUp
  %header#modalHeader
    %h1 Change your password
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    %fieldset#regForm
      .field
        = f.label :password, "New password"
        = f.password_field :password
      .field
        = f.label :password_confirmation, "Confirm new password"
        = f.password_field :password_confirmation
      .actions
        = f.submit "Change my password"
        %a.sbCancelLink{:href => "#"} Cancel
= render :partial => "devise/shared/links"
