<div id="signUp">
	<header id="modalHeader">
		<h1>Forgot your password?</h1>
	</header>

	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
		<%= devise_error_messages! %>

		<fieldset id="regForm">
			<div class="field">
				<%= f.label :email, "Email Address" %> <%= f.email_field :email %>
			</div>
		
			<div class="actions">
				<%= f.submit "Get Reset Instructions" %>
				
				<%- if controller_name != 'sessions' %>
				  <%= link_to "Sign in", new_session_path(resource_name) %>
				<% end -%>

				<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
					<%= link_to "Sign up", new_registration_path(resource_name) %>
				<% end -%>
			</div>
		</fieldset>
	<% end %>
</div>
