#signUp
  %header#modalHeader
    %h1 Forgot your password?
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
    = devise_error_messages!
    %fieldset#regForm
      .field
        = f.label :email, "Email Address"
        = f.email_field :email
      .actions
        = f.submit "Get Reset Instructions"
        - if controller_name != 'sessions'
          = link_to "Sign in", new_session_path(resource_name)
        - if devise_mapping.registerable? && controller_name != 'registrations'
          = link_to "Sign up", new_registration_path(resource_name)
