#home-scroller
  #hs
    / latest show episode
    .panel.show{"data-showid" => @show1.vimeo}
      .panel-content
        %a{:href => "/shows/#{@show1.show_category.slug}/#{@show1.slug}"}
          .wrapper
            %img.featured-image{:alt => @show1.title, :src => @show1.thumbnail.gsub("_200.", "_960."), :width => "770"}
            .featured-copy
              = simple_format(sanitize (truncate_html @show1.description, :length => 250), :tags => %W(p))
          %h1
            %span.date New Show
            = @show1.title
            %span.category
              = @show1.show_category.title
          %img.badge{:alt => "Show", :src => "/assets/badge_show_large.png"}
    / latest ktv blog post
    .panel.blog
      .panel-content
        %a{:href => "/blog/#{@scroll_ktv_blog1.created_at.year}/#{@scroll_ktv_blog1.slug}"}
          .wrapper
            - if @scroll_ktv_blog1.post_image.blank?
              %img.featured-image{:alt => "", :src => "/assets/placeholder_xlarge.jpg"}
            - else
              %img.featured-image{:src => @scroll_ktv_blog1.post_image.xlarge}
            .featured-copy
              = simple_format(sanitize (truncate_html @scroll_ktv_blog1.content, :length => 300), :tags => %W(p))
          - unless @scroll_ktv_blog1.reblogged_at.blank?
            - @usr = @scroll_ktv_blog1.user
            - @mkr = @usr.maker
            %h1
              %span.date= l @scroll_ktv_blog1.created_at, :format => :poll
              %span.reblog Reblogged:
              = @scroll_ktv_blog1.title
            .related_maker
              %img.avatar{:src => @usr.avatar.large}
                %h2= @mkr.name
                %h3= @mkr.maker_category.name
          - else
            %h1
              %span.date= l @scroll_ktv_blog1.created_at, :format => :poll
              = @scroll_ktv_blog1.title
          %img.badge{:alt => "Blog", :src => "/assets/badge_blog_large.png"}
    / latest ktv blog post
    .panel.blog
      .panel-content
        %a{:href => "/blog/#{@scroll_ktv_blog2.created_at.year}/#{@scroll_ktv_blog2.slug}"}
          .wrapper
            - if @scroll_ktv_blog2.post_image.blank?
              %img.featured-image{:alt => "", :src => "/assets/placeholder_xlarge.jpg"}
            - else
              %img.featured-image{:src => @scroll_ktv_blog2.post_image.xlarge}
            .featured-copy
              = simple_format(sanitize (truncate_html @scroll_ktv_blog2.content, :length => 300), :tags => %W(p))
          - unless  @scroll_ktv_blog2.reblogged_at.blank?
            - @usr = @scroll_ktv_blog2.user
            - @mkr = @usr.maker
            %h1
              %span.date= l @scroll_ktv_blog2.created_at, :format => :poll
              %span.reblog Reblogged:
              = @scroll_ktv_blog2.title
            .related_maker
              %img.avatar{:src => @usr.avatar.large}
                %h2= @mkr.name
                %h3= @mkr.maker_category.name
          - else
            %h1
              %span.date= l @scroll_ktv_blog2.created_at, :format => :poll
              = @scroll_ktv_blog2.title
          %img.badge{:alt => "Blog", :src => "/assets/badge_blog_large.png"}
    / Latest Product
    - unless @scroll_makers.blank?
      / maker
      .panel.maker
        .panel-content
          %a{:href => "/makers/#{@scroll_makers.first.slug}"}
            .wrapper
              - if @scroll_makers.first.bio_image.blank?
                %img.featured-image{:alt => "", :src => "/assets/placeholder_xlarge.jpg"}
              - else
                %img.featured-image{:src => @scroll_makers.first.bio_image.xlarge}
              .featured-copy
                = simple_format(sanitize (truncate_html @scroll_makers.first.bio, :length => 300), :tags => %W(p))
            %h1= @scroll_makers.first.name
            %img.badge{:alt => "Maker", :src => "/assets/badge_maker_large.png"}
    - unless @scroll_products.blank?
      / product
      .panel.product
        .panel-content
          %a{:href => "/store/#{@scroll_products.first.id}"}
            .wrapper
              - if @scroll_products.first.images.blank?
                %img.featured-image{:alt => "", :src => "/assets/placeholder_xlarge.jpg"}
              - else
                %img.featured-image{:src => @scroll_products.first.images.first.src}
              .featured-copy
                = simple_format(sanitize (truncate_html @scroll_products.first.body_html, :length => 300), :tags => %W(p))
            %h1
              = @scroll_products.first.title
              %span.price
                $#{@scroll_products.first.price_range}
            %img.badge{:alt => "Store", :src => "/assets/badge_store_large.png"}
    / Show 2
    - unless @show2.blank?
      / latest show episode
      .panel.show{"data-showid" => @show2.vimeo}
        .panel-content
          %a{:href => "/shows/#{@show2.show_category.slug}/#{@show2.slug}"}
            .wrapper
              %img.featured-image{:alt => @show2.title, :src => @show2.thumbnail.gsub("_200.", "_960."), :width => "770"}
              .featured-copy
                = simple_format(sanitize (truncate_html @show2.description, :length => 250), :tags => %W(p))
            %h1
              = @show2.title
              %span.category
                = @show2.show_category.title
            %img.badge{:alt => "Show", :src => "/assets/badge_show_large.png"}
    - unless @scroll_ktv_blog3.blank?
      / latest ktv blog post
      .panel.blog
        .panel-content
          %a{:href => "/blog/#{@scroll_ktv_blog3.created_at.year}/#{@scroll_ktv_blog3.slug}"}
            .wrapper
              - if @scroll_ktv_blog3.post_image.blank?
                %img.featured-image{:alt => "", :src => "/assets/placeholder_xlarge.jpg"}
              - else
                %img.featured-image{:src => @scroll_ktv_blog3.post_image.xlarge}
              .featured-copy
                = simple_format(sanitize (truncate_html @scroll_ktv_blog3.content, :length => 300), :tags => %W(p))
            - unless @scroll_ktv_blog3.reblogged_at.blank?
              - @usr = @scroll_ktv_blog3.user
              - @mkr = @usr.maker
              %h1
                %span.date= l @scroll_ktv_blog3.created_at, :format => :poll
                %span.reblog Reblogged:
                = @scroll_ktv_blog3.title
              .related_maker
                %img.avatar{:src => @usr.avatar.large}
                  %h2= @mkr.name
                  %h3= @mkr.maker_category.name
            - else
              %h1
                %span.date= l @scroll_ktv_blog3.created_at, :format => :poll
                = @scroll_ktv_blog3.title
            %img.badge{:alt => "Blog", :src => "/assets/badge_blog_large.png"}

      / Maker Post should be disabled, but wanted to preserve the code
      - unless @scroll_maker_blog.blank?
        / latest maker post
        .panel.blog
          .panel-content
            %a{:href => "/makers/#{@scroll_maker_blog.user.maker.slug}/blog/#{@scroll_maker_blog.created_at.year}/#{@scroll_maker_blog.slug}/#{@scroll_maker_blog.id}"}
              .wrapper
                - if @scroll_maker_blog.post_image.blank?
                  - if @scroll_maker_blog.user.maker.bio_image.blank?
                    %img.featured-image{:src => "/assets/placeholder_xlarge.jpg"}
                  - else
                    %img.featured-image{:src => @scroll_maker_blog.user.maker.bio_image.xlarge}
                - else
                  %img.featured-image{:src => @scroll_maker_blog.post_image.xlarge}
                .featured-copy
                  = simple_format(sanitize (truncate_html @scroll_maker_blog.content, :length => 300), :tags => %W(p))
              %h1
                %span.date= l @scroll_maker_blog.created_at, :format => :poll
                = @scroll_maker_blog.title
              %img.badge{:alt => "Blog", :src => "/assets/badge_blog_large.png"}
      - unless @show3.blank?
        / latest show episode
        #latestShow3.panel.show{"data-showid" => @show3.vimeo}
          .panel-content
            %a{:href => "/shows/#{@show3.show_category.slug}/#{@show3.slug}"}
              .wrapper
                %img.featured-image{:alt => @show3.title, :src => @show3.thumbnail.gsub("_200.", "_960."), :width => "770"}
                .featured-copy
                  = simple_format(sanitize (truncate_html @show3.description, :length => 250), :tags => %W(p))
              %h1
                = @show3.title
                %span.category= @show3.show_category.title
              %img.badge{:alt => "Show", :src => "/assets/badge_show_large.png"}

  %a#hsPrev{:href => "#"} Previous
  %a#hsNext{:href => "#"} Next
  #hs-pag.pagination