%section#featured-content.row.clearfix
  .three-fourths-column
    = render :partial => 'featured_slider'
  .one-fourth-column
    .featured-campaign.first
      = link_to image_tag( 'campaigns/compassing_banner.jpg'), compassing_path
    .featured-campaign
      = link_to image_tag( 'campaigns/show_us_your_quiver.jpg'), "http://showusyourquiver.com/", :target => "_blank"

%section#show-thumbs.row.clearfix
  .full-width-column
    .horizontal-stitch
    %header.clearfix
      %h1
        = link_to 'shows', shows_path
      %p.viewAll
        = link_to 'view all shows', shows_path
    %ul.shows
      - @scroll_shows.each do |show|
        %li.show
          %a{:href => "/shows/#{show.category.slug}/#{show.slug}"}
            %img.show-thumb{:alt => "", :src => show.thumbnail}
              %h2.show-title= show.title
    .horizontal-stitch

%section#blog-posts.row.clearfix
  .full-width-column
    %header.clearfix
      %h1
        = link_to 'blog', blog_path
      %p.viewAll
        = link_to 'view all posts', blog_path
    .blog-articles
      - @ktv_posts.each do |post|
        %article.clearfix
          .blog-image
            %a{:href => blog_path() + "/" + (l post.created_at, :format => :post_year) + "/" + post.slug}
              %img.postImage{:alt => post.title, :src => post_img = post.post_image.blank? ? "/assets/placeholder_blog_thumbnail.jpg" : post.post_image.small}/
          .blog-content
            - unless post.reblogged_at.blank?
              - @usr = post.user
              - @mkr = @usr.maker
              %h2
                %a{:href => blog_path() + "/" + (l post.created_at, :format => :post_year) + "/" + post.slug}
                  %span.reblog Reblogged:
                  = post.title
              .meta
                .posted-date
                  Posted on #{l post.created_at, :format => :post}
                .author
                  %a{:href => "/makers/#{@mkr.slug}"}
                    %img.avatar{:src => avatar = post.user.avatar.micro.blank? ? "/assets/avatar_micro.png" : post.user.avatar.micro}
                      = @mkr.name
            - else
              %h2
                %a{:href => blog_path() + "/" + (l post.created_at, :format => :post_year) + "/" + post.slug}= post.title
              .meta
                .posted-date
                  Posted on #{l post.created_at, :format => :post}
            .blog-article-text
              = simple_format(truncate(strip_tags(post.content), :length => 400, :separator => ' '))
              %p.moreLink= link_to "More...", blog_path() + "/" + (l post.created_at, :format => :post_year) + "/" + post.slug