- title "About"
- description "Korduroy.tv is a website spreading digital aloha. Through video how-to’s, short films, rants and interviews we are creating a new platform for independent surf culture- a place where ideas can be shared that respect self-sufficiency, craftsmanship, and a surfing experience of our own design."
%section#hero.video
  %header#contentHeader
    %h1 About
    %nav.sectionNavigation
      %ul
        %li.active
          %a{:href => "/about"} Crew
        %li
          %a{:href => "/about/projects"} Projects
        %li
          %a{:href => "/about/big-shaka-club"} Big Shaka Club
  %figure
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "http://player.vimeo.com/video/5347299?title=0&amp;byline=0&amp;portrait=0&amp;color=ff0179", :webkitallowfullscreen => "", :width => "800"}
    / video></video
    %figcaption
      %p
        %strong Korduroy.tv
        is a website spreading digital aloha. Through video how-to’s, short films, rants and interviews we are creating a new platform for independent surf culture- a place where ideas can be shared that respect self-sufficiency, craftsmanship, and a surfing experience of our own design. For information about advertising, submissions, contributions or to just say 'hi', feel free to
        = succeed "." do
          %a#info.emailLink{:href => "/contact", :rel => "korduroy.tv"} email us
/ end hero
%section#crew
  %h1 Crew
  - if @crew.blank?
    %h2 No crew members were found.
  - else
    - @crew.each do |c|
      %article
        %header
          %a{:href => "/makers/#{c.slug}"}
            %img.avatar{:alt => "", :src => avatar = c.user.avatar.large.blank? ? "/assets/avatar_large.png" : c.user.avatar.large}/
          %h2
            %a{:href => "/makers/#{c.slug}"}= c.name
          %h3= c.title
          %a.button{:href => "/makers/#{c.slug}"} Enter
        = sanitize(c.bio)
