- title "Big Shaka Club"
- description "The following list of people are a part of our Big Shaka Club due to their amazing donations to our Kickstarter project. A huge thank you to everyone who donated to our cause!"

%section#hero.video
  %header#contentHeader
    %h1 About
    %nav.sectionNavigation
      %ul
        %li
          %a{:href => "/about"} Crew
        %li
          %a{:href => "/about/projects"} Projects
        %li.active
          %a{:href => "/about/big-shaka-club"} Big Shaka Club
  %figure
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "http://player.vimeo.com/video/32945712?title=0&amp;byline=0&amp;portrait=0&amp;color=ff0179", :webkitallowfullscreen => "", :width => "800"}
    / video></video
    %figcaption
      %p
        The following list of people are a part of our Big Shaka Club due to their amazing donations to
        = succeed "." do
          %a.externalLink{:href => "http://www.kickstarter.com/projects/korduroytv/korduroytv-2012-shows", :title => "KorduroyTV 2012 Shows by Korduroy &mdash; Kickstarter"} our Kickstarter project
        A huge thank you to everyone who donated to our cause!
/ end hero
%section#club
  %h1 Big Shaka Club
  %article
    %h2 Big Aloha Rainbow Member:
    %ul
      %li Alicia Trout
  %article
    %h2 Big Aloha Platinum Member:
    %ul
      %li Mark Dragin
      %li Gustavo Oliva
      %li Antonio Leao
      %li Matt Thomson
      %li Per Anderson
      %li Todd Anderson
  %article
    %h2 Big Aloha Gold Member:
    %ul
      %li Margaret Calvani
      %li Mark Patterson
      %li Christian Mayer Tibeau
      %li Brendan Connor
      %li Michael Wheelwright
      %li Carlos Restegui
      %li Andrew Leitch
      %li Olivia Peyre
      %li Brian Lam
      %li Richard Chepeus
      %li Roberto Bacchereti
      %li Matthew Lyons
      %li David Pecchi
      %li Emily Lancaster
      %li Sam Abeger
      %li Frank Golbeck
      %li Mikey Reilly
  %article
    %h2 Big Aloha Member:
    %ul
      %li Carlos Sáez Gallardo
      %li Yukari Kaneko
      %li Tyler Breuer
      %li Rick Vanzini
      %li Mathieu Delpont
      %li James Waite & Debi Spindelman
      %li Andrea Zupancich
      %li Desiree East
      %li Mark Pugh
      %li Mark Taylor
      %li Cole Welty
