- title "Compassing"
- description "Compassing was a chance to take the surf trip I'd always wanted. We departed at the beginning of May and lucked into the run of south swell that slammed the west coast in 2013."

%section
  %hr
  %header.compassing-header
    %h1 Compassing: A film by Cryus Sutton
    %br
    %h2 Now Available
    .quote-text
      %p
        "Compassing was a chance to take the surf trip I'd always wanted. We departed at the beginning of May and lucked into the run of south swell that slammed the west coast in 2013.
      %p
        Mexico is less affected by the digital age. When you are in the countryside you are disconnected from everything. Raw displays of life and death around every corner. Living amongst all this is like stepping into the sun after a long cold winter, it feels uncomfortable at first. After a while you start to wonder how you survived otherwise." - Cyrus Sutton
  %hr

  %iframe{:allowfullscreen => "", :frameborder => "0", :width => "960", :height => "540", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/70836407", :webkitallowfullscreen => ""}

  %hr

  %figure.flip-book
    .issuuembed{"data-configid" => "0/4243729", :style => "width: 960px; height: 480px;"}
    %script{:async => "true", :src => "//e.issuu.com/embed.js", :type => "text/javascript"}

  %hr

  .tour-dates
    %h1 Global Tour Dates:
    %br
    %h2 August 15 - Picture Farm Gallery - Brooklyn, NY
    %br
    %h2 August 22 - La Paloma / UNIV - Encinitas, CA
    %br
    %h2 August 23 - TBD - Newport Beach, CA
    %br
    %h2 August 29-31 - TBD - Europe (Biarritz, Bilbao, Zarautz)

    %p.dates-text
      Have your own private premiere of COMPASSING before it's online release in your hood!
      %br
      Check here for more details on the Parking Lot Tour:
      =link_to 'http://korduroy.tv/blog/2013/compassing-parking-lot-tour', 'http://korduroy.tv/blog/2013/compassing-parking-lot-tour'





