- title "Help"
- description "Welcome to KorduroyTV, a place where the stoke is palpable and the digital aloha is plentiful."
%section#help
  %header#contentHeader
    %h1 Korduroy.tv Help
  %p
    Welcome to
    = succeed "," do
      %strong KorduroyTV
    a place where the stoke is palpable and the digital aloha is plentiful. Below is a list of the features of the site you may find yourself using:
  %h2
    %a{:href => "/makers"} Makers
  %p
    The Makers are a diverse collection of people who are shaping surf/skate/snow with their hands. Each is equipped with their own blog, gallery of videos and photos, a store, and a way to contact them in case you have any questions. Be sure to check out the
    %a{:href => "/makers/posts"} Makers Wall
    in the
    %a{:href => "/makers"} Makers
    section to keep abreast with their latest blog posts - it's kind of addicting.
  %h2
    %a{:href => "/the-list"} The List
  %p
    The List is a weekly collection of responses to a question we ask every Monday on our blog and the
    = succeed "." do
      %a.externalLink{:href => "http://www.facebook.com/KorduroyTV", :title => "Incompatible Browser | Facebook"} Korduroy Facebook Page
    This is meant to be an interactive directory of surf culture. Once the list has been selected and added to the site, you can rearrange the choices by dragging the icons to the right of each list item. Clicking on the name will take you to a place where you can learn more about that person/place/thing. Is someone or something not on the list that should be?? Just comment below to submit suggestions. If we get 10 or more of the same suggestion, we'll drop the lowest on the list and replace it with that suggestion. Happy listing...
  %p
    If you see a list that you may have a photographs that could be used for one of the entries, please submit it to us via email at #{mail_to "info@korduroy.tv", nil, :encode => "hex"}.
  %h2
    %a{:href => "/supporters"} Supporters
  %p What?! Korduroy is now funded by companies? What sell outs! For those of you living in a tree who are appalled at the concept (and somehow have access to the internet via your toxic made in Chinese-made computer), we at Korduroy, after making 250 original episodes for free have connected to the big bad world of marketing and are now featuring a space on our site where companies who believe in supporting what we are doing can share their info should you want to support them for being so rad.
  %p Is Korduroy going to have banner ads and other brand takeovers? No way! The only thing that sponsors mean to Korduroy is that we can afford to devote more time to Korduroy and bring more and more rad stuff.
  %p Are you a badass company looking to be involved with Korduroy? Well, we only have 10 slots at a time and are only interested in cool companies with mostly nice people running them. Unless you have Facebook money, then you can be selling guns and ammo to third world militias for all we care... Just kidding!
  %h2
    %a{:href => "/links"} Links
  %p Is a collection of neat places on the web broken into categories to aid in your inter-web searching.
  %h2
    %a{:href => "/store"} Store
  %p
    The store is filled with a mixture of products, include some stuff that compliments the lifestyle we are interested in leading. Other items are original creations from our talented Makers and some are Korduroy collaborations with cool companies and aforementioned Makers. If there's a cool item out there that you think would improve the lives of the other viewers, please email us at #{mail_to "info@korduroy.tv", nil, :encode => "hex"}.
  %p
    Keep in mind when viewing our products that
    = succeed "." do
      %strong the cost of shipping is already included in the overall price
    Due to the nature of our eCommerce system having multiple vendors each shipping from a different location, we felt this would make the optimum shopping experience, eliminating the need to checkout multiple times. If the shipping price is not included, it will be delineated in the product description.
  %h2
    %a{:href => "/return-policy"} Return Policy
  %p
    We want you to be stoked on your purchases. Please view our
    = succeed "." do
      %a{:href => "/return-policy"} return policy
  %h2 Being a Member
  %p You will be able to voting using our shaka-meter, comment on our content and rearrange and/or suggest new elements for The List.
