- title "Privacy Policy"
- description "Welcome to KorduroyTV, a place where the stoke is palpable and the digital aloha is plentiful."
%section#privacyPolicy
  %header#contentHeader
    %h1 Privacy Policy
  %p This Privacy Policy governs the manner in which KorduroyTV collects, uses, maintains and discloses information collected from users (each, a "User") of the http://korduroy.tv website ("Site"). This privacy policy applies to the Site and all products and services offered by KorduroyTV.
  %h2 Personal identification information
  %p We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, register on the site, subscribe to the newsletter, fill out a form, and in connection with other activities, services, features or resources we make available on our Site. Users may be asked for, as appropriate, name, email address, mailing address. Users may, however, visit our Site anonymously. We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.
  %h2 Non-personal identification information
  %p We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar information.
  %h2 Web browser cookies
  %p Our Site may use "cookies" to enhance User experience. User's web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.
  %h2 How we use collected information
  %p KorduroyTV collects and uses Users personal information for the following purposes:
  %dl
    %dt To personalize user experience
    %dd We may use information in the aggregate to understand how our Users as a group use the services and resources provided on our Site.
    %dt To improve our Site
    %dd We continually strive to improve our website offerings based on the information and feedback we receive from you.
    %dt To improve customer service
    %dd Your information helps us to more effectively respond to your customer service requests and support needs.
    %dt To administer a content, promotion, survey or other Site feature
    %dd To send Users information they agreed to receive about topics we think will be of interest to them.
    %dt To send periodic emails
    %dd The email address Users provide for order processing, will only be used to send them information and updates pertaining to their order. It may also be used to respond to their inquiries, and/or other requests or questions. If User decides to opt-in to our mailing list, they will receive emails that may include company news, updates, related product or service information, etc. If at any time the User would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email.
  %h2 How we protect your information
  %p We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site.
  %h2 Sharing your personal information
  %p We do not sell, trade, or rent Users personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and advertisers for the purposes outlined above.We may use third party service providers to help us operate our business and the Site or administer activities on our behalf, such as sending out newsletters or surveys. We may share your information with these third parties for those limited purposes provided that you have given us your permission.
  %h2 Third party websites
  %p Users may find advertising or other content on our Site that link to the sites and services of our partners, suppliers, advertisers, sponsors, licensors and other third parties. We do not control the content or links that appear on these sites and are not responsible for the practices employed by websites linked to or from our Site. In addition, these sites or services, including their content and links, may be constantly changing. These sites and services may have their own privacy policies and customer service policies. Browsing and interaction on any other website, including websites which have a link to our Site, is subject to that website's own terms and policies.
  %h2 Changes to this privacy policy
  %p KorduroyTV has the discretion to update this privacy policy at any time. When we do, we will revise the updated date at the bottom of this page. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.
  %h2 Your acceptance of these terms
  %p By using this Site, you signify your acceptance of this policy. If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes.
  %h2 Contacting us
  %p If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us at:
  %h2 KorduroyTV (http://korduroy.tv)
  %address
    1330 Keystone Way, Ste A
    %br>/
    Vista, CA 92081
    %br>/
    (888) 555-1212
    %br/
    %a{:href => "mailto:info@korduroy.tv"} info@korduroy.tv
  %p This document was last updated on November 10, 2011
