- title "Projects"
- description "Welcome to KorduroyTV, a place where the stoke is palpable and the digital aloha is plentiful."
%section#hero.video
  %header#contentHeader
    %h1 About
    %nav.sectionNavigation
      %ul
        %li
          %a{:href => "/about"} Crew
        %li.active
          %a{:href => "/about/projects"} Projects
        %li
          %a{:href => "/about/big-shaka-club"} Big Shaka Club
/ end hero
%section#projects
  %h1 Projects
  - if @projects.blank?
    %h2 No projects were found
  - else
    - @projects.each do |project|
      %article
        %p.date
          - if !project.end_date.blank?
            %span.month= l project.start_date, :format => :post_month_full
            %span.day
              = l project.start_date, :format => :post_day
              \-#{l project.end_date, :format => :post_day}
            %span.year= l project.start_date, :format => :post_year
          - else
            %span.month= l project.start_date, :format => :post_month_full
            %span.day= l project.start_date, :format => :post_day
            %span.year= l project.start_date, :format => :post_year
        %h2= project.title
        = sanitize(project.body)
