- title "REEF X CYRUS SUTTON COLLABORATION"
- description "Korduroy.tv is a website spreading digital aloha. Through video how-to’s, short films, rants and interviews we are creating a new platform for independent surf culture- a place where ideas can be shared that respect self-sufficiency, craftsmanship, and a surfing experience of our own design."
%section#hero.video
  %header#contentHeader
    %h1 REEF X CYRUS SUTTON COLLABORATION
  %figure.flip-book
    .issuuembed{"data-configid" => "0/1625269", :style => "width: 960px; height: 480px;"}
    %script{:async => "true", :src => "//e.issuu.com/embed.js", :type => "text/javascript"}

    %figcaption
      %p This simple collection of t's, trunks, and cap were made and designed by Reef in collaboration with our creative director Cyrus to fit your needs for a day at the beach or on the trail.
%section#collab-products
  %h2 Products
  %ul.products-list

    %li.product.first
      = link_to "http://www.pntrs.com/t/Sj9LQ0VEP0tJR0lCP0tCRkRE?url=http%3A%2F%2Fshop.reef.com%2Freef-puntadot%2Fd%2F1700&website=189017" do
        .product-image
          = image_tag( 'campaigns/cy_puntadot.jpg')
        .product-title Reef Puntadot - Blue
        .product-price $60.00

    %li.product
      = link_to "http://www.pjtra.com/t/Sj9LQ0VEP0tJR0lCP0tCRkRE?url=http%3A%2F%2Fshop.reef.com%2Freef-cydiamond%2Fd%2F1727&website=189017" do
        .product-image
          = image_tag( 'campaigns/cy_diamond_charcoal_heather.jpg')
        .product-title Reef Cy-Diamond - Heather Grey
        .product-price $23.00

    %li.product
      = link_to "http://www.pjtra.com/t/Sj9LQ0VEP0tJR0lCP0tCRkRE?url=http%3A%2F%2Fshop.reef.com%2Freef-cydiamond%2Fd%2F1727&website=189017" do
        .product-image
          = image_tag( 'campaigns/cy_diamond_red_heather.jpg')
        .product-title Reef Cy-Diamond - Heather Red
        .product-price $23.00

    %li.product
      = link_to "http://www.gopjn.com/t/Sj9LQ0VEP0tJR0lCP0tCRkRE?url=http%3A%2F%2Fshop.reef.com%2Freef-cy-stripe%2Fd%2F1706&website=189017" do
        .product-image
          = image_tag( 'campaigns/cy_stripe_black.jpg')
        .product-title Reef Cy Stripe - Black
        .product-price $65.00

    %li.product.first
      = link_to "http://www.gopjn.com/t/Sj9LQ0VEP0tJR0lCP0tCRkRE?url=http%3A%2F%2Fshop.reef.com%2Freef-cy-stripe%2Fd%2F1706&website=189017" do
        .product-image
          = image_tag( 'campaigns/cy_stripe_red.jpg')
        .product-title Reef Cy Stripe - Red
        .product-price $65.00

    %li.product
      = link_to "http://www.pntra.com/t/Sj9LQ0VEP0tJR0lCP0tCRkRE?url=http%3A%2F%2Fshop.reef.com%2Freef-cypass%2Fd%2F1801&website=189017" do
        .product-image
          = image_tag( 'campaigns/cypass.jpg')
        .product-title Reef Cypass - Dark Green
        .product-price $21.00

    %li.product
      = link_to "http://www.pntra.com/t/Sj9LQ0VEP0tJR0lCP0tCRkRE?url=http%3A%2F%2Fshop.reef.com%2Fthe-reef-knot%2Fd%2F1754&website=189017" do
        .product-image
          = image_tag( 'campaigns/reef_knot.jpg')
        .product-title Reef Knot - Indigo
        .product-price $23.00



