- title "Return Policy"
- description "If you are not completely satisfied with your Korduroy.tv online purchase, please send the return item(s) within 30 days from the date you received the shipment."
%section#returns
  %header#contentHeader
    %h1 Korduroy.tv Return Policy
  %p If you are not completely satisfied with your Korduroy.tv online purchase, please send the return item(s) within 30 days from the date you received the shipment. Please include the original tags and the original receipt. We will happily exchange the item(s) for another or apply Store Credit with your billing name and information. Exchanges are dependent on existing stock. Item(s) must be unused and unwashed in original packaging. Refunds are issued in form of Store Credit. Please note that we cannot refund any shipping charges or handling charges. Surfboard and handplane sales are final &ndash; no returns or exchanges.
  %p
    If you would like to change or cancel an order, please email
    %a{:href => "mailto:customer_service@korduroy.tv"} customer_service@korduroy.tv
    as soon as possible.
  %p We will try to accommodate your request but please understand that our order and shipping systems are designed to get orders on their way quickly and efficiently. Therefore, we cannot change or cancel an order once it has entered the shipping process.
  %h2 Please send Returns and Exchanges to:
  %address
    %strong Korduroy.tv
    %br/
    Attn: Exchange and Returns
    %br/
    1330 Keystone Way Suite A
    %br/
    Vista, CA 92081 
