- title "Submissions"
- description "Welcome to KorduroyTV, a place where the stoke is palpable and the digital aloha is plentiful."
%section#submissions
  %header#contentHeader
    %h1 Korduroy Submissions
  %p This site was created to inspire surfers to make things themselves. We all may do a shitty job, but its a start and the more we do, the better we’ll become. Nearly every aspect of this site is open to your participation. Please comment on the videos, add tips or ask questions. If there’s enough interest we’ll make more shows on similar topics. If you want to submit a video or idea of your own just send us an email with your link or idea and we’ll do our best to get it on korduroy.tv.
  %p
    Just send all ideas to
    %a{:href => "mailto:info@korduroy.tv"} info@korduroy.tv
