- title "Terms of Use"
- description "Welcome to KorduroyTV, a place where the stoke is palpable and the digital aloha is plentiful."
%section#terms
  %header#contentHeader
    %h1 Terms of Use
  %p http://korduroy.tv (hereafter “this website”) will abide by, adhere to, accept responsibility for, endure under and act with respect toward the following weblog disclaimer:
  %p By accessing this website, a web browser (hereafter user) consents that s/he is familiar with, understands and absolutely accepts the following weblog disclaimer: The views expressed by the authors on this website do not necessarily reflect the views of this website, those who link to this website. Although it may claim otherwise, this website does not offer legal, medical or any other kind of professional advice. The information provided on this website is of a general nature and cannot substitute for the advice of a licensed professional. The accuracy of comments are not guaranteed. Comments on this website are the sole responsibility of their writers and the writer will take full responsibility, liability, and blame for any libel or litigation that results from something written in or as a direct result of something written in a comment. All trademarks, service marks, collective marks, design rights, personality rights, copyrights, registered names, mottos, logos, avatars, insignias and marks used or cited by this website are the property of their respective owners and this website in no way accepts any responsibility for an infringement on one of the above. This website does not endorse linked website(s), cannot guarantee the accuracy of information found by following said links and can not be held responsible for any use of that information. This website may unintentionally link to content that is obscene. This website in no way condones, endorses or takes responsibility for such content. In the case that the laws of the jurisdiction where this website’s content is maintained and those of yours conflict, this website does not encourage the violation of any laws and cannot be responsible for any violations of such laws. If you read through this entire disclaimer we commend you and venture to hypothesize that you are either a lawyer, law student, rhodes scholar, honor student or overachiever.
