- title "Contact Us"
%section#contact
  %header#contentHeader
    %h1 Contact Korduroy.tv
  %p For information about advertising, submissions, contributions, or just to say hi, please fill out the form below.
  = form_for(@contact, :url => { :action => "create" }) do |f|
    - if @contact.errors.any?
      #error_explanation
        %h2
          = pluralize(@contact.errors.count, "error")
          prohibited this contact from being saved:
        %ul
          - @contact.errors.full_messages.each do |msg|
            %li= msg
    %fieldset#contactForm
      - if current_user.blank?
        .field
          = f.label :name
          = f.text_field :name
        .field
          = f.label :email
          = f.text_field :email
      - else
        .member
          %a{:href => "#"}
            %img.avatar{:alt => current_user.name, :src => avatar = (current_user.avatar.blank?) ? "/assets/avatar_small.png" : current_user.avatar.small}/
          %h3= current_user.name
        = f.hidden_field :name, :value => current_user.name
        = f.hidden_field :email, :value => current_user.email
      .field
        = f.label :message
        = f.text_area :message, :rows => 10
      .field
        = recaptcha_tags
      .actions
        = f.submit "Send Message"
