- title "The List"
- description "A collection of the top 10 responses to a question we ask every Monday on our blog and the Korduroy Facebook Page, The List is a weekly feature chronicling the passions and ideas of our culture."
%section#theList
  = render "header"
  = render "polls"
