<div id="rankResults<%= @poll.id %>">
	<ol class="results">
		<% @results.each do |answer| %>
			<% if answer.poll_id == @poll.id %>
			<% @pct = (answer.votes.to_i * 100) / @total.to_i %>
			<li><img src="<%= aimg = @poll_home.blank? ? answer.image.large : answer.image.small %>" class="listImg" alt=""> <%= answer.name %> <em><%= @pct %>%</em> <span class="pct" style="width: <%= @pct %>px;"><%= @pct %>%</span></li>
			<% end %>
		<% end %>
	</ol>
	<div class="pctActive"></div>
	<ul class="meta">
		<li>Posted on <%= l @poll.created_at, :format => :post %></li>
	</ul>
</div>