%div{:id => "rankResults#{@poll.id}"}
  %ol.results
    - @results.each do |answer|
      - if answer.poll_id == @poll.id
        - @pct = (answer.votes.to_i * 100) / @total.to_i
        %li
          %img.listImg{:alt => "", :src => aimg = @poll_home.blank? ? answer.image.large : answer.image.small}/
          = answer.name
          %em
            = @pct
            \%
          %span.pct{:style => "width: #{@pct}px;"}
            = @pct
            \%
  .pctActive
  %ul.meta
    %li
      Posted on #{l @poll.created_at, :format => :post}
