- title "The List: #{@poll.question}"
- description "A collection of the top 10 responses to a question we ask every Monday on our blog and the Korduroy Facebook Page, The List is a weekly feature chronicling the passions and ideas of our culture."
%section#theList
  = render "header"
  #listAccordion
    %h2
      %em= l @poll.created_at, :format => :poll
      = @poll.question
    %article.tabbed
      %ul.tabs
        %li.voteLink
          %a{:href => "#userRank#{@poll.id}"} Your ranking
        %li.resultsLink
          %a{:href => "#rankResults#{@poll.id}"} View results
      %div{:id => "userRank#{@poll.id}", :rel => @poll.id}
        - if user_signed_in?
          - if Poll.user_already_voted? current_user, @poll
            %ol.sortable.disabled
              - @answers = @poll.user_vote current_user, @poll
              - @answers.each do |answer|
                - @vote_date = answer.vote_date.to_datetime
                %li{:id => answer.id}
                  %img.listImg{:alt => "", :src => answer.image.large}/
                  = link_to answer.name, answer.url, :class => "externalLink"
            %ul.meta
              %li
                You voted on #{l @vote_date, :format => :post}
              %li
                %a{:href => "#comments"}
                  Comments:
                  %span= @poll.comments.size.to_s
          - else
            %ol.sortable
              - @poll.answers.each do |answer|
                %li{:id => answer.id}
                  %img.listImg{:alt => "", :src => answer.image.large}/
                  = link_to answer.name, answer.url, :class => "externalLink"
                  %span.move Move
            %button.pollButton{:id => "buttonRank#{@poll.id}", :type => "button"} Vote
            %ul.meta
              %li Drag answers to create your rank.
              %li
                %a{:href => "#comments"}
                  Comments:
                  %span= @poll.comments.size.to_s
        - else
          %ol.sortable.disabled
            - @poll.answers.each do |answer|
              %li{:id => answer.id}
                %img.listImg{:alt => "", :src => answer.image.large}/
                = link_to answer.name, answer.url, :class => "externalLink"
                %span.move Move
          %ul.meta
            %li Drag answers to create your rank.
            %li
              %a{:href => "#comments"}
                Comments:
                %span= @poll.comments.size.to_s
          %h3
            = link_to "Sign In", new_user_session_path(), :class => "button"
            or #{link_to "Sign Up", new_user_registration_path(), :class => "button"} to vote
      %div{:id => "rankResults#{@poll.id}"}
        %ol.results
          - @results = @poll.tally_responses
          - @results.each do |answer|
            - if answer.votes.blank?
            - answer.votes = 0
            - end
            - @pct = answer.votes.to_i > 0 ? (answer.votes.to_i * 100) / answer.total_votes.to_i : 0
            %li
              %img.listImg{:alt => "", :src => answer.image.large}/
              = answer.name
              %em
                = @pct
                \%
              %span.pct{:style => "width: #{@pct}%;"}
                = @pct
                \%
        .pctActive
        %ul.meta
          - if user_signed_in?
            - if Poll.user_already_voted? current_user, @poll
              %li
                You voted on #{l @vote_date, :format => :post}
              %li
                %a{:href => "#comments"}
                  Comments:
                  %span= @poll.comments.size.to_s
          - else
            %li
              Posted on #{l @poll.created_at, :format => :post}
            %li
              %a{:href => "#comments"}
                Comments:
                %span= @poll.comments.size.to_s
        - if !user_signed_in?
          %h3
            = link_to "Sign In", new_user_session_path(), :class => "button"
            or #{link_to "Sign Up", new_user_registration_path(), :class => "button"} to vote
  #comments
    %h2
      Comments:
      %span= @poll.comments.size
    %ul#commentList
      - @comments.each do |comment|
        %li
          %header
            %img{:alt => comment.user.name, :src => avatar = (comment.user.avatar.small.blank?) ? "/assets/avatar_small.png" : comment.user.avatar.small}/
            %h3= comment.user.name
            %p.meta= l comment.created_at, :format => :comment
          = simple_format(sanitize(comment.comment))
    - if @current_user.blank?
      %h3
        Please #{link_to "sign in", new_user_session_path(), :class => "button sign-in"} or #{link_to "sign up", new_user_registration_path(), :class => "button sign-up"} to comment.
    - else
      #commentForm
        - if !@poll.comments_closed
          %h2= count = @poll.comments.size < 1 ? "Be the first to post a comment" : "Post a comment"
          .member
            %a{:href => "#"}
              %img{:alt => @current_user.name, :src => avatar = (@current_user.avatar.blank?) ? "/assets/avatar_small.png" : @current_user.avatar.small}/
            %h3= @current_user.name
            = form_for :comment, :url => { :action => "comment" } do |f|
              = f.hidden_field :commentable_id, :value=> @poll.id
              = f.text_area :comment
              = f.submit "Post Comment"
        - else
          %h2 Comments are closed for this post
