<%- title "The List: #{@poll.question}" %>
<%- description "A collection of the top 10 responses to a question we ask every Monday on our blog and the Korduroy Facebook Page, The List is a weekly feature chronicling the passions and ideas of our culture." %>

<section id="theList">
	<%= render "header" %>
	
	<div id="listAccordion">
		<h2><em><%= l @poll.created_at, :format => :poll %></em> <%= @poll.question %></h2>
		<article class="tabbed">
			<ul class="tabs">
				<li class="voteLink"><a href="#userRank<%= @poll.id %>">Your ranking</a></li>
				<li class="resultsLink"><a href="#rankResults<%= @poll.id %>">View results</a></li>
			</ul>

			<div id="userRank<%= @poll.id %>" rel="<%= @poll.id %>">
				<% if user_signed_in? %>

					<% if Poll.user_already_voted? current_user, @poll %>

						<ol class="sortable disabled">
							<% @answers = @poll.user_vote current_user, @poll %>
							<% @answers.each do |answer| %>
							<% @vote_date = answer.vote_date.to_datetime %>
							<li id="<%= answer.id %>"><img src="<%= answer.image.large %>" class="listImg" alt=""> <%= link_to answer.name, answer.url, :class => "externalLink" %></li>
							<% end %>
						</ol>

						<ul class="meta">
							<li>You voted on <%= l @vote_date, :format => :post %></li>
							<li><a href="#comments">Comments: <span><%= @poll.comments.size.to_s %></span></a>
						</ul>
					<% else %>

					<ol class="sortable">
						<% @poll.answers.each do |answer| %>
						<li id="<%= answer.id %>"><img src="<%= answer.image.large %>" class="listImg" alt=""> <%= link_to answer.name, answer.url, :class => "externalLink" %><span class="move">Move</span></li>
						<% end %>
					</ol>

					<button type="button" id="buttonRank<%= @poll.id %>" class="pollButton">Vote</button>

					<ul class="meta">
						<li>Drag answers to create your rank.</li>
						<li><a href="#comments">Comments: <span><%= @poll.comments.size.to_s %></span></a>
					</ul>

					<% end %>

				<% else %>
					<ol class="sortable disabled">
						<% @poll.answers.each do |answer| %>
						<li id="<%= answer.id %>"><img src="<%= answer.image.large %>" class="listImg" alt=""> <%= link_to answer.name, answer.url, :class => "externalLink" %><span class="move">Move</span></li>
						<% end %>
					</ol>

					<ul class="meta">
						<li>Drag answers to create your rank.</li>
						<li><a href="#comments">Comments: <span><%= @poll.comments.size.to_s %></span></a>
					</ul>

					<h3><%= link_to "Sign In", new_user_session_path(), :class => "button" %> or <%= link_to "Sign Up", new_user_registration_path(), :class => "button" %> to vote</a></h3>

				<% end %>
			</div>

			<div id="rankResults<%= @poll.id %>">
				<ol class="results">
					<% @results = @poll.tally_responses %>
					<% @results.each do |answer| %>
						<%
						if answer.votes.blank?
							answer.votes = 0
						end
						%>
						<% @pct = answer.votes.to_i > 0 ? (answer.votes.to_i * 100) / answer.total_votes.to_i : 0 %>

						<li><img src="<%= answer.image.large %>" class="listImg" alt=""> <%= answer.name %> <em><%= @pct %>%</em> <span class="pct" style="width: <%= @pct %>%;"><%= @pct %>%</span></li>
					<% end %>
				</ol>
				<div class="pctActive"></div>


				<ul class="meta">
					<% if user_signed_in? %>
						<% if Poll.user_already_voted? current_user, @poll %>
						<li>You voted on <%= l @vote_date, :format => :post %></li>
						<li><a href="#comments">Comments: <span><%= @poll.comments.size.to_s %></span></a>
						<% end %>
					<% else %>
					<li>Posted on <%= l @poll.created_at, :format => :post %></li>
					<li><a href="#comments">Comments: <span><%= @poll.comments.size.to_s %></span></a>
					<% end %>
				</ul>


				<% if !user_signed_in? %>
					<h3><%= link_to "Sign In", new_user_session_path(), :class => "button" %> or <%= link_to "Sign Up", new_user_registration_path(), :class => "button" %> to vote</a></h3>
				<% end %>
			</div>
		</article>
	</div>
	
	<div id="comments">
		<h2>Comments: <span><%= @poll.comments.size %></span></h2>
		
		<ul id="commentList">
			<% @comments.each do |comment| %>
			<li>
				<header>
					<img src="<%= avatar = (comment.user.avatar.small.blank?) ? "/assets/avatar_small.png" : comment.user.avatar.small %>" alt="<%= comment.user.name %>">
					<h3><%= comment.user.name %></h3>
					<p class="meta"><%= l comment.created_at, :format => :comment %></p>
				</header>
				<%= simple_format(sanitize(comment.comment)) %>
			</li>
			<% end %>
		</ul>
		
		<% if @current_user.blank? %>
			<h3>Please <%= link_to "sign in", new_user_session_path(), :class => "button sign-in" %> or <%= link_to "sign up", new_user_registration_path(), :class => "button sign-up" %> to comment.</h3>
		<% else %>
		<div id="commentForm">
			<% if !@poll.comments_closed %>
			<h2><%= count = @poll.comments.size < 1 ? "Be the first to post a comment" : "Post a comment" %></h2>
			
			<div class="member">
				<a href="#"><img src="<%= avatar = (@current_user.avatar.blank?) ? "/assets/avatar_small.png" : @current_user.avatar.small %>" alt="<%= @current_user.name %>"></a>
				<h3><%= @current_user.name %></h3>
				<%= form_for :comment, :url => { :action => "comment" } do |f| %>
					<%= f.hidden_field :commentable_id, :value=> @poll.id %>
					<%= f.text_area :comment %>
					<%= f.submit "Post Comment" %>
				<% end %>
			</div>
			<% else %>
			<h2>Comments are closed for this post</h2>
			<% end %>
		</div>
		<% end %>
	</div>
</section>