!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 New Contact from Korduroy.TV
    %ul
      %li
        %strong Name:
        = @maker_contact.name
      %li
        %strong Email:
        = @maker_contact.email
      %li
        %strong Message:
    = simple_format(@maker_contact.message)
