!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 New Contact Form Submission
    %ul
      %li
        %strong Name:
        = @contact.name
      %li
        %strong Email:
        = @contact.email
      %li
        %strong Message:
    = simple_format(@contact.message)
