<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New Contact Form Submission</h1>
		<ul>
			<li><strong>Name:</strong> <%= @contact.name %></li>
			<li><strong>Email:</strong> <%= @contact.email %></li>
			<li><strong>Message:</strong></li>
		</ul>
		<%= simple_format(@contact.message) %>
  </body>
</html>