#signIn
  %header#modalHeader
    %h1 Sign in
    - if devise_mapping.registerable? && controller_name != 'registrations'
      %p
        Not a member yet? #{link_to "Sign up", new_registration_path(resource_name)}
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    = devise_error_messages!
    #status-messages
      %p.notice= notice
      %p.alert= alert
    %fieldset#regForm
      .field.required
        = f.label :email, "Email Address"
        = f.email_field :email
      .field.required
        = f.label :password
        = f.password_field :password
      - if devise_mapping.rememberable?
        .field.checkbox
          = f.check_box :remember_me
          = f.label :remember_me
      .actions
        = f.submit "Sign in"
        - if devise_mapping.recoverable? && controller_name != 'passwords'
          = link_to "Forgot your password?", new_password_path(resource_name)
          %br/
