- title "Links"
- description "A collection of neat places on the web broken into categories to aid in your inter-web searching."
%section#cool
  %header#contentHeader
    %h1 Links
    %img{:alt => "", :src => "/assets/cool/placeholder.jpg"}/
  - if @categories.blank?
    %h2 No categories were found
  - else
    - @categories.each do |category|
      %article
        %h2= category.name
        %ul
          - @links.each do |link|
            - if link.cool_category_id == category.id
              %li
                %a.externalLink{:href => link.url}= link.name
