<%- title "Supporters" %>
<%- description "After making 250 original episodes for free, we at Korduroy have connected to the big bad world of marketing and are now featuring a space on our site where companies who believe in supporting what we are doing can share their info should you want to support them for being so rad." %>

<section id="supporters">
	<header id="contentHeader">
		<h1>Supporters</h1>
		<p id="info-button"><a href="#info-text">Supporters <em>(?)</em></a></p>
	</header>
	
	<div id="info-text">
		<p>Are you looking to be involved with Korduroy? Feel free to email us at <%= mail_to "info@korduroy.tv", nil, :encode => "hex" %>.</p>
		<p id="info-close"><a href="#info-button">x</a></p>
	</div>
	
<% if @supporters.blank? %>
	<h2>There are no supporters available</h2>
<% else %>
	<ul id="supporterList">
		<% @supporters.each do |supporter| %>
		<li class="clothing">
			<img src="<%= supporter.logo.url %>" alt="" class="supporterLogo">
			<div id="" class="vcard">
				<h1 class="org"><a href="<%= supporter.website %>" class="externalLink"><%= supporter.name %></a></h1>
				<div class="adr">
					<% unless supporter.address.blank? %>
					<span class="street-address"><%= supporter.address %></span><br>
					<% end %>
					
					<% unless supporter.city.blank? %>
					<span class="locality"><%= supporter.city %></span>, 
					<% end %>
					
					<% unless supporter.state.blank? %>
					<span class="region"><ST><%= supporter.state %></span> 
					<% end %>
					
					<% unless supporter.zip_code.blank? %>
					<span class="postal-code"><%= supporter.zip_code %></span><br>
					<% end %>
				</div>
				<div class="tel"><%= supporter.telephone %></div>
				<div class="url fn n"><a href="<%= supporter.website %>" class="externalLink"><%= supporter.website %></a></div>
				<div class="email"><%= mail_to supporter.email, "Contact by email", :encode => "hex" %></div>
			</div>
			<p><%= supporter.description %></p>
			<div class="ad180x150">
				<a href="<%= supporter.website %>" class="externalLink"><img src="<%= supporter.ad.url %>" alt="180 x 150 ad"></a>
			</div>
		</li>
		<% end %>
	</ul>
<% end %>
</section>
