// Active Admin CSS Styles
@import "active_admin/mixins";
@import "active_admin/base";

// To customize the Active Admin interfaces, add your
// styles here:
.showGrid {
	text-align: center;
	
	img {
		display: block;
		margin: 0 auto 5px;
	}
}

form input[type="text"],
form textarea {
	font-family: Verdana, Arial, "Helvetica Neue", sans-serif;
}

form fieldset > ol > li.boolean label {
	width: auto !important;
}

.has_many {
	margin: 15px 0 0;
	padding: 15px 10px;
	border-top: 5px solid rgba(255, 255, 255, 1);
}

.check_boxes ol {
	overflow: hidden;
	zoom: 1;
	
	li {
		float: left;
		width: 16.67%;
	}
	
	label {
		font-weight: normal;
	}
}

.thumb.video {
	width: 185px;
	@include rounded(6px);
}

.index_table {
	.postImage {
		width: 49px;
	}
}

#sidebar {}

#blog_post_image_input {
	.postImage {
		width: 480px;
		margin: 10px 0;
		padding: 10px;
		background: #fff;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	}
}

.recent-comments-table tr td:nth-child(3) {
	width: 20%;
}

.recent-comments-table tr td:nth-child(4) {
	width: 50%;
}

.recent-comments-table tr td:nth-child(6) {
	width: 110px;
	
	ul {
		width: auto;
		margin: 0;
		padding: 0;
		list-style: none;
		
		li {
			display: inline;
			margin: 0 3px;
		}
	}
}

#contentImageContainer {
	ul {
		list-style: none;
	}
	
	li {
		position: relative;
		padding: 10px 0;
		
		.inlinePostImage {
			position: relative;
			z-index: 10;
			width: 180px;
			margin: 0 auto;
			padding: 10px;
			background: #fff;
			box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
		}

		.delete {
			position: absolute;
			z-index: 1;
			top: 50%;
			left: 50%;
			margin: -15px 0 0 -25px;
		}
		
		&:hover {
			.delete {
				z-index: 20;
			}
		}
	}
	
	
}