#ktvBlog {
	overflow: visible;
	zoom: 1;
}

#ktvBlogPosts,
#ktvBlogPost {
	float: right;
	width: 740px;
	margin: 0;
	padding: 0;
	list-style: none;
	
	h1 {
		margin: 0;
		padding: 0 0 15px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		color: $ktv-blue;
	}
	
	article {
		position: relative;
		padding: 20px 0 10px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		
		&:nth-child(1) {
			padding: 0 0 10px;
			
			.adminActions {
				top: 0;
			}
		}
		
		h2 {
			margin: 0 0 15px;
			font-weight: 600;
			
			.reblog {
				color: $ktv-blue;
			}
		}
		
		header {
			overflow: hidden;
			zoom: 1;
			
			.moreLink {
				float: right;
			}
		}
		
		#related_maker {
			position: absolute;
			z-index: 100;
			width: 610px;
			margin: 25px 10px 0;
			background: rgba(0, 0, 0, 0.4);
			border-radius: 0;
			box-shadow: none;
			
			h2 {
				margin: 5px 0 0;
				color: #fff;
				font-size: 13px;
				font-weight: $bold;
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
			}
			
			h3 {
				color: #fff;
				font-weight: $semi-bold;
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
			}
		}
		
		.postImage,
		p iframe,
		.size-full,
		.inlinePostImage {
			max-width: 710px;
			margin: 10px 0 20px;
			padding: 10px;
			background: #fff;
			border: none;
			box-shadow: 0 2px 10px rgba(102, 102, 102, 0.2)
		}
		
		.postImage.hover {
			box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3)
		}
		
		p {
			margin-right: 10px;
			text-align: justify;
		}
		
		.icon {
			margin: 0 0 0 5px;
		}
		
		.question {
			font-family: $fonts;
			font-size: 14px;
			font-weight: $semi-bold;
			color: $ktv-blue;
			text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
		}
		
		.adminActions {
			position: absolute;
			top: 10px;
			right: 0;
		}
		
		.postBody {
			hr {
				display: block;
				height: 0px;
				margin: 20px 0;
				padding: 0;
				background: transparent;
				border: none;
				border-bottom: 1px solid rgba(255, 255, 255, 1);
				border-top: 1px solid rgba(0, 0, 0, 0.1);
				color: transparent;
				line-height: 1;
			}
		}
		
		
	}
	
	#relatedItems {
		width: 740px;
		margin: 10px 0 0;
		
		h1 {
			color: #aaa;
		}

		#itemList {

			li {
				margin: 0 1px 0 0;
				padding: 0 10px 5px;

				.badge {
					left: 9px;
				}
			}
		}
	}
	
	#comments {
		width: 800px;
		margin: 20px auto;
		padding: 20px 0 0;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	}
}
	
#ktvBlogPost article {
	border: none;
}

#ktvBlogNavigation {
	position: fixed;
	float: left;
	width: 170px;
	font: normal 700 10px/1 "proxima-nova", Arial, sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	
	h2 {
		margin: 0;
		color: #bbb;
		font-size: 18px;
		font-weight: $bold;
	}
}
	#ktvBlogNavigation li {
		margin: 0 0 10px;
	}
	
	#ktvBlogNavigation a {
		display: block;
		padding: 2px 5px;
		text-decoration: none;
		text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
	}
	
	#ktvBlogNavigation a span {
		color: #999;
	}
	
	/*
	#ktvBlogNavigation a:hover,
	#ktvBlogNavigation .active a { background: #2084ea; color: #fff; text-shadow: none; }
	*/
	#ktvBlogNavigation a:hover,
	#ktvBlogNavigation .active a { color: $ktv-blue; }
	


.columns {
	#ktvBlog {
		article {
			position: relative;
			padding: 20px 0 10px;
			border-top: 1px solid rgba(0, 0, 0, 0.2);
			
			header {
				overflow: hidden;
				zoom: 1;
				padding: 0 0 0 200px;
				
				h2 {
					margin: 5px 0 0;
					line-height: 1.4;
					
					.reblog {
						color: $ktv-blue;
					}
				}
				
				.postImage {
					float: left;
					width: 160px;
					margin: 5px 0 10px -195px;
					padding: 5px;
					background: #fff;
					border: none;
				}
				
				.meta {
					margin: 10px 0 0;
					
					li {
						float: none;
						display: block;
						margin: 0 0 5px;
					}
					
					.author {
						margin: 0 10px 5px 0;
						font-size: 10px;
						font-weight: $semi-bold;
						line-height: 22px;
						letter-spacing: 1px;

						.avatar {
							display: inline;
							vertical-align: middle;
							width: 24px;
							margin: 0 0 0 0;
							padding: 2px;
							background: #fff;
						}

						a {
							color: #999;

							&:hover {
								color: $ktv-blue;
							}
						}
					}
				}
			}
			
			p {
				text-align: justify;
			}
		}
		
		article:nth-child(2) {
			border-top: none;
			padding-top: 10px;
		}
	}
}