#contact {
	
	#contactForm {
		margin: 20px auto;
	}
	
	.field {
		overflow: hidden;
		zoom: 1;
		padding: 10px 0 10px 70px;
		
		label {
			float: left;
			width: 15%;
		}
		
		input[type="text"],
		textarea {
			float: left;
			width: 80%;
		}
	}
	
	.actions {
		padding: 0 0 0 21%;
	}
	
	.member {
		overflow: hidden;
		zoom: 1;
		
		h3 {
			font-size: 16px;
		}
		
		.avatar {
			float: left;
			width: 49px;
			margin: 0 10px 0 0;
			padding: 3px;
			background: #fff;
		}
	}
    #recaptcha_widget_div {
      margin-left: 133px;
    }
}