#cool {
	overflow: hidden;
	zoom: 1;
}

#cool #contentHeader h1 {
	margin: 0 0 15px;
}

#cool #contentHeader img {
	clear: both;
	padding: 20px 0 0;
	background: url(/assets/stitch_horizontal.png) repeat-x left top;
}

#cool article {
	overflow: visible;
	float: left;
	width: 192px;
	
	h2 {
		color: #bbb;
		font-size: 18px;
		font-weight: $bold;
	}
}

#cool article ul {
	margin: 10px 0;
	padding: 0;
	font-size: 12px;
	list-style: none;
}

#cool article li {
	position: relative;
	margin: 0 0 5px;
	padding: 0;
}

#columns {
	overflow: hidden;
	zoom: 1;
	
	article h2:hover {
		overflow: visible;
		color: $ktv-blue;
		cursor: move;
	}
}