/*	CSS Reset
---------------------------------------------------	*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, img, ins, kbd, q, samp, small, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*	HTML 5 Elements
---------------------------------------------------	*/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/*	HTML & Body
---------------------------------------------------	*/
html, body {
  height: 100%;
}

body	{
  background: $ktv-gray;
  color: $ktv-text;
  font: normal 12px/1 Arial, sans-serif;
}

/*	Headings
---------------------------------------------------	*/
h1	{
  color: #000;
  color: rgba(0, 0, 0, 1);
  font: normal $bold 16px/1 $fonts;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

h2	{
  color: #000;
  color: rgba(0, 0, 0, 1);
  font: normal $semi-bold 14px/1 $fonts;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

h3	{
  color: #888;
  color: rgba(0, 0, 0, 0.47);
  font: normal $semi-bold 12px/1 $fonts;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

h4	{}

h5	{}

h6	{}

/*	Paragraphs
---------------------------------------------------	*/
p	{
  margin: 5px 0 10px;
  line-height: 1.5;
}


/*	Images
---------------------------------------------------	*/
img	{
  display: block;
  border: none;
}

img.inlineImg	{
  display: inline;
}

img.icon {
  display: inline;
  vertical-align: middle;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/*	Links
---------------------------------------------------	*/
a:link, a:visited	{
  color: #000;
  outline: none;
  text-decoration: none;
}

a:link {
  -webkit-tap-highlight-color: $ktv-blue;
}

a:hover, a:active	{
  color: $ktv-blue;
  outline: none;
}

/*	Lists
---------------------------------------------------	*/

ul	{
  margin: 10px 0;
  padding: 0 0 0 25px;
  list-style: disc outside;
}
ul li	{
  margin: 0 0 5px;
}

ul ul	{
  list-style: circle outside;
}

ul ul ul	{
  list-style: square outside;
}

nav ul, nav li {
  margin: 0;
  padding: 0;
  list-style:none;
  list-style-image: none;
}

ol	{
  margin: 10px 0;
  padding: 0 0 0 25px;
  list-style: decimal outside;
}
ol li	{
  margin: 0 0 5px;
}

ol ol	{
  list-style: decimal outside;
}

ol ol ol	{
  list-style: lower-alpha outside;
}

dl	{}
dl dt	{}
dl dd	{}

.tagList {
  overflow: hidden;
  zoom: 1;
  margin: 20px 0 0;
  padding: 0 0 0 40px;
  font: normal $regular 11px/1 $fonts;

  dt {
    float: left;
    margin: 0 0 0 -40px;
    padding: 5px 0 0;
    font-weight: $semi-bold;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  dd {
    float: left;
    margin: 0 0 5px 5px;
    padding: 5px 10px;
    background: rgba(153, 153, 153, 0.1);
    @include rounded(3px);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), 1px 1px 0 rgba(255, 255, 255, 0.8);
  }
}


/*	Tables
	Basic table structure:
		table
			thead (optional)
			tfoot (optional)
			tbody (required)

	**	Tables can contain multiple tbody elements.
---------------------------------------------------	*/
table	{
  width: 100%;
  margin: 15px 0;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  @include rounded(4px);
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.2), 1px 1px 0 rgba(255, 255, 255, 0.8);
  border-collapse: collapse;
}

th	{
  padding: 7px 10px;
  background: rgba(153, 153, 153, 0.2);
  color: #999;
  font-size: 11px;
  font-weight: $semi-bold;
  text-align: left;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
}


td	{
  padding: 10px;
  border-top: 1px solid rgba(153, 153, 153, 0.2);
  vertical-align: top;
}

tfoot td	{}

.adminActions {
  color: #ccc;

  a {
    margin: 0 2px;
    color: $ktv-blue;
    font-size: 10px;
    text-transform: uppercase;
    &:hover {
      color: #000;
    }
  }
}

/*	Forms
---------------------------------------------------	*/
fieldset	{
  border: none;
}

legend {}

.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

label {
  padding: 5px 0;
  cursor: pointer;
  font-size: 11px;
  text-transform: uppercase;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  margin: 0;
  padding: 5px;
  @include rounded(3px);
  border: none;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.2);
  font-size: 99%;
  vertical-align: middle;
}
input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 5px $ktv-blue;
}

.ie6 input {
  vertical-align: text-bottom;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

textarea {
  margin: 0;
  padding: 5px;
  @include rounded(3px);
  border: none;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.2);
  font-size: 99%;
  overflow: auto;
}

input:valid, textarea:valid   {}
input:invalid, textarea:invalid {
  border-radius: 1px;
  box-shadow: 0 0 5px rgba(255, 0, 0, 1);
  -moz-box-shadow: 0 0 5px rgba(255, 0, 0, 1);
}

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #ffeded;
  background-color: rgba(255, 0, 0, 0.07);
}

select {
  margin: 0;
  font-size: 99%;
}

button, input[type="submit"] {
  width: auto;
  margin: 0;
  font-size: 99%;
  overflow: visible;
}

input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

a.button, input[type="submit"], button, .sectionNavigation .button {
  display: inline-block;
  padding: 5px 10px;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
  background: -moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
  background-color: #f9f9f9;
  border: 1px solid #dcdcdc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #777;
  font: normal 600 10px/1 "proxima-nova", Arial, sans-serif;
  letter-spacing: 1px;
  line-height: 1;
  text-decoration:none;
  text-shadow: 1px 1px 0 #fff;
  text-transform: uppercase;
  -moz-box-shadow: inset 0px 1px 0px 0px #fff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #fff;
  box-shadow: inset 0px 1px 0px 0px #fff;
}
a.button:hover, input[type="submit"]:hover, button:hover, .sectionNavigation .button:hover {
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
  background: -moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
  background-color: #e9e9e9;
  color: $ktv-blue;
}
a.button, input[type="submit"]:active, button:active, .sectionNavigation .button:active {
  position: relative;
  top: 1px;
}

button a:link, button a:visited {
  color: #777;
}
button:hover a {
  color: $ktv-blue;
}

.sectionNavigation .active .button {
  background: $ktv-blue;
  color: #fff;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  text-decoration: none;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.adminBar {
  margin: 0 0 20px;
  padding: 10px 20px;
  background: rgba(204, 204, 204, 0.3);
  border-radius: 16px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), 1px 1px 0 rgba(255, 255, 255, 0.6);
  font-family: $fonts;
  font-weight: $regular;
  letter-spacing: 1px;
  text-transform: uppercase;

  li {
    display: inline;
    padding: 0 15px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);

    &:first-child {
      padding: 0 15px 0 0;
      border-left: none;
    }
  }

  a {
    color: #999;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);

    &:hover {
      color: $ktv-blue;
    }
  }
}

.adminForm {
  width: 660px;
  margin: 0 auto 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  &:last-child {
    border: none;
  }


  legend {
    padding-bottom: 10px;
    color: #bbb;
    font: normal $bold 20px/1 $fonts;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
    text-transform: uppercase;
  }

  .field {
    position: relative;
    padding: 15px 5px;
    overflow: hidden;
    zoom: 1;
    border-top: 1px solid rgba(153, 153, 153, 0.2);

    h3,
    .title {
      margin: 0 0 10px;
      color: $ktv-blue;
      font-weight: bold;
      font-size: 14px;

      span {
        color: #aaa;
        font-weight: $semi-bold;
      }
    }

    label {
      display: block;
      margin: 0 0 10px;
      padding: 0;
    }

    input[type="text"], input[type="email"], textarea, .mceEditor {
      display: block;
      width: 640px;
    }

    select, input[type="file"] {
      display: block;
    }

    .button {
      clear: both;
      margin: 10px 0 0;
    }

    p {
      margin: 5px 0 20px;
      color: #888;
      font-family: $fonts;
    }

    .note {
      margin: 5px 0 0;
    }
  }

  .required {
    label {
      font-weight: $semi-bold;

      &:after {
        content: " *";
      }

      span {
        font-size: 10px;
        font-weight: $regular;
        color: #999;
      }
    }
  }

  .inventory {
    margin: 10px 0 0;
    padding: 10px;
  }

  .inline {
    select, input[type="text"] {
      display: inline;
      width: auto;
      margin: 0 5px 0 0;
      vertical-align: middle;
    }

    .title {
      display: inline-block;
      margin: 0 10px 25px 0;
    }
  }

  .stacked {
    label {
      display: block;
      margin: 0;
    }

    select, input[type="text"] {
      width: auto;
      margin: 0 0 5px;
    }
  }

  .columns2 {
    overflow: hidden;
    zoom: 1;

    div {
      float: left;
      width: 50%;

      input[type="text"] {
        width: 90%;
      }
    }
  }

  .columns3 {
    overflow: hidden;
    zoom: 1;

    div {
      float: left;
      width: 33%;
    }

    input[type="text"] {
      width: auto;
    }
  }

  .columns4 {
    overflow: hidden;
    zoom: 1;

    div {
      float: left;
      width: 25%;
    }
  }

  .custom_option {
    select {
      display: inline;
      margin-right: 40px;
    }

    input[type="text"] {
      display: inline;
      width: auto;
      vertical-align: baseline;
    }
  }

  .checkbox {
    label {
      display: inline;
      margin: 0 0 0 10px;
      padding: 0;
    }

    input[type="checkbox"] {
      margin: 0;
    }

    ol {
      overflow: hidden;
      zoom: 1;

      li {
        float: left;
        width: 16.67%;
      }

      label {
        font-weight: normal;
      }
    }

    .note {
      margin: 0 0 0 5px;
    }
  }

  input[type="text"].disabled {
    background: rgba(255, 255, 255, 0.3);
  }

  .imagesList {
    overflow: hidden;
    zoom: 1;
    margin: 10px 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      float: left;
      padding: 0 5px 5px;

      .button.move {
        position: absolute;
        top: 30%;
        left: 50%;
        margin: -10px 0 0 -30px;
        padding-left: 20px;
        background-image: url(/assets/icon_move.png);
        background-position: 5px 4px;
        background-repeat: no-repeat;
        z-index: -1;
        cursor: move;
      }

      .button.delete {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -10px 0 0 -30px;
        z-index: -1;

        &:hover {
          color: #a00;
        }
      }

      &:hover {
        .button {
          z-index: 100;
        }
      }
    }

    .productImage {
      width: 140px;
      padding: 5px;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    }
  }

  .tagList {
    overflow: hidden;
    zoom: 1;
    margin: 10px 0;
    padding: 0;
    list-style: none;

    li {
      display: inline;
      margin: 0;
      padding: 0;
    }

    a {
      float: left;
      margin: 0 5px 5px 0;
      padding: 5px 7px;
      background: rgba(32, 132, 234, 0.3);
      @include rounded(3px);
      color: #fff;
      font-size: 12px;
      font-weight: $regular;

      &:hover {
        background: rgba(32, 132, 234, 0.5);
        text-decoration: underline;
      }
    }

    .active-tag {
      background: rgba(32, 132, 234, 0.75);
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);

      &:hover {
        background: rgba(32, 132, 234, 1);
      }
    }
  }

  .actions {
    margin: 0;
    padding: 10px 0;
    text-align: left;

    a {
      margin-left: 25px;
    }
  }

  #variantsTable {
    font-size: 11px;

    td {
      padding: 15px 10px;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      line-height: 1;
    }

    .field.editable {
      border: none;
    }

    .variant-cell {
      padding: 0 5px 5px;
      border: none;
    }

    .option1-cell,
    .option1-label h3 {
      color: #930;
    }

    .option2-cell,
    .option2-label h3 {
      color: #690;
    }

    .option3-cell,
    .option3-label h3 {
      color: $ktv-blue;
    }

    .price-cell {
      text-align: right;
    }

    .stock-cell {
      text-align: center;

      span {
        font-family: verdana, georgia, serif;
        font-size: 12px;
      }
    }

    .actions-cell {
      padding: 10px 10px 0;

      a,
      a.button {
        top: 0;
        margin: 0;
      }
    }

    tfoot {

      td {
        padding: 0 10px;
      }

      .variant-cell {
        border: none;
      }
    }
  }

  #newVariantForm {

    h2 {
      margin: 5px 0 10px;
      color: #999;
      font: normal $bold 14px/1 $fonts;
      letter-spacing: 1px;
      text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
      text-transform: uppercase;
    }
  }

  .variant {
    margin: 0 0 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 1);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
    @include rounded(6px);

    input[type="text"] {
      background: rgba(204, 204, 204, 0.2);
      font-size: 11px;
    }

    .actions {
      margin: 10px 0 0;
      padding: 10px 0 0;
      border-top: 1px dotted rgba(0, 0, 0, 0.2);
    }
  }

  .variant-data {
    margin: 15px 0 0;
  }

  a.cancel {
    margin-left: 15px;
    padding: 0 0 1px;
    color: #999;
    border-bottom: 1px dotted #ccc;
    font-size: 10px;
    text-transform: uppercase;

    &:hover {
      color: $ktv-text;
    }
  }

  .button.update {
    color: $ktv-blue;
  }

  .fake-input {
    min-height: 14px;
    margin: 0;
    padding: 5px;
    background: #fff;
    @include rounded(3px);
    border: none;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.2);
    font-size: 99%;
    line-height: 14px;
    vertical-align: middle;
  }

  .fake-input:focus {
    outline: none;
    box-shadow: 0 0 5px $ktv-blue;
  }

  #option1-fields .actions,
  #option2-fields .actions,
  #option3-fields .actions {
    text-align: right;
  }
}

#contactForm {
  overflow: hidden;
  zoom: 1;

  .field {
    position: relative;
    padding: 15px 5px;
    overflow: hidden;
    zoom: 1;
  }
}


#makers_admin-blogs_controller #blogDetail h1,
#makers_admin-maker_videos_controller #makerGallery h1,
#makers_admin-maker_photos_controller #makerGallery h1,
#makers_admin-makers_controller #makerBio h1,
#maker_contacts_controller #makerContact h1 {
  padding-bottom: 10px;
  color: #bbb;
  font: normal $bold 20px/1 $fonts;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

#shipping-notice {
  overflow: visible;
  zoom: 1;
  margin: 0;
  padding: 7px 0 7px 10px;
  background: rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 11px;
  font-weight: $semi-bold;
  font-family: $fonts;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;

  p {
    display: inline-block;
    margin: 0;
    padding: 3px 0 0;
  }

  strong {
    color: $ktv-blue;
  }

  .meta {
    display: inline-block;
    margin: 0;

    .twitter-share-button,
    .fb-like {
      display: inline-block;
    }
  }
}

/*	Other Elements & Global Classes
---------------------------------------------------	*/
iframe {}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre {
  white-space: pre;
  white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}


::-moz-selection {
  background: #ff5e99;
  color:#fff;
  text-shadow: none;
}

::selection {
  background:#FF5E99;
  color:#fff;
  text-shadow: none;
}

hr {
  height: 1px;
  margin: 10px 0;
  padding: 0;
  border: none;
  background: rgba(0, 0, 0, 1);
  color: rgba(0, 0, 0, 1);
}

.skipLink, .hide	{
  display: none;
  visibility: hidden;
}

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.ui-sortable-placeholder {
  padding: 5px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px dotted rgba(0, 0, 0, 0.2);
  @include rounded(6px);
  visibility: visible !important;
}
.ui-sortable-placeholder * {
  visibility: hidden;
}

.note {
  color: #666;
  font-family: $fonts;

  strong {
    margin: 0 5px 0 0;
    color: $ktv-text;
    font-weight: $semi-bold;
    text-transform: uppercase;
  }
}

/*	Common Elements	*/
section > header {
  overflow: hidden;
  zoom: 1;
  margin: 0 0 20px;
}

.sectionNavigation {
  float: right;
  width: 798px;
  margin: 5px 0 0;
  font: normal 600 11px/1 "proxima-nova", Arial, sans-serif;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
  text-transform: uppercase;

  .active a {
    color: $ktv-blue;
    text-decoration: underline;
  }
}
.sectionNavigation ul {
  zoom: 1;
}
.sectionNavigation ul:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.sectionNavigation li {
  float: left;
  margin: 0 20px 0 0;

  em {
    color: $ktv-blue;
    font-style: normal;
    font-weight: bold;
  }
}

.sectionNavigation .button {
  margin: -10px 0 0;
}

.viewPost a,
.viewList a {
  overflow: hidden;
  display: block;
  margin: -2px 20px 0 0;
  padding: 0 0 0 25px;
  background: transparent url(/assets/icon_view_toggle.png) no-repeat 0 0;
  line-height: 15px;
}

.viewList a {
  background-position: 0 -48px;
}

.viewPost.active a {
  background-position: 0 -24px;
}

.viewList.active a {
  background-position: 0 -72px;
}

.meta {
  margin: 20px 0 10px;
  padding: 0;
  list-style: none;
  color: #999;
  font: normal 400 10px "proxima-nova", Arial, sans-serif;;
  text-transform: uppercase;

  li {
    display: inline;
    margin: 0 20px 0 0;
  }

  .share {
    margin: 0;
  }

  .pin-button {
    max-width: 70px !important;
    display: inline-block;
    vertical-align: middle;

    iframe {
      display: inline;
      vertical-align: middle;
    }
  }

  .twitter-share-button {
    max-width: 80px !important;
    margin: 0;
    vertical-align: middle;
  }

  .fb-like {
    width: 75px;
    max-width: 75px !important;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
  }

  a span {
    display: inline-block;
    padding: 2px 5px 0;
    background: rgba(153, 153, 153, 0.1);
    @include rounded(3px);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), 1px 1px 0 rgba(255, 255, 255, 0.8);
    font-weight: $semi-bold;
  }
}

.FBConnectButton_Simple {
  display: inline-block;
  height: 16px;
  background: transparent url(/assets/icon_facebook.png) no-repeat 0 0 !important;
}

.viewAll,
.moreLink {
  font: normal 400 10px "proxima-nova", Arial, sans-serif;
  text-transform: uppercase;
}
.viewAll a,
.moreLink a {
  color: #999;
}
.viewAll a:hover,
.moreLink a:hover {
  color: $ktv-blue;
}

.buttons {
  position: absolute;
  top: 0;
  left: -50px;
  width: 50px;
}

.buttons .button {
  padding: 1px 4px;
  color: #666;
  font: normal 400 14px/14px "proxima-nova", Arial, sans-serif;
}

.buttons .button:hover {
  color: #000;
}

.icon.show {
  float: left;
  width: 29px;
  height: 31px;
  margin: 0 0 0 -60px;
  padding: 5px;
  background: e8e8e5;
  border-radius: 3px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), 1px 1px 0 rgba(255, 255, 255, 0.6);
}

.ui-tooltip .icon.show {
  margin: 0;
}

.tabs {
  font: normal 600 11px/1 "proxima-nova", Arial, sans-serif;
  text-transform: uppercase;
}
.tabs li a {
  padding: 0 0 0 10px;
}

.tabs li:first-child a {
  padding: 0 10px 0 0;
}

#sortableTabs .ui-tabs-nav {
  font: normal $semi-bold 13px/1 $fonts;
  letter-spacing: 1px;
  text-transform: uppercase;

  a {
    margin: 0 10px 0 0;
    padding: 5px 15px 5px 5px;
    background: rgba(204, 204, 204, 0.3);
    @include rounded(6px);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), 1px 1px 0 rgba(255, 255, 255, 0.6);

    .move {
      float: left;
      width: 14px;
      height: 14px;
      margin: 0 10px 0 0;
      background: transparent url(/assets/icon_move.png) no-repeat 0 0;
      text-indent: -10000px;

      &:hover {
        background-position: 0 -28px;
        cursor: move;
      }
    }
  }

  .disabled a {
    .move {

      &:hover {
        cursor: not-allowed;
      }
    }
  }

  .ui-tabs-selected {
    text-decoration: none;

    a {
      background: rgba(255, 255, 255, 0.5);
      box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.2), 1px 1px 0 rgba(255, 255, 255, 0.8);
      color: $ktv-blue;
      text-decoration: none;
    }
  }

}

#comments {
  margin: 20px 0;
}




#commentList {
  margin: 0 0 25px;
  padding: 0;
  list-style: none;

  li {
    position: relative;
    min-height: 60px;
    margin: 10px 0;
    padding: 15px 0 15px 70px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  header {
    position: relative;
    margin: 0 0 10px -70px;
    padding: 0 0 0 70px;

    &:after {
      content: "\0020";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 49px;
      padding: 3px;
      background: #fff;
    }
  }

  h3 {
    float: left;
    font-size: 14px;
  }

  p {
    text-align: justify;
  }

  p.meta {
    float: left;
    margin: 3px 0 0 20px;
    text-align: left;
  }
}

#commentForm {
  margin: 20px 0;
  padding: 0 0 0 70px;
  border: none;
}
#commentForm h2 {
  margin: 0 0 20px -70px;
}

#commentForm .member {
  margin: 0 0 10px -70px;
  padding: 0 0 0 70px;

  h3 {
    font-size: 14px;
  }
}

#commentForm .member img {
  float: left;
  width: 49px;
  margin: 0 0 0 -70px;
  padding: 3px;
  background: #fff;
}

#commentForm textarea {
  display: block;
  width: 90%;
  height: 80px;
  margin: 15px 0;
}

#commentForm .button {
  margin-right: 20px;
}

.ranking p {
  margin: 10px 0 0;
  line-height: 1;
}

.pagination {
  overflow: hidden;
  zoom: 1;
  margin: 35px auto 0;
  padding: 0;
  font-family: $fonts;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;

  .first,
  .last {
    display: none;
  }

  .prev,
  .next {
    float: left;

    a {
      display: block;
      padding: 3px 6px;
    }
  }

  .prev {
    margin-right: 20px;
  }

  .next {
    margin-left: 20px;
  }

  .page {
    float: left;
    margin: 0 3px;
    background: rgba(153, 153, 153, 0.1);
    @include rounded(3px);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), 1px 1px 0 rgba(255, 255, 255, 0.8);
    text-align: center;

    a {
      display: block;
      padding: 3px 6px;
    }
  }

  .page.current,
  .page.gap {
    padding: 3px 6px;
    background: transparent;
    color: $ktv-blue;
    font-weight: $semi-bold;
    box-shadow: none;
  }
}

.compassing-header {
  margin-bottom: 0px;
}

.quote-text {
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 0px;
}

.tour-dates {
  margin-top: 20px;
  a {
    font-weight: bold;
  }
  .dates-text {
    margin-top: 20px;
  }
}