#home_controller {

  section {
    header {
      margin: 10px 0;
      h1 {
        float: left;
        margin: 10px 0 0 0;
        color: #bbb;
        font-size: 24px;
        font-weight: $bold;
        line-height: 1;
        a {
          color: #bbb;
          &:hover {
            color: $ktv-blue;
          }
        }
      }
      .viewAll {
        float: right;
        margin: 20px 0 0 0;
        line-height: 1;
      }
    }
  }

  #featured-content {
    #home-scroller {
      position: relative;
      zoom: 1;
      width: 585px;
      max-height: 440px;
      margin-left: 50px;
      padding-bottom: 15px;

      #hs {
        overflow: hidden;
        max-height: 440px;
      }

      .panel {
        position: relative;
        float: left;
        width: 585px;
        max-height: 440px;

        .panel-content {
          overflow: visible;
          padding: 15px;
          background: #fff;
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
          text-align: center;
        }

        .wrapper {
          position: relative;
          overflow: hidden;
          zoom: 1;
        }

        .featured-image {
          width: 100%;
          max-height: 350px;
          margin: 0 auto;
        }

        .featured-copy {
          position: absolute;
          bottom: 0;
          z-index: 100;
          width: 515px;
          padding: 10px 20px;
          background: rgba(0, 0, 0, 0.7);
          color: #fff;
          font-family: $fonts;
          font-size: 13px;
          text-align: justify;

          p {
            margin: 5px 10px;
            line-height: 1.3;
            letter-spacing: 1;
          }
        }

        h1 {
          padding: 15px 0 0;
          font-size: 20px;

          .date {
            margin: 0 10px 0 0;
            color: #ccc;
          }

          .reblog {
            color: $ktv-blue;
          }

          .price {
            margin: 0 0 0 20px;
            color: $ktv-blue;
          }

          .category {
            margin: 0 0 0 10px;
            color: #ccc;
          }
        }

        .related_maker {
          position: absolute;
          top: 15px;
          left: 15px;
          z-index: 100;
          width: 100%;
          margin: 0;
          background: rgba(0, 0, 0, 0.4);
          border-radius: 0;
          box-shadow: none;

          h2 {
            margin: 15px 0 5px;
            color: #fff;
            font-size: 13px;
            font-weight: $semi-bold;
            text-align: left;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
          }

          h3 {
            color: #fff;
            font-weight: $semi-bold;
            text-align: left;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
          }

          .avatar {
            float: left;
            width: 50px;
            margin: 10px;
            padding: 3px;
            background: #fff;
          }
        }

        .vimeo-description {
          margin: 10px 0 0;
          color: #999;
          font-family: $fonts;
          font-size: 13px;
          text-align: justify;

          p {
            margin: 0;
            line-height: 1.4;
          }
        }

        .badge {
          position: absolute;
          top: -1px;
          left: -1px;
          width: 74px;
          height: 70px;
          z-index: 200;
        }
      }

      #hsNext {
        position: absolute;
        overflow: hidden;
        top: 50%;
        right: -50px;
        width: 50px;
        height: 50px;
        margin: -70px 0 0;
        background: transparent url(/assets/next-horizontal-large.png) no-repeat 0 0;
        text-indent: -10000px;

        &:hover {
          background-position: -50px 0;
        }

        &:active {
          background-position: -100px 0;
        }
      }
      #hsNext.disabled {
        background-position: -150px 0;
        cursor: default;
      }

      #hsPrev {
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: -50px;
        width: 50px;
        height: 50px;
        margin: -70px 0 0;
        background: transparent url(/assets/prev-horizontal-large.png) no-repeat 0 0;
        text-indent: -10000px;

        &:hover {
          background-position: -50px 0;
        }

        &:active {
          background-position: -100px 0;
        }
      }
      #hsPrev.disabled {
        background-position: -150px 0;
        cursor: default;
      }

      #hs-pag {
        clear: both;
        padding: 0;
        line-height: 1;
        text-align: center;
        margin: 10px auto 0 auto;

        a {
          display: inline-block;
          width: 24px;
          height: 24px;
          background: transparent url(/assets/carousel-paginator.png) no-repeat 0 0;
          text-indent: -10000px;

          &:hover {
            background-position: -24px 0;
          }
        }

        .selected,
        .selected:hover,
        a:active {
          background-position: -48px 0;
        }
      }

      // Hide content while js is loading
      .featured-copy {
        display: none;
      }
      .panel, #hsPrev, #hsNext {
        visibility: hidden;
      }
      .panel:first-child {
        visibility: visible;
      }


    }
    .featured-campaign {
      width: 180px;
      height: 180px;
      padding: 10px;
      background: #fff;
      margin: 0 auto;
      &.first {
        margin-bottom: 10px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  #show-thumbs {
    margin: 30px 0;
    .shows {
      width: 100%;
      padding: 0;
      list-style: none;
      height: 140px;
      margin-top: 15px;
      .show {
        float: left;
        width: 140px;
        height: 140px;
        margin: 0;
        padding: 0 10px;
        text-align: center;
        .show-thumb {
          width: 142px;
          border: 1px solid rgba(0, 0, 0, 0.2);
          border-radius: 6px;
          -moz-border-radius: 6px;
        }
        .show-title {
          font-size: 10px;
          margin-top: 5px;
        }
      }
    }
  }

  #blog-posts {
    .blog-articles {
      margin-top: 30px;
      width: 100%;
      article {
        position: relative;
        padding: 25px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        &:nth-child(1) {
          padding-top: 0;
        }
        .blog-image {
          width: 250px;
          float: left;
          box-shadow: 0 2px 10px rgba(102, 102, 102, 0.2);
          .postImage {
            padding: 10px;
            width: 230px;
            background: #fff;
            border: none;
          }
        }
        .blog-content {
          width: 690px;
          float: right;
          .meta {
            margin: 10px 0;
            list-style: none;
            color: #999;
            font: normal 400 10px "proxima-nova", Arial, sans-serif;
            text-transform: uppercase;
          }
        }
      }
    }
  }

}

    //    h2 {
    //      margin: 0 0 15px;
    //      font-weight: 600;
    //
    //      .reblog {
    //        color: $ktv-blue;
    //      }
    //    }
    //
    //    #related_maker {
    //      position: absolute;
    //      z-index: 100;
    //      width: 610px;
    //      margin: 25px 10px 0;
    //      background: rgba(0, 0, 0, 0.4);
    //      border-radius: 0;
    //      box-shadow: none;
    //
    //      h2 {
    //        margin: 5px 0 0;
    //        color: #fff;
    //        font-size: 13px;
    //        font-weight: $bold;
    //        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    //      }
    //
    //      h3 {
    //        color: #fff;
    //        font-weight: $semi-bold;
    //        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    //      }
    //    }
    //
    //    .postImage,
    //    p iframe,
    //    .size-full,
    //    .inlinePostImage {
    //      max-width: 710px;
    //      margin: 10px 0 20px;
    //      padding: 10px;
    //      background: #fff;
    //      border: none;
    //      box-shadow: 0 2px 10px rgba(102, 102, 102, 0.2)
    //    }
    //
    //    .postImage.hover {
    //      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3)
    //    }
    //
    //    p {
    //      margin-right: 10px;
    //      text-align: justify;
    //    }
    //
    //    .icon {
    //      margin: 0 0 0 5px;
    //    }
    //
    //    .question {
    //      font-family: $fonts;
    //      font-size: 14px;
    //      font-weight: $semi-bold;
    //      color: $ktv-blue;
    //      text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
    //    }
    //
    //    .postBody {
    //      hr {
    //        display: block;
    //        height: 0px;
    //        margin: 20px 0;
    //        padding: 0;
    //        background: transparent;
    //        border: none;
    //        border-bottom: 1px solid rgba(255, 255, 255, 1);
    //        border-top: 1px solid rgba(0, 0, 0, 0.1);
    //        color: transparent;
    //        line-height: 1;
    //      }
    //    }
    //
    //
    //  }
    //
    //  #relatedItems {
    //    width: 740px;
    //    margin: 10px 0 0;
    //
    //    h1 {
    //      color: #aaa;
    //    }
    //
    //    #itemList {
    //
    //      li {
    //        margin: 0 1px 0 0;
    //        padding: 0 10px 5px;
    //
    //        .badge {
    //          left: 9px;
    //        }
    //      }
    //    }
    //  }
    //
    //  #comments {
    //    width: 800px;
    //    margin: 20px auto;
    //    padding: 20px 0 0;
    //    border-top: 1px solid rgba(0, 0, 0, 0.1);
    //  }
    //}
