.row {
  clear: both;
}
.full-width-column {
  width: 100%;
}
.one-half-column {
  width: 50%;
  float: left;
}
.one-third-column {
  width: 33.33%;
  float: left;
}
.one-fourth-column {
  width: 25%;
  float: left;
}
.three-fourths-column {
  width: 75%;
  float: left;
}

.horizontal-stitch {
  width: 100%;
  height: 5px;
  border: none;
  color: transparent;
  background: transparent url(/assets/stitch_horizontal.png) repeat-x;
}

#ie-message {
	display: none;
	padding: 8px 0;
	background: #000;
	color: #fff;
	font: normal $regular 12px/1 $fonts;
	text-align: center;
	
	p {
		margin: 0;
	}
	
	a {
		color: #fff;
		text-decoration: underline;
		
		&:hover {
			color: $ktv-blue;
		}
	}
}

#siteHeader {

	position: relative;
    width: 960px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-top: 20px;
	height: 100px;

	h1 {
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		color: transparent;
		text-shadow: none;
	}
}

#content {
  zoom: 1;
  width: 960px;
  margin: 0 auto;
  padding-bottom: 50px;
  position: relative;

  &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }

  hr {
    height: 5px;
    border: none;
    color: transparent;
    background: transparent url(/assets/stitch_horizontal.png) repeat-x;
  }
}

#ktvLogo {
	overflow: hidden;
	float: left;
	width: 101px;
	height: 97px;
	margin: -10px 0 0 10px;
}

#accountNavigation {
  position: absolute;
  top: 20px;
  right: 0;
  width: 610px;
  font: normal $regular 10px/1 $fonts;
  line-height: 22px;
  letter-spacing: 1px;
  text-align: right;
  text-transform: uppercase;

  li {
    display: inline-block;
    height: 22px;
    margin: 0 0 0 10px;
  }

  #instagramLink, #pinterestLink, #facebookLink, #tumblrLink, #twitterLink {
    margin-left: 5px;
  }

  a.externalLink {
    display: inline-block;
    width: 22px;
    height: 22px;
    text-align: left;
    text-indent: -10000px;
  }

  #vimeoLink .externalLink {
    background: transparent url(/assets/icon_vimeo.png) no-repeat 0 0;
  }

  #instagramLink .externalLink {
    background: transparent url(/assets/icon_instagram.png) no-repeat 0 0;
  }

  #pinterestLink .externalLink {
    background: transparent url(/assets/icon_pinterest.png) no-repeat center;
  }

  #facebookLink .externalLink {
    background: transparent url(/assets/icon_facebook_header.png) no-repeat 0 0;
  }

  #tumblrLink .externalLink {
    background: transparent url(/assets/icon_tumblr.png) no-repeat 0 0;
  }

  #twitterLink .externalLink {
    background: transparent url(/assets/icon_twitter_bird.png) no-repeat 0 0;
  }

}

#siteNavigation {
    position: relative;
	float: right;
	margin: 55px 0 0;
    width: 760px;
	font: normal $bold 18px $fonts;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
	text-transform: uppercase;

	li {
		display: inline;
		margin: 0 0 0 24px;

		&:first-child {
			margin: 0;
		}
	}

	.active a {
		color: $ktv-blue;
		text-decoration: underline;
	}
}

#siteSearch {
		position: absolute;
		top: 0;
		right: 0;
		text-align: right;
		background: rgba(255, 255, 255, 1);
		@include rounded(12px);
        padding: 3px;
        line-height: 13px;
		
		input[type="search"] {
			-webkit-appearance: none;
			width: 165px;
			margin: 0;
			padding: 0;
            padding-left: 5px;
			background: transparent;
			-moz-border-radius: 0;
			border-radius: 0;
			border: none;
			outline: none;
		}
		
		input[type="submit"] {
			display: inline;
			margin: 0;
            padding: 0;
            width: 33px;
            line-height: 13px;
			background: transparent;
			border: none;
			border-left: 1px dotted #ccc;
			@include rounded(0);
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
	}

#siteFooter {
  position: relative;
  padding: 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
    }
  }
  .background-top {
    background: transparent url(/assets/footer_repeater_top.jpg) repeat-x;
    height: 71px;
  }
  .background-repeat {
    background: transparent url(/assets/footer_repeater.jpg) repeat;
    height: 100%;
  }
  .footer-content {
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
    overflow: hidden;
    zoom: 1;
    width: 960px;
    margin: 0 auto;
    color: #000;
    font-family: $fonts;
    font-weight: $semi-bold;
    text-transform: uppercase;
  }
  a {
    color: #000;
    &:hover, &:active {
      color: #fff;
    }
  }
  .sponsors {
    overflow: hidden;
    zoom: 1;
    height: 55px;
    margin: 20px 0 30px 0;
    padding: 0;
    background: transparent;
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
      height: 55px;
      margin: 0 25px;
      padding: 0;
      background: transparent;

      &:first-child {
        margin-left: 0px;
      }

      &:last-child {
        margin-right: 0px;
      }

      img {
        display: inline;
        vertical-align: middle;
        background: transparent;
      }
    }
  }
  .site-map {
    margin: 25px 0;
    height: 200px;
    text-transform: uppercase;
    .logo-wrapper {
      margin-top: 45px;
      .logo {
        margin: 0 auto;
      }
    }
    .title {
      margin: 10px 0;
      font-size: 18px;
    }
    .footer-nav {
      li {
        font-weight: bold;
        font-size: 14px;
        line-height: 28px;
      }
    }
    .stay-updated {
      label {
        color: #000;
        font-weight: bold;
        padding: 0;
        margin: 0;
        line-height: 22px;
        font-size: 12px;
        display: block;
        margin-bottom: 10px;
      }
      .email {
        font-size: 12px;
        padding: 5px;
        width: 90%;
        display: block;
      }
      .submit {
        margin-top: 5px;
        font-size: 12px;
        line-height: 12px;
      }
    }
  }
  .legal {
    margin: 30px 0;
    height: 22px;
    line-height: 22px;
    .pp-tos {
      text-align: right;
      .pp-tos-nav {
        li {
          display: inline;
          margin-left: 10px;
        }
      }
    }
  }
  #newsletter-mahalo {
    p {
      font-weight: bold;
      font-size: 14px;
      line-height: 28px;
    }
  }
}

#status {}

#contentHeader {
	padding-bottom: 25px;
	background: transparent url(/assets/stitch_horizontal.png) repeat-x bottom;
	
	h1 {
		float: left;
	}
}

.no-js #info-text {
	display: none;
}

#info-text {
	position: relative;
	margin: 0 0 20px;
	padding: 0 50px 20px 0;
	background: transparent url(/assets/stitch_horizontal.png) repeat-x bottom;
	font-family: $fonts;
	text-align: justify;
	
	p {
		margin: 0 0 10px;
	}
	
	#info-close {
		position: absolute;
		top: -5px;
		right: 5px;
		font-weight: $semi-bold;
		line-height: 1;
		
		a {
			display: block;
			padding: 0 5px 2px;
			border: 1px solid #666;
		}
	}
}

#info-button {
	position: absolute;
	right: 0;
	margin: 0;
	font-family: $fonts;
	font-weight: $semi-bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	
	a {
		em {
			color: $ktv-blue;
			font-style: normal;
		}
	}
}

#info-button.active {
	a {
		color: $ktv-blue;
	}
}

#hero {
	overflow: visible;
	zoom: 1;
	padding: 0 0 15px;
	
	#videoIframe {
		margin: 0 0 20px;
		padding: 0;
		background: transparent url(/assets/loader.gif) no-repeat center;
		border: none;
	}
	
	figure {
		overflow: hidden;
		zoom: 1;
		width: 800px;
		min-height: 550px;
		margin: 0 auto;
	}
	
	figcaption, .ui-tooltip {
		float: left;
		width: 540px;
		margin: 0;
		padding: 0 0 0 70px;
		text-align: justify;
	}
	
	figcaption .avatar,
	.ui-tooltip .avatar {
		float: left;
		width: 46px;
		background: #fff;
		border: 1px solid #000;
		margin: 0 0 0 -70px;
	}
	
	h2 {
		margin: 5px 0 10px;
		color: #888;
	}
	
	a h2 {
		color: #444;
	}
	
	a:hover h2 {
		color: $ktv-blue;
	}
	
	h2 a,
	h3 a {
		color: #999;
		
		&:hover {
			color: $ktv-blue;
		}
	}
	
	.meta.actions,
	.ui-tooltip .meta.actions {
		float: right;
		width: 150px;
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;
	}
	
	.meta.actions li,
	.ui-tooltip .meta.actions li {
		display: block;
		margin: 0;
		padding: 0 0 5px;
		text-align: center;
	}
	
	.meta.actions .ranking,
	.ui-tooltip-content .meta.actions .ranking {
		zoom: 1;
		overflow: hidden;
		padding: 0 0 20px;
	}


	
	.comments,
	.ui-tooltip .comments {
		margin: 0 0 5px;
		font: normal $semi-bold 11px/1 $fonts;
		text-transform: uppercase;
		
		a span {
			display: inline-block;
			padding: 2px 5px 0;
			background: rgba(204, 204, 204, 0.3);
			@include rounded(3px);
			box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), 1px 1px 0 rgba(255, 255, 255, 0.6);
		}
	}
	
	.favorites,
	.ui-tooltip .favorites {
		font: normal $regular 10px/1 $fonts;
		text-transform: uppercase;
	}
	
	.favorites a,
	.ui-tooltip .favorites a {
		color: #999;
	}
	
	.favorites a:hover,
	.ui-tooltip .favorites a:hover {
		color: $ktv-blue;
	}
	
	aside {
		margin: 15px 0 0;
		padding: 20px 0;
		background: url(/assets/stitch_horizontal.png) repeat-x left top, url(/assets/stitch_horizontal.png) repeat-x bottom;
		
		h1 {
			float: left;
			margin: 0 0 15px;
			color: #2084ea;
		}
		
		h2 {
			margin: 5px 0 0;
			font-size: 11px;
		}
		
		h3 {
			margin: 5px 0 0;
			font-size: 10px;
		}
		
		form {
			display: none;
			float: right;
			margin: 0 0 15px;
		}
		
		ul {
			position: relative;
			clear: both;
			overflow: hidden;
			zoom: 1;
			margin: 0;
			padding: 0;
			list-style: none;
		}
		
		li {
			float: left;
			width: 222px;
			min-height: 205;
			margin: 0;
			padding: 0 8px;
			text-align: center;
			
			&:first-child {
				margin: 0;
			}
		}	
			
		.active a {
			text-decoration: none;
		}
		
		.active .thumb {
			opacity: 0.5;
		}
	}
	
	.thumb {
		width: 222px;
		margin: 0 auto 10px;
		background: #f5f5f5;
		border: 1px solid rgba(0, 0, 0, 0.13);
		@include rounded(6px);
		-webkit-background-clip: padding-box;
	}
	
	footer {
		clear: both;
		margin: 0 0 0 70px;
	}
}

.ui-tooltip-content {
	width: 400px;
	
	hgroup {
		float: left;
		width: 340px;
		margin: 5px 0 0 15px;
		
		h2 {
			margin: 5px 0;
			a {
				color: #999;
				
				&:hover {
					color: $ktv-blue;
				}
			}
		}
	}
	
	p {
		clear: both;
	}
	
	.ranking p {
		text-align: center;
	}
	
	.icon.show {
		margin: 0 0 10px;
		background: $ktv-gray;
	}
	
	.meta.actions li {
		float: left;
	}
	
	.meta.actions .comments, .meta.actions .favorites {
		padding: 7px 0px 0;
	}
	
	#credits {
		display: none;
	}
	
	#showFooter {
		display: none !important;
	}
}

#relatedItems {
	position: relative;
	overflow: hidden;
	zoom: 1;
	width: 960px;
	margin: 10px auto 0;
	padding: 20px 0 0;
	background: transparent url(/assets/stitch_horizontal.png) repeat-x 0 0;
	
	h1 {
		color: #aaa;
		font-size: 16px;
	}
	
	#itemList {
		float: none;
		padding: 0;
		list-style: none;
		
		li {
			position: relative;
			float: left;
			width: 164px;
			min-height: 170px;
			margin: 0;
			padding: 0 14px 5px;
			text-align: center;
			
			p {
				color: #999;
				font: normal $regular 10px/1 $fonts;
				text-align: center;
				text-transform: uppercase;
			}

			.badge {
				left: 12px;
			}
		}
		
		.thumb {
			position: relative;
			width: 164px;
			margin: 0 auto 10px;
			padding: 4px;
			background: #fff;
			border-radius: 0;
			-moz-border-radius: 0;
			z-index: 10;
		}
		
		.button {
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -30px 0 0 -20px;
			z-index: 1;
		}
		
		li:hover .button {
			z-index: 20;
			-moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);
			box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);
		}
		
		h4 {
			margin: 5px 0 0;
			color: #999;
			font: normal 400 12px "proxima-nova", Arial, sans-serif;
		}
	}
}

#related-carousel-next {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 50px;
	height: 100%;
	z-index: 100;
	cursor: url(/assets/cursor_scroll_right.png), auto;
	text-indent: -10000px;
}

#related-carousel-prev {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50px;
	height: 100%;
	z-index: 100;
	cursor: url(/assets/cursor_scroll_left.png), auto;
	text-indent: -10000px;
}

#search-results {
	header {
		h1 {
			em {
				color: $ktv-blue;
				font-style: normal;
			}
		}
	}
	
	.results-count {
		color: #bbb;
		font-size: 16px;
	}
	
	article {
		padding: 15px 0 5px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		border-top: 1px solid rgba(255, 255, 255, 0.5);
	}
	
	article:nth-child(3) {
		border-top: none;
		margin: 15px 0 0;
	}
	
	.pagination {
		width: 60%;
		margin: 20px auto;
		text-align: center;
		
		.next {
			float: right;
		}
	}
} 

#cartFrame {
	position: absolute;
	bottom: 0;
	left: -10px;
	z-index: 100;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	visibility: hidden;
}

#modal {
	position: relative;
	padding: 20px 30px;
	
	#logo {
		position: absolute;
		top: 20px;
		left: 30px;
		width: 41px;
	}
	
	#modalHeader {
		position: relative;
		padding: 15px 0 25px 50px;
		background: transparent url(/assets/stitch_horizontal.png) repeat-x bottom;
		
		h1 {
			color: #aaa;
			font-size: 24px;
		}
		
		p {
			position: absolute;
			top: 18px;
			right: 5px;
			color: #999;
			font-size: 11px;
			font-family: $fonts;
			font-weight: $regular;
			letter-spacing: 1px;
			text-transform: uppercase;
			
			a {
				margin-left: 10px;
			}
		}
	}
	
	#status-message {
		padding: 220px 0 0;
		
		#modalHeader {
			padding: 0;
			background: transparent;
			
			h1 {
				text-align: center;
			}
		}
		
		.notice,
		.alert {
			color: #888;
			text-align: center;
		}
	}
	
	#intro {
		margin: 15px 0 0;
		font-family: $fonts;
		text-align: center;
		letter-spacing: 1px;
		
		strong {
			color: #333;
			font-weight: $semi-bold;
			text-transform: uppercase;
		}
	}
	
	#status-messages {
		margin: 15px 0 0;
		color: #000;
		font-family: $fonts;
		font-weight: $semi-bold;
		text-align: center;
		letter-spacing: 1px;
	}
	
	#error_explanation {
		width: 75%;
		margin: 15px auto 0;
		padding: 0;
		
		ul {
			margin: 20px 0 0 100px;
		}
	}
	
	#regForm {
		margin: 20px 10px 0;
		
		.field {
			overflow: hidden;
			zoom: 1;
			padding: 7px 0;
			
			label {
				float: left;
				width: 30%;
				color: #888;
				font-family: $fonts;
				font-size: 12px;
				font-weight: $semi-bold;
				letter-spacing: 1px;
			}
			
			input[type="text"],
			input[type="email"],
			input[type="password"] {
				float: left;
				width: 65%;
				padding: 5px 10px;
				@include rounded(3px);
				border: none;
				box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.3);
				font-size: 12px;
			}
			
			em {
				clear: left;
				display: block;
				margin: 0 0 0 30%;
				padding: 5px 0 0;
				color: #999;
				font-size: 10px;
				font-style: normal;
				text-transform: uppercase;
			}
			
			.field_with_errors {
				label {
					color: #a00;
				}
				
				input[type="text"],
				input[type="email"],
				input[type="password"] {
					border: 1px solid #c00;
				}
			}
		}
		
		.checkbox {
			padding-left: 30%;
			
			label,
			input {
				float: none;
				margin-right: 5px;
				vertical-align: middle;
			}
		}
		
		.actions {
			padding: 10px 0 10px 30%;
			
			a {
				margin-left: 20px;
				color: #888;
				font-size: 11px;
				text-transform: uppercase;
				
				&:hover {
					color: $ktv-blue;
				}
			}
		}
	}
}

.meta .centup {
  display: inline-block;
  max-width: 125px;
}