#makers_controller {
	overflow-y: scroll;
}


#makersWall {
	overflow: visible;
	zoom: 1;
	
	.pagination {
		clear: both;
		margin-left: 170px;
	}
	
	#infinite-pagination {
		clear: both;
		margin-left: 170px;
		
		.pagination {
			margin-left: 0;
		}
	}
}

#makersNavigation {
	position: fixed;
	float: left;
	width: 150px;
	font: normal 700 10px/1 "proxima-nova", Arial, sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	
	h2 {
		color: #bbb;
		font-size: 16px;
		font-weight: $bold;
	}
	
	li {
		margin: 0 0 10px;
	}
	
	a {
		display: block;
		padding: 2px 5px;
		text-decoration: none;
		text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
	}
	
	a:hover,
	.active a {
		background: transparent;
		color: $ktv-blue;
	}
	
}

#makersGallery,
#makersGallery #makersList,
#makersList.list {
	float: right;
	width: 810px;
	margin: 0;
	padding: 0;
	list-style: none;
}

#makersGallery {
	#makersList {
		overflow: hidden;
		zoom: 1;
	}
}
	
#makersGallery #makersList > li {
	float: left;
	width: 250px;
	padding: 0 0 10px 15px;
}

#makersGallery li header {
	display: none;
}

#makersGallery li.active h2 {
	color: $ktv-blue;
}

#makersGallery {
	article {
		overflow: hidden;
		padding: 10px;
		background: #fff;
		border: 1px solid #ddd;
		border-radius: 5px;
		font-size: 11px;
	
		p {
			text-align: justify;
		}
		
		a:hover h2 {
			color: $ktv-blue;
		}
		
		a p {
			color: $ktv-text;
		}
	}
	
	.postImage {
		width: 230px;
		margin: 0 0 10px;
	}
	
	.meta {
		margin-bottom: 0;
		padding-left: 40px;
		
		.author {
			display: block;
			margin: 5px 0 0 -40px;
			padding: 10px 0 0;
			border-top: 1px dotted rgba(0, 0, 0, 0.1);
			font-size: 10px;
			font-weight: $semi-bold;
			letter-spacing: 1px;

			.avatar {
				display: inline;
				vertical-align: middle;
				width: 24px;
				margin: 0 7px 0 0;
			}
			
			a {
				color: #999;
				
				&:hover {
					color: $ktv-blue;
				}
			}
		}
	}
}
	
#makersList.list {
	.avatar {
		float: left;
		width: 150px;
		margin: 0 0 0 -190px;
		padding: 5px;
		background: #fff;
		-moz-box-shadow: 1px 1px 1px rgba(204, 204, 204, 0.1);
		box-shadow: 1px 1px 1px rgba(204, 204, 204, 0.1);
	}
	
	.button {
		position: absolute;
		top: 20px;
		right: 0;
	}
	
	li {
		position: relative;
		overflow: hidden;
		zoom: 1;
		width: 600px;
		margin: 0;
		padding: 20px 0 20px 200px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		
		&:first-child {
			padding: 0 0 20px 200px;
			
			.button {
				top: 5px;
			}
		}
		
		p {
			text-align: justify;
		}
	}
	
	hgroup {
		padding: 5px 0 0;
	}
	
	h1 {
		margin: 0;
		padding: 0;
		font-size: 14px;
	}
	
	h2 {
		margin: 5px 0 10px;
		color: #888;
		font-size: 11px;
		
		a {
			color: #888;
			
			&:hover {
				color: #2084ea;
			}
		}
	}
}

#makersList.list > li:hover img,
#makersList.list > li.active img { 
	-moz-box-shadow: 0 1px 10px rgba(153, 153, 153, 0.7);
	box-shadow: 0 1px 10px rgba(153, 153, 153, 0.7);
}

#makersList.list > li {
	min-height: 150px;
}

.columns #makersList {
	margin: 0;
	padding: 0;
	list-style: none;
	
	h1 {
		font-size: 14px;
	}
	
	h2 {
		margin: 5px 0 0;
		color: #999;
		font-family: "proxima-nova", Arial, sans-serif;
		font-size: 14px;
	}
	
	p {
		text-align: justify;
	}
	
	header .button {
		position: absolute;
		top: 0;
		right: 0;
		width: 50px;
		text-align: center;
	}
	
	.author {
		margin: 0 10px 5px 0;
		font-size: 10px;
		font-weight: $semi-bold;
		line-height: 22px;
		letter-spacing: 1px;

		.avatar {
			display: inline;
			vertical-align: middle;
			width: 24px;
			margin: 0 0 0 0;
			padding: 2px;
			background: #fff;
		}
		
		a {
			color: #999;
			
			&:hover {
				color: $ktv-blue;
			}
		}
	}
}

.columns #makersList > li {
	position: relative;
	margin: 0;
	padding: 20px 0 0;
}

.columns #makersList > li:first-child {
	padding-top: 10px;
	border-top: none;
}

.columns #makersList li > footer {
	position: relative;
	overflow: hidden;
	zoom: 1;
	margin: 0 0 0 100px;
}

.columns #makersList footer h1 {
	float: left;
	margin: 0 0 0 10px;
	font-size: 11px;
	font-weight: $bold;
	line-height: 20px;
	
	a {
		color: #999;
		
		&:hover {
			color: $ktv-blue;
		}
	}
}

.columns #makersList footer h2:before {
	content: " // ";
}

.columns #makersList footer h2 {
	float: left;
	margin: 0 0 0 5px;
	color: #666;
	font-size: 11px;
	font-weight: $regular;
	line-height: 20px;
	
	a {
		color: #999;
		
		&:hover {
			color: $ktv-blue;
		}
	}
}



.columns #makersList article {
	position: relative;
	padding: 20px 0 0 100px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	
	h2 {
		margin-top: 0;
	}
	
	a h2 {
		color: #000;
	}
	
	a:hover h2 {
		color: $ktv-blue;
	}
	
	a:hover p {
		color: $ktv-text;
	}
}
	
	.columns #makersList li:nth-child(1) article {
		border-top: none;
		padding-top: 10px;
	}
	
	.columns #makersList article .postImage {
		float: left;
		width: 70px;
		margin: 0 0 0 -100px;
		padding: 4px;
		background: #fff;
		border: none;
	}
	
	.columns #makersList article p {
		text-align: justify;
	}

/*	Maker Detail Pages
---------------------------------------------------	*/
#maker {
	overflow: visible;
	zoom: 1;
	padding: 0 0 0 300px;
	
	header {
		position: relative;
		
		.avatar {
			float: left;
			width: 250px;
			padding: 5px;
			background: #fff;
			margin: 0 0 15px -300px;
		}
		
		h2 {
			margin: 5px 0 0;
			color: #888;
			font-weight: 300;
		}
		
		.button.follow {
			position: absolute;
			top: 5px;
			right: 0;
		}
		
	}
	
	h1 {
		font-size: 36px;
	}
}

	
#makerNavigation {
	overflow: hidden;
	zoom: 1;
	margin: 15px 0 0;
	padding: 20px 0 15px;
	background: transparent url(/assets/stitch_horizontal.png) repeat-x left top;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	
	ul {
		float: left;
	}
	
	li {
		display: inline;
		margin: 0 40px 0 0;
		font: normal 600 13px/1 "proxima-nova", Arial, sans-serif;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	
	.viewAll {
		float: right;
		margin: 0;
	}
	
	.button.new:hover {
		color: #090;
	}
	
	.active a {
		color: $ktv-blue;
		text-decoration: underline;
	}
}

#adminButtons {
	margin: 0;
	padding: 0;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
	list-style: none;
	
	li {
		display: inline-block;
		margin: 0 5px 0 0;
		padding: 10px 0;
	}
	
	#newLink {
		a:hover {
			color: #090;
		}
	}
	
}

#tagTabs {
	overflow: hidden;
	zoom: 1;
	margin: 15px 0;
	
	.ui-tabs-nav {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		
		li {
			margin: 0 5px 0 0;
			padding: 3px 5px;
			background: rgba(255, 255, 255, 0.2);
			border: 1px solid #ccc;
			border-bottom: none;
			border-radius: 3px 3px 0 0;
		}
		
		.ui-state-active {
			background: rgba(255, 255, 255, 1);
			
			a {
				color: $ktv-blue;
			}
		}
	}
}

#makersBlog {
	float: right;
	width: 660px;
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	article {
		position: relative;
		overflow: hidden;
		zoom: 1;
		padding: 20px 0 10px 140px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		
		h2 {
			margin: 5px 0 10px;
			font-weight: 600;
		}
		
		.postImage {
			float: left;
			width: 108px;
			margin: 0 0 0 -140px;
			padding: 5px;
			background: #fff;
		}
		
		.icon {
			margin: 0 0 0 5px;
		}
		
		.postBody {
			.inlinePostImage,
			img,
			iframe {
				max-width: 495px;
				margin: 20px 0;
				padding: 10px;
				background: rgba(255, 255, 255, 1);
				box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
			}
			img {
				height: auto !important;
			}
		}
	}
	
	.externalSource {
		padding: 10px 0;
		border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
		
		h2 {
			margin: 0;
			padding: 0 0 0 24px;
			background: transparent url(/assets/icon_rss.png) no-repeat left;
			color: #bbb;
			line-height: 18px;
			
			a {
				color: #bbb;
				text-decoration: underline;
				
				&:hover {
					color: $ktv-blue;
				}
			}
		}
	}
	
	.externalPost {
		article {
			padding: 20px 0 10px;
			
			img {
				max-width: 630px;
				margin: 0 0 20px 5px;
				padding: 10px;
				background: #fff;
				box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
			}
			
			p {
				text-align: justify;
			}
		}
		
	}
	
	.adminActions {
		position: absolute;
		top: 20px;
		right: 0;
		width: 200px;
		text-align: right;
		
		.reblog {
			&:hover {
				color: #090;
			}
		}
	}
}

.ngg-browser-prev,
.ngg-browser-next {
	display: none;
}
	
#blogDetail {
	float: right;
	width: 660px;
	margin: 15px 0;
	
	article {
		position: relative;
		padding-bottom: 15px;
		
		.postBody {
			.inlinePostImage,
			img,
			iframe {
				max-width: 630px;
				margin: 20px 0;
				padding: 10px;
				background: rgba(255, 255, 255, 1);
				box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
			}
			
			img {
				height: auto !important;
			}

			.ngg-browser-prev,
			.ngg-browser-next {
				display: none;
			}
		}
		
		footer {
			margin: 30px 0 0;
			padding: 0 0 5px;
			border-top: 1px solid rgba(0, 0, 0, 0.2);
		}
		
		.adminActions {
			position: absolute;
			top: 0;
			right: 0;
		}
		
		.tagList {
			margin: 0;
		}
	}
	
	.meta {
		margin: 10px 0 20px;
	}
	
	p {
		text-align: justify;
		
		iframe {
			min-width: 630px;
			max-width: 630px;
			margin: 20px 0;
			padding: 10px;
			background: rgba(255, 255, 255, 1);
			box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
		}
	}
	
	.postImage,
	.inlinePostImage,
	.postBody iframe {
		min-width: 630px;
		max-width: 630px;
		margin: 20px 0;
		padding: 10px;
		background: rgba(255, 255, 255, 1);
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	}
	
	.imagesList {
		.inlinePostImage {
			width: 140px;
			min-width: 140px;
			max-width: 140px;
			padding: 5px;
			background: rgba(255, 255, 255, 1);
			box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
		}
	}
	
	.field .postImage {
		margin: 0 0 15px;
	}
	
	footer .meta {
		margin: 15px 0;
	}
	
	#comments {
		padding: 20px 0 0;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	}
}

#makerStore {
	float: right;
	width: 660px;
	margin: 0;
	padding: 15px 0 0;
	
	#newLink {
		border: none;
	}
	
	figure {
		
		img {
			width: 640px;
			padding: 10px;
			background: rgba(255, 255, 255, 1);
			-moz-box-shadow: 2px 2px 2px rgba(204, 204, 204, 0.5);
			box-shadow: 2px 2px 2px rgba(204, 204, 204, 0.5);
		}
		
		.price {
			position: absolute;
			top: 0;
			right: 70px;
			margin: 2px 0 0;
			color: #2084ea;
			color: rgba(32, 132, 234, 1);
			font-family: "proxima-nova", Arial, sans-serif;
			font-size: 16px;
			text-align: right;
		}
	}
	
	figcaption {
		position: relative;
		float: none;
		width: auto;
		margin: 20px 0;
		padding: 0;
		
		h3 {
			color: #000;
			font-size: 15px;
		}
		
		h4 {
			margin: 5px 0 10px;
			color: #999;
			font: normal 400 12px "proxima-nova", Arial, sans-serif;
			letter-spacing: 1px;
			text-transform: uppercase;
		}
		
		p {
			text-align: justify;
		}
		
		.button {
			position: absolute;
			top: 0;
			right: 0;
		}
		
	}
	
	.productList {
		clear: both;
		width: 100%;
		margin: 15px 0;
		padding: 0;
		list-style: none;
		
		li {
			overflow: hidden;
			position: relative;
			float: left;
			width: 200px;
			margin: 0 10px 30px;
			padding: 0;
			text-align: center;
		}
		
		li:nth-child(4) {
			clear: left;
		}
		
		.thumb {
			position: relative;
			width: 190px;
			margin: 0 auto 10px;
			border: 1px solid rgba(0, 0, 0, 0.1);
			z-index: 10;
		}
		
		.button {
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -25px 0 0 -20px;
			z-index: 1;
		}
		
		li:hover .button {
			z-index: 20;
		}
		
		h4 {
			margin: 5px 0 0;
			color: #999;
			font: normal 400 12px "proxima-nova", Arial, sans-serif;
		}
	}
}

#makerStore.makerAdmin {
	padding: 0;
	
	figure {
		
		.price {
			right: 120px;
		}
	
		.button.edit {
			right: 65px;
		}
		
		.button.delete {
			&:hover {
				color: #a00;
			}
		}
	}
	
	.productList {
		.button.edit {
			left: 35%;
		}
		
		.button.delete {
			left: 65%;
			
			&:hover {
				color: #a00;
			}
		}
	}
}

#makerProduct {
	float: right;
	width: 660px;
	margin: 0;
	padding: 0;
	
	#shipping-notice {
		border-top: none;
		text-align: center !important;
	}
	
	#newLink {
		border: none;
	}
	
	#productImages {
		position: relative;
		width: 660px;
		margin: 0 0 20px 0;

		#largeImage {
			position: relative;
			width: 500px;
			overflow: hidden;

			img {
				width: 480px;
				height: 327px;
				border: 10px solid #fff;
				border: 10px solid rgba(255, 255, 255, 1);
			}
		}
		
		#largeImage.single {
			width: 660px;
			
			img {
				width: 640px;
				height: 436px;
			}
		}

		#thumbs {
			overflow: hidden;
			zoom: 1;
			position: absolute;
			top: 0;
			right: 0;
			width: 140px;
			height: 290px;
			margin: 0;
			padding: 30px 0;

			#scnNext {
				position: absolute;
			    top: 320px;
			    left: 50%;
				width: 32px;
				height: 32px;
				margin: 0 0 0 -16px;
				background-image: url(/assets/next-vertical.png);
				text-indent: -10000px;
				
				&:hover {
					background-position: -32px 0;
				}

				&:active {
					background-position: -64px 0;
				}
			}

			#scnPrev {
				position: absolute;
			    top: 0;
				left: 50%;
				width: 32px;
				height: 32px;
				margin: 0 0 0 -16px;
				background-image: url(/assets/prev-vertical.png);
				text-indent: -10000px;
				
				&:hover {
					background-position: -32px 0;
				}

				&:active {
					background-position: -64px 0;
				}
			}
			
			#scnNext.disabled,
			#scnPrev.disabled {
				background-position: -96px 0;
				cursor: default;
			}

		}

		#productThumbnails {
			position: relative;
			overflow: hidden;
			zoom: 1;
			width: 140px;
			margin: 0;
			padding: 0;
			list-style: none;

			a {
				display: block;
				margin: 0 auto;
				padding: 5px 10px;
			}

			img {
				width: 110px;
				height: 74px;
				padding: 5px;
				background: #fff;

				&:hover {
					box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
				}
			}

			.active,
			a:first-child.selected {
				opacity: 0.35;
			}
			
			#scnNext {
				position: absolute;
				top: 15px;
				right: 0;
				width: 32px;
				height: 32px;
				cursor: pointer;
				background: transparent url(/assets/next-horizontal.png) no-repeat 0 0;
				text-indent: -10000px;

				&:hover {
					background-position: -32px 0;
				}

				&:active {
					background-position: -64px 0;
				}
			}

			#scnPrev {
				position: absolute;
				top: 15px;
				left: 0;
				width: 32px;
				height: 32px;
				cursor: pointer;
				background: transparent url(/assets/prev-horizontal.png) no-repeat 0 0;
				text-indent: -10000px;

				&:hover {
					background-position: -32px 0;
				}

				&:active {
					background-position: -64px 0;
				}
			}

			#scnNext.disabled,
			#scnPrev.disabled {
				background-position: -96px 0;
				cursor: default;
			}

		}
	}
	
	hgroup {
		clear: both;
		position: relative;
	
		h3 {
			margin: 0 350px 0 0;
			color: #000;
			font-size: 18px;
			line-height: 1.2;
		}
	
		h4 {
			margin: 5px 0 10px;
			color: #999;
			font: normal 400 14px "proxima-nova", Arial, sans-serif;
			letter-spacing: 1px;
			text-transform: uppercase;
		}
		
		.price {
			position: absolute;
			top: 0;
			right: 160px;
			margin: 0;
			color: #2084ea;
			color: rgba(32, 132, 234, 1);
			font-family: $fonts;
			font-size: 18px;
			font-weight: $semi-bold;
			line-height: 1.2;
			text-align: right;
		}
	
		.button {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	
	.single .price {
		right: 0;
	}
	
	p {
		text-align: justify;
	}
	
	#variants {
		overflow: hidden;
		zoom: 1;
		margin: 20px 0;
		padding: 0 0 10px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		list-style: none;
		
		li {
			float: left;
			width: 33%;
			margin: 0 0 10px;
			padding: 0;
		}
		
		label {
			display: inline-block;
			margin: 0 10px 0 0;
			color: #999;
			font: normal $semi-bold 12px/1 $fonts;
			letter-spacing: 1px;
		}
	}
	
	#cartMsg {
		display: inline;
		margin: 0 0 0 10px;
		padding: 5px 0;
		
		h3 {
			display: inline;
			color: #999;
			
			span {
				color: $ktv-text;
			}
		}
	}
	
	#productForm {
		display: block;
		padding: 0 0 30px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
	
	.tagList {
		margin: 20px 0 0;
	}
	
	#relatedShows {
		h1 {
			font-size: 16px;
		}
	}
	
	.show-carousel {
		clear: both;
		position: relative;
		width: 660px;
	}
	
	.meta {
		iframe {
			max-width: 100;
			margin: 0;
			padding: 0;
			background: transparent;
			box-shadow: none;
		}
	}
}

#makerProduct.makerAdmin {
	position: relative;
	padding: 0;
	
	#editLink {
		position: absolute;
		top: 5px;
		right: 0;
	}
	
}

#makers_admin-stores_controller {
	#makerStore {
		position: relative;
		
		h1 {
			padding-bottom: 10px;
			color: #bbb;
			font: normal $bold 20px/1 $fonts;
			letter-spacing: 1px;
			text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
			text-transform: uppercase;
		}
		
		#return-button {
			position: absolute;
			top: 10px;
			right: 10px;
		}
	}
	
	.orders {
		h2 {
			position: relative;
			padding: 10px 0 0;
			
			span {
				position: relative;
				top: -2px;
				display: inline-block;
				margin: 0 0 0 5px;
				padding: 4px 5px 2px;
				background: rgba(255, 255, 255, 1);
				border-radius: 3px;
				box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), 1px 1px 0 rgba(255, 255, 255, 0.6);
				font-size: 10px;
				font-weight: $semi-bold;
				line-height: 1;
				text-align: center;
			}
			
			.new { color: #090; }
			.partial { color: #f60; }
			.closed { color: $ktv-text; }
		}
	}
	
	.ordersTable {
		margin: 10px 0 30px;
		background: #fff;
		
		td {
			padding: 15px 10px;
			border-color: #bbb;
		}
		
		.order-number {
			width: 50px;
		}
		
		.order-status {
			width: 60px;
			text-align: center;
			
			span {
				padding: 1px 3px;
				@include rounded(3px);
				font-family: $fonts;
				font-size: 10px;
				letter-spacing: 1px;
				text-transform: uppercase;
			}
		}
		
		.open {
			span {
				background: $ktv-blue;
				color: #fff;
			}
		}
		
		.shipped {
			td {
				background: rgba(153, 153, 153, 0.1);
			}
			span {
				background: #999;
				color: #fff;
			}
		}
		
		.joint {
			td {
				border-top: 1px dotted #e5e5e5;
			}
		}
		
		.order-customer {}
		
		.order-qty {
			width: 20px;
			text-align: center;
		}
		
		.order-product {
			width: 210px;
		}
		
		.order-price {
			width: 70px;
			text-align: right;
		}
		
		a {
			color: $ktv-text;
			text-decoration: underline;
			
			&:hover {
				color: $ktv-blue;
				text-decoration: none;
			}
		}
	}
	
	.orderDetail {
		overflow: hidden;
		zoom: 1;
	}
	
	#customerInfo {
		overflow: hidden;
		zoom: 1;
		margin: 5px 0 20px;
		
		h2 {
			margin: 0 0 10px;
			padding: 0 0 5px;
			border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
			color: $ktv-blue;
		}
		
		address {
			float: left;
			margin: 0;
			line-height: 1.8;
			
			h3 {
				margin: 0 0 5px;
				font-size: 15px;
				color: #000;
				text-transform: none;
			}
			
			a {
				color: $ktv-text;
				text-decoration: underline;
				
				&:hover {
					color: $ktv-blue;
				}
			}
		}
		
		#orderStats {
			clear: none;
			float: right;
			width: 200px;
			margin: 0 0 0;
			@include rounded(6px);
			box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
			
			th {
				background: transparent;
			}

			td {
				padding: 8px 10px;
			}

			.label {
				color: #999;
			}

			.paid {
				color: #090;
			}
			.voided {
				color: #a00;
			}
		}
	}
	
	
	
	#orderInfo {
		clear: both;
		margin: 15px 0;
		
		h2 {
			margin: 0 0 10px;
			padding: 0 0 5px;
			border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
			color: $ktv-blue;
		}
		
		strong {
			color: #000;
			font-weight: bold;
		}
		
		.note {
			margin: 0 0 20px;
		}
	}
	
	#fulfillmentTable {
		margin: 10px 0;
		background: rgba(255, 255, 255, 1);
		
		th {
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		}
		
		td {
			vertical-align: middle;
		}
		
		.shipment {
			td {
				background: rgba(32, 132, 234, 0.1);
				border: none;
			}
		}
		
		.order-product {
			width: 250px;
		}
		
		.order-price {
			text-align: right;
		}
		
		th.order-price {
			text-align: center;
		}
		
		.order-qty {
			width: 30px;
			text-align: center;
		}
		
		.order-status {
			width: 70px;
			text-align: center;
			
			span {
				padding: 1px 3px;
				@include rounded(3px);
				font-family: $fonts;
				font-size: 10px;
				letter-spacing: 1px;
				text-transform: uppercase;
			}
		}
		
		.open {
			span {
				background: $ktv-blue;
				color: #fff;
			}
		}
		
		.shipped {
			td {
				background: rgba(204, 204, 204, 0.1);
				color: #aaa;
			}
			span {
				background: #999;
				color: #fff;
			}
		}
		
		.shipment {
			em {
				margin-right: 5px;
				color: #999;
				font-style: normal;
			}
		}
		
		.shipment.shipped {
			td {
				padding: 10px;
				background: rgba(0, 0, 0, 0.1);
			}
		}
		
		.productImg {
			display: inline;
			width: 100px;
			padding: 5px;
			background: #fff;
			box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
		}
		
		tfoot td {
			background: rgba(32, 132, 234, 0.15);
		}
		
		.tracking-number,
		.carrier,
		.shipment-date {
			padding: 0 10px;
		}
	}
}


#makers_controller,
#maker_contacts_controller {
	#relatedItems {
		width: 660px;
		margin: 10px 0 0;
		
		h1 {
			color: #aaa;
			font-size: 16px;
		}

		#itemList {

			li {
				margin: 0 1px 0 0;
				padding: 0 26px 5px;

				.badge {
					left: 24px;
				}
			}
		}
	}
}

#related_maker {
	position: relative;
	overflow: visible;
	zoom: 1;
	display: inline-block;
	margin: 10px 0 0;
	padding: 10px 20px 10px 80px;;
	background: rgba(255, 255, 255, 0.3);
	box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), 1px 1px 0 rgba(255, 255, 255, 0.7);
	@include rounded();
	
	.avatar {
		float: left;
		width: 49px;
		margin: 0 0 0 -65px;
		padding: 3px;
		background: #fff;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
	}
	
	h2 {
		margin: 0;
		font-size: 16px;
	}
	
	h3 {
		margin: 5px 0 0;
		font-size: 11px;
	}
}

#product #related_maker {
	display: block;
	width: auto;
}

.badge {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

#makerGallery {
	float: right;
	width: 660px;
	margin: 15px 0;
	
	h1 {
		float: left;
		margin: 0 0 20px !important;
		font-size: 15px;
		font-weight: 700;
		line-height: 1;
	}
	
	p {
		clear: both;
	}
	
	.viewAll {
		clear: none;
		float: right;
		margin: 4px 0 0;
		line-height: 1;
	}
	
	hr {
		background-image: none;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	}
	
	
	
	ul {
		clear: both;
		overflow: hidden;
		zoom: 1;
		margin: 20px 0 0;
		padding: 0;
		list-style: none;
		
		h2 {
			font-size: 11px;
		}
	}
	
	li {
		float: left;
		width: 190px;
		margin: 0 15px 20px;
		text-align: center;
	}
	
	.thumb {
		width: 185px;
		margin: 0 auto 10px;
		background: #f5f5f5;
		border: 1px solid rgba(0, 0, 0, 0.2);
	}
	
	section {
		width: 660px;
		position: relative;
		
		h1 {
			color: #bbb;
			font-size: 20px;
		}
		
		.newLink {
			position: absolute;
			top: 0;
			right: 5px;
			margin: 0;
		}
	}
	
	#makerVideos {
		.thumb {
			border-radius: 6px;
			-moz-border-radius: 6px;
		}
	}
	
	#makerPhotos {
		li {
			margin: 0 10px 20px;
		}
		
		.thumb {
			padding: 5px;
			background: #fff;
			border: none;
			box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
		}
		
		a:hover .thumb {
			box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
		}
		
		.adminActions {
			li {
				margin: 0;
			}
		}
	}
	
	.adminActions {
		margin: 5px 0;
		ul {
			margin: 0;
		}
		
		li {
			float: none;
			width: auto;
			display: inline-block;
			margin: 0;
		}
			
	}
}

.maker-admin {
	#makerGallery {
		h1 {
			float: none;
		}
	}
}

#makerBio {
	float: right;
	width: 660px;
	margin: 0;
	padding: 0;
	list-style: none;
	
	
	#bioImage {
		max-width: 630px;
		margin: 10px 0 20px;
		padding: 10px;
		background: #fff;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	}
	
	p {
		text-align: justify;
	}
}

#makerBio.edit {
	padding: 15px 0;
}

#makerContact {
	float: right;
	width: 660px;
	margin: 15px 0;
}

#maker {
	aside {
		clear: left;
		float: left;
		width: 250px;
		margin: 0 0 0 -300px;
		padding: 0 0 0 10px;
		
		h2 {
			float: left;
			margin: 0 0 10px;
			font-size: 11px;
			line-height: 1;
		}
		
		.viewAll {
			float: right;
			margin: 0 10px 10px 0;
			line-height: 1;
		}
	}
}

#socialNetworks {
	margin: 0 0 10px -10px;
	padding: 0 0 10px;
	list-style: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	font: normal 400 10px/1 "proxima-nova", Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	
	li {
		margin: 0 0 10px;
		padding: 0 0 0 10px;
		white-space: nowrap;
	}
	
	#twitter {
		min-height: 100px;
		padding: 10px;
		background: rgba(255, 255, 255, 0.4);
		box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), 1px 1px 0 rgba(255, 255, 255, 0.7);
		-moz-border-radius: 6px;
		border-radius: 6px;
		white-space: normal;
	}
	
	.tweet_list {
		margin: 0;
		padding: 0;
		list-style: none;
		
		li {
			margin: 0;
			padding: 0;
			white-space: normal;
		}
	}
	
	.icon {
		margin: 0 10px 0 0;
	}
	
	.add {
		color: #999;
		
		&:hover {
			color: $ktv-blue;
		}
	}
	
	.edit {
		float: right;
		margin: 2px 0 0;
	}
	
	input[type="text"] {
		width: 175px;
	}
}

.tweet_avatar {
	float: left;
	margin: 0 10px 10px 0;
	
	img {
		display: inline;
		width: 36px;
		height: 36px;
		margin: 0 5px 0 0;
		padding: 4px;
		background: rgba(255, 255, 255, 1);
		border: 1px solid rgba(0, 0, 0, 0.5);
		vertical-align: middle;
	}
}

.tweet_user {
	float: left;
	margin: 10px 0 0;
	font-size: 16px;
	font-weight: 700;
	text-transform: none;
}

.tweet_text {
	clear: left;
	display: block;
	margin: 10px 0 0;
	padding: 0 10px 0 0;
	color: rgba(0, 0, 0, 0.7);
	font: normal $regular 13px/1.5 $fonts;
	text-transform: none;
	
	a {
		text-decoration: underline;
	}
}

.tweet_time {
	display: block;
	margin: 10px 0 0;
	font-size: 10px;
	text-transform: uppercase;
	
	a {
		padding: 4px 0 4px 30px;
		background: transparent url(/assets/bird_16_blue.png) no-repeat left;
		line-height: 16px;
	}
}

.add-network-item {
	display: none;
}

#followersList {
	clear: both;
	overflow: hidden;
	zoom: 1;
	margin: 10px 0;
	padding: 0;
	list-style: none;
	
	li {
		float: left;
		width: 31px;
		margin: 0 0 7px;
		padding: 0;
	}
	
	.avatar {
		width: 24px;
		height: 24px;
	}
}

.adminActions {
	text-align: center;
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		
		li {
			display: inline-block;
			margin: 0;
			padding: 0;
		}
		
		.delete:hover {
			color: #a00;
		}
	}
}
