/*	About
---------------------------------------------------	*/
#pages_controller #hero #contentHeader {
	padding-bottom: 0;
	background-image: none;
}

#pages_controller #hero figure {
	width: auto;
	text-align: center;
}

#pages_controller #hero iframe,
#pages_controller #hero video {
	width: 800px;
	margin: 0 auto 20px;
}

#pages_controller #hero figcaption {
	clear: right;
	float: none;
	width: auto;
	margin: 0;
	padding: 10px 0;
	background: url(/assets/stitch_horizontal.png) repeat-x left top, url(/assets/stitch_horizontal.png) repeat-x bottom;
	color: #000;
	font: normal 400 13px/1.8 "proxima-nova", Arial, sans-serif;
	text-align: justify;
	text-transform: uppercase;
}

#pages_controller #hero figcaption strong {
	font-weight: 600;
}

#pages_controller #hero figcaption a {
	font-weight: 600;
	text-decoration: underline;
}

#projects {
	padding: 30px 0 0;
	background: transparent url(/assets/stitch_horizontal.png) repeat-x top;
}

#crew h1,
#projects h1,
#club h1 {
	margin: 0 0 15px;
	color: #2084ea;
}

#crew article {
	position: relative;
	overflow: hidden;
	zoom: 1;
	padding: 20px 0 10px 300px;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	
	header {
		position: relative;
		
		.avatar {
			float: left;
			width: 250px;
			margin: 0 0 15px -300px;
			padding: 5px;
			background: #fff;
		}
		
		h3 {
			margin: 5px 0 10px;
			color: #888;
			font-weight: 300;
		}
		
		.button {
			position: absolute;
			top: 5px;
			right: 0;
		}
	}
	
	h2 {
		font-size: 36px;
		font-weight: 700;
	}
	
	p {
		text-align: justify;
	}
	
	.moreLink {
		margin: 20px 0;
		font-size: 11px;
		
		a {
			padding: 2px 0 2px 20px;
			background: transparent url(/assets/icon_toggle.png) no-repeat 0 0;
		}
	}
}
#crew>article:first-of-type {
	border-top: none;
}


#projects {
	article {
		position: relative;
		padding: 20px 0 10px 150px;
		
		.date {
			position: absolute;
			left: 0;
			width: 100px;
			margin: 0;
			font: normal $semi-bold 12px $fonts;
			letter-spacing: 1px;
			text-transform: uppercase;
			
			span {
				line-height: 1;
			}
			
			.month {
				display: block;
				color: rgba(0, 0, 0, 0.5);
			}
			
			.day {
				color: #999;
				font-size: 24px;
				font-weight: $bold;
				text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
			}
			
			.year {
				color: rgba(0, 0, 0, 0.3);
				letter-spacing: 2px;
			}
		}
	}
}

#club {
	overflow: hidden;
	zoom: 1;
	
	article {
		float: left;
		width: 50%;
		margin: 0 0 25px;
	}
}

#privacyPolicy {
	dl {
		margin: 10px 0 20px;
		padding: 0;
		
		dt {
			margin: 0;
			font: normal $regular 12px $fonts;
			text-transform: uppercase;
		}
		
		dd {
			margin: 5px 0 15px;
			line-height: 1.6;
		}
	}
	
	address {
		line-height: 1.8;
	}
	
}

#returns {
	h2 {
		margin: 20px 0;
	}
	address {
		line-height: 1.8;
	}
}

/*	Reef X Cyrus Page
---------------------------------------------------	*/
.flip-book {
  .issuuembed {
    margin-bottom: 20px;
    .span {
      display: none;
    }
  }
}
#collab-products {
  h2 {
     color: $ktv-blue;
  }
  .products-list {
    list-style: none;
    margin-top: 20px;
    padding: 0;
    .product {
      display: inline-block;
      text-align: center;
      margin-left: 20px;
      margin-bottom: 30px;
      width: 222px;
      &.first {
        margin-left: 0;
      }
      .product-image {
        width: 212px;
        height: 150px;
        padding: 5px;
        background: #fff;
        margin-bottom: 10px;
      }
      .product-title {
        font-size: 12px;
        font-weight: bold;
        margin: 5px 0;
      }
      .product-price {
        font-size: 12px;
      }
    }
  }
}