#shows_controller {
	
	#hero {
		position: relative;
		overflow: visible;
		zoom: 1;
		
		figure {
			width: 960px;
			margin: 0 0 20px;
			
			iframe {
				position: relative;
			}
		}
		
		figcaption {
			width: 700px;
		}
		
		aside {
			clear: both;
			
			ul {}
			li {
				min-height: 205px;
			}
		}
	}
	
	#hero.showsMain {
		position: relative;
		overflow: hidden;
		margin-bottom: 20px;
		padding-bottom: 40px;
		background: transparent url(/assets/stitch_horizontal.png) repeat-x bottom;
		
		figure {
			position: relative;
			float: left;
			width: 720px;
			
			iframe {
				width: 720px;
			}
			
		}
	
		figcaption {
			float: left;
			width: 480px;
			margin: 0;
			padding: 0 0 0 60px;
			text-align: justify;
			
			h2 {
				a {
					color: #999;
				
					&:hover {
						color: $ktv-blue;
					}
				}
			}
			
			.icon {
				margin: 0 0 0 -60px;
			}
		}
		
		#credits {
			display: none;
		}
	
		aside {
			clear: none;
			position: relative;
			float: right;
			width: 180px;
			margin: 0;
			padding: 0 0 0 20px;
			background: transparent;
			border-top: none;
			border-left: 1px solid rgba(0, 0, 0, 0.2);
			-moz-box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
			box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
			
			h1 {
				margin: 0 0 15px;
				color: #2084ea;
			}
			
			h2 {
				font-size: 11px;
			}
			
			form {
				display: none;
				margin: 0 0 15px;
			}
			
			label {
				margin: 0 5px 0 0;
				font-size: 10px;
				text-transform: uppercase;
			}
			
			ul {
				overflow: hidden;
				height: 550px;
				margin: 0;
				padding: 0;
				list-style: none;
				outline: none;
			}
			
			li {
				width: auto;
				min-height: 130px;
				margin: 0 auto 10px;
				padding: 0 25px 0 0;
				text-align: center;
			}
			
			.thumb {
				width: 141px;
				margin: 0 auto;
				background: #f5f5f5;
				border: 1px solid rgba(0, 0, 0, 0.2);
				border-radius: 6px;
				-moz-border-radius: 6px;
			}
			
			.desc {
				display: none;
			}
		}
	}
	
	#preroll-box {
		display: none;
		position: absolute;
		z-index: 900;
		min-width: 720px;
		max-width: 960px;
		min-height: 405px;
		background: #000;
		
		p {
			position: absolute;
			top: 0;
			left: 0;
			margin: 0;
			padding: 5px 10px;
			background: rgba(0, 0, 0, 0.8);
			color: #fff;
			z-index: 100;
		}
		
		#preroll {
			margin: 0 auto;
		}
	}
	
	.w960 {
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 960px;
		}
	}
	
	.w720 {
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 720px;
		}
	}

	#ktvShowsNavigation {
		float: left;
		width: 160px;
		font: normal 700 10px/1 "proxima-nova", Arial, sans-serif;
		letter-spacing: 1px;
		text-transform: uppercase;

		h2 {
			margin: 4px 0 0;
			color: #bbb;
			font-size: 18px;
			font-weight: $bold;
		}
	}

    #ktvShowsNavigation li {
		margin: 0 0 10px;
	}

	#ktvShowsNavigation a {
		display: block;
		padding: 2px 5px;
		text-decoration: none;
		text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
	}

	#ktvShowsNavigation a span {
		color: #999;
	}

	/*
	#ktvBlogNavigation a:hover,
	#ktvBlogNavigation .active a { background: #2084ea; color: #fff; text-shadow: none; }
	*/
	#ktvShowsNavigation a:hover,
	#ktvShowsNavigation .active a { color: $ktv-blue; }

	
	
	#credits {
		overflow: hidden;
		zoom: 1;
		margin: 13px 0 20px -10px;
		background: rgba(255, 255, 255, 0.2);
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		font-family: $fonts;
		letter-spacing: 1px;
		text-transform: uppercase;
		
		dt {
			clear: left;
			float: left;
			width: 190px;
			margin: 0;
			padding: 5px 5px 5px 10px;
			color: #999;
			font-size: 12px;
			font-weight: $semi-bold;
			text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
            text-align: left;
			
			&:nth-child(1) {
				border: none;
			}
		}
		
		dd {
			margin: 0;
			padding: 5px 10px 5px 5px;
			color: #444;
			font-size: 11px;
			font-weight: $regular;
			line-height: 1.2;
			
			&:nth-child(2) {
				border: none;
			}
		}
	}
	
	#comments {
		clear: both;
		margin: 20px 0;
		padding: 20px 0 0;
		border-top: 1px solid rgba(0, 0, 0, 0.2);
	}
	
	#relatedProducts {
		clear: both;
	}
	
	#relatedItems {
		
		#itemList {

			li {
				padding: 0 14px 5px;

				.badge {
					left: 12px;
				}
			}
		}
	}
}

.shows #contentHeader {
	padding: 0;
	background-image: none;
}

.shows #hero aside h2 {
	margin: 0;
	color: #000;
}

.banner {
	clear: both;
	margin: 20px 0 20px;
	border: 1px solid rgba(153, 153, 153, 0.3);
}




#shows,
#relatedShows {
	section {
		overflow: hidden;
		zoom: 1;
		margin: 0 0 20px;
		padding: 5px 0 20px 60px;
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: 0 0;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		
		ul {
			position: relative;
			clear: both;
			overflow: hidden;
			zoom: 1;
			margin: 10px 0 0;
			padding: 0;
			list-style: none;
		}
		
		li {
			float: left;
			width: 142px;
			min-height: 140px;
			margin: 0;
			padding: 0 9px;
			text-align: center;
		}
		
		h1 {
			float: left;
			margin: 0 0 10px;
			font-weight: 700;
			line-height: 1;
		}
		
		h2 {
			font-size: 11px;
		}
		
		p {
			clear: both;
		}
		
		.viewAll {
			clear: none;
			float: right;
			margin: 4px 0 0;
			line-height: 1;
		}
		
		.show-carousel {
			margin: 0 0 0 -60px;
		}
		
		.thumb {
			width: 141px;
			margin: 0 auto 10px;
			background: #f5f5f5;
			border: 1px solid rgba(0, 0, 0, 0.2);
			border-radius: 6px;
			-moz-border-radius: 6px;
		}
		
		.icon.show {
			float: none;
			position: absolute;
		}
		
	}
}

.show-carousel {
	clear: both;
	position: relative;
	width: 960px;
}

.show-carousel-next {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 50px;
	height: 100%;
	z-index: 100;
	cursor: url(/assets/cursor_scroll_right.png), auto;
	text-indent: -10000px;
}

.show-carousel-prev {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50px;
	height: 100%;
	z-index: 100;
	cursor: url(/assets/cursor_scroll_left.png), auto;
	text-indent: -10000px;
}

.show-carousel.disabled,
#shows .show-carousel.disabled {
	li {
		margin: 0 0 15px;
	}
	
	.show-carousel-next,
	.show-carousel-prev {
		cursor: default;
	}
}

.desc {
	display: none;
}