#stores_controller {
	overflow-y: scroll;
}

#ktvStore {
	
	#storeCarousel {
		position: relative;
		overflow: hidden;
		zoom: 1;
		
		figure {
			position: relative;
			float: left;
			width: 440px;
			min-height: 440px;
			margin: 0 20px 0 0;
			
			 .store {
				width: 430px;
				margin: 0 0 15px;
				padding: 5px;
				background: rgba(255, 255, 255, 1);
				-moz-box-shadow: 2px 2px 2px rgba(204, 204, 204, 0.5);
				box-shadow: 2px 2px 2px rgba(204, 204, 204, 0.5);
			}
			
			.badge {}
		}
	
		figcaption {
			position: relative;
			overflow: hidden;
			zoom: 1;
			margin: 0 0 20px;
		
			h2, h3 {
				margin: 0 75px 7px 0;
			}
		
			.button {
				position: absolute;
				top: 0;
				right: 10px;
			}
		
			p {
				text-align: justify;
			}
		}
	
		h3 {
			a {
				color: #888;
			
				&:hover {
					color: #2084ea;
				}
			}
		}
	}
	
	aside {
		margin: 30px 0;
		padding: 10px 15px;
		background: rgba(255, 255, 255, 0.5);
		border-radius: 8px;
		box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.2);
		
		h2 {
			margin: 5px 0 10px;
			color: #999;
		}
	}
}

#storeCarouselNav {
	overflow: hidden;
	zoom: 1;
	position: relative;
	clear: both;
	padding: 0 40px;
	
	#scnNext {
		position: absolute;
		top: 15px;
		right: 0;
		width: 32px;
		height: 32px;
		cursor: pointer;
		background: transparent url(/assets/next-horizontal.png) no-repeat 0 0;
		text-indent: -10000px;
		
		&:hover {
			background-position: -32px 0;
		}
		
		&:active {
			background-position: -64px 0;
		}
	}

	#scnPrev {
		position: absolute;
		top: 15px;
		left: 0;
		width: 32px;
		height: 32px;
		cursor: pointer;
		background: transparent url(/assets/prev-horizontal.png) no-repeat 0 0;
		text-indent: -10000px;
		
		&:hover {
			background-position: -32px 0;
		}
		
		&:active {
			background-position: -64px 0;
		}
	}
	
	#scnNext.disabled,
	#scnPrev.disabled {
		background-position: -96px 0;
		cursor: default;
	}
}

#storeCarouselThumbs {
	position: relative;
	overflow: hidden;
	zoom: 1;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	
	a {
		display: inline-block;
		margin: 0 10px;
	}
	
	img {
		width: 94px;
		height: 62px;
		padding: 3px;
		background: #fff;
		
		&:hover {
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
		}
	}
	
	.active,
	a:first-child.selected {
		opacity: 0.35;
	}

}

#stores_controller {
	#hero {
		overflow: hidden;
		margin-bottom: 20px;
		padding-bottom: 10px;
		background: transparent url(/assets/stitch_horizontal.png) repeat-x bottom;
		
		figure {
			position: relative;
			float: left;
			width: 520px;
			
			.featured {
				display: block;
				width: 518px;
				border: 1px solid rgba(0, 0, 0, 0.05);
			}
			
			.product {
				width: 500px;
				padding: 10px;
				background: #fff;
			}
			
			.price {
				position: absolute;
				top: 0;
				right: 70px;
				width: 170px;
				margin: 2px 0 0;
				color: #2084ea;
				color: rgba(32, 132, 234, 1);
				font-size: 16px;
				text-align: right;
			}
		}
		
		figcaption {
			position: relative;
			float: none;
			width: auto;
			margin: 20px 0;
			padding: 0;
			
			hgroup {
				padding: 0 240px 0 0;
				text-align: left;
			}
			
			.button {
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
}

#products {
	position: relative;
	overflow: hidden;
	zoom: 1;
	padding: 0 0 50px 192px;
	
	h2 {
		color: $ktv-blue;
		font-size: 18px;
		font-weight: $semi-bold;
	}
	
	.pagination {
		clear: both;
		visibility: hidden;
	}
}
	
	#productNavigation {
		position: fixed;
		float: left;
		width: 170px;
		margin: 0 0 0 -192px;
		font: normal 700 10px/1 "proxima-nova", Arial, sans-serif;
		letter-spacing: 1px;
		text-transform: uppercase;
		
		h2 {
			color: #bbb;
			font-size: 18px;
			font-weight: $bold;
		}
	}
		#productNavigation ul {
			margin: 0 0 40px;
		}
		#productNavigation li {
			margin: 0 0 10px;
		}

		#productNavigation a {
			display: block;
			padding: 2px 5px;
			text-decoration: none;
			text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
		}

		#productNavigation a:hover,
		#productNavigation .active a { background: #2084ea; color: #fff; text-shadow: none; }
	
	
	#productSortForm {
		position: absolute;
		top: 0;
		right: 5px;
		width: 200px;
		text-align: right;
	}
	
	.productList {
		float: right;
		width: 768px;
		margin: 15px 0;
		padding: 0;
		list-style: none;
	}
	
	.productList li,
	#hero aside .productList li {
		position: relative;
		float: left;
		width: 192px;
		margin: 0 0 20px;
		padding: 0;
		text-align: center;
		
		.badge {
			top: 0;
			left: 9px;
		}
	}
	
	.productList .thumb,
	#hero .productList .thumb {
		position: relative;
		width: 164px;
		margin: 0 auto 10px;
		padding: 4px;
		background: #fff;
		border-radius: 0;
		-moz-border-radius: 0;
		z-index: 10;
	}
	
	.productList .button {
		position: absolute;
		top: 50px;
		left: 50%;
		margin: 0 0 0 -25px;
		z-index: 1;
	}
	
	.productList li:hover .button {
		z-index: 20;
		-moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);
		box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);
	}
	
	.productList h4 {
		margin: 5px 0 0;
		color: #999;
		font: normal 400 12px "proxima-nova", Arial, sans-serif;
	}
	
	#stores_controller #hero aside {
		float: right;
		width: 385px;
		margin: 0;
		padding: 0;
		background-image: none;
		
		.productList {
			float: none;
			width: 385px;
			
			li {
				min-height: 170px;
			}
		}
		
		h2 {
			margin: 0 0 15px;
			color: #2084ea;
			font-size: 14px;
			font-weight: 700;
		}
		
		h3 {
			font-size: 12px;
		}
	}

#productGallery,
#productGallery.productList {
	position: relative;
	overflow: hidden;
	zoom: 1;
	
	li {
		min-height: 190px;
		padding: 0 0 10px;
	}
}

#productDetail,
#productCart {
	
	header {
		position: relative;
		
		.button {
			position: absolute;
			top: 0;
			right: 10px;
		}
	}
}

/*#cartWrapper {
	margin: 20px 0;
	padding: 7px;
	background: #fff;
	@include rounded();
}*/

#product {
	overflow: hidden;
	zoom: 1;
	margin: 0 0 30px;
	padding: 0 0 0 540px;
	
	h1 {
		margin: 5px 0;
		font-size: 24px;
	}
	
	h2 {
		margin: 5px 0 15px;
		font-size: 16px;
		color: #999;
	}
	
	#related_maker h2 {
		margin: 5px 0 0;
		color: #666;
		font-size: 14px;
	}
	
	p {
		text-align: justify;
	}
	
	iframe {
		max-width: 400px;
		margin: 15px 0;
		padding: 10px;
		background: rgba(255, 255, 255, 1);
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	}
	
	#price {
		color: $ktv-blue;
		font-size: 28px;
		font-weight: $bold;
	}
	
	#variants {
		margin: 10px 0;
		padding: 0 0 10px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		list-style: none;
		
		li {
			margin: 0 0 10px;
			padding: 0;
		}
		
		label {
			display: inline-block;
			margin: 0 10px 0 0;
			color: #999;
			font: normal $semi-bold 12px/1 $fonts;
			letter-spacing: 1px;
		}
	}
	
	#cartMsg {
		display: inline;
		margin: 0 0 0 10px;
		padding: 5px 0;
		
		h3 {
			display: inline;
			color: #999;
			
			span {
				color: $ktv-text;
			}
		}
	}
	
	#productForm {
		display: block;
		margin: 0;
		padding: 0 0 20px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
	
	.meta {
		
		.pin-button,
		.twitter-share-button,
		.fb-like {
			width: 80px !important;
			padding: 0;
		}
		
		iframe {
			max-width: 400px;
			margin: 0;
			padding: 0;
			background: transparent;
			box-shadow: none;
		}
	}
	
	#shipping-notice {
		margin-bottom: 20px;
		border-top: none;
		text-align: center !important;
		
		.meta {
			float: right;
			width: 170px;
			
			.twitter-share-button,
			.fb-like {
				width: 80px !important;
				padding: 0;
			}
			
			iframe {
				max-width: 400px;
				margin: 0;
				padding: 0;
				background: transparent;
				box-shadow: none;
			}
		}
	}
	
	.tagList {
		margin: 20px 0;
	}
	
	footer {
		iframe {
			max-width: 100;
			margin: 0;
			padding: 0;
			background: transparent;
			box-shadow: none;
		}
	}
}

#continueShopping {
	margin: 10px 10px 0 0;
	text-align: right;
}

#productImages {
	float: left;
	width: 500px;
	margin: 0 0 0 -540px;
	
	#largeImage {
		position: relative;
		width: 500px;
		overflow: hidden;
		
		img {
			width: 480px;
			height: 327px;
			border: 10px solid #fff;
			border: 10px solid rgba(255, 255, 255, 1);
		}
	}
	
	#thumbs {
		overflow: hidden;
		zoom: 1;
		position: relative;
		clear: both;
		margin: 15px 0 0;
		padding: 0 40px;
		
		#scnNext {
			position: absolute;
			top: 30px;
			right: 0;
			width: 32px;
			height: 32px;
			cursor: pointer;
			background: transparent url(/assets/next-horizontal.png) no-repeat 0 0;
			text-indent: -10000px;

			&:hover {
				background-position: -32px 0;
			}

			&:active {
				background-position: -64px 0;
			}
		}

		#scnPrev {
			position: absolute;
			top: 30px;
			left: 0;
			width: 32px;
			height: 32px;
			cursor: pointer;
			background: transparent url(/assets/prev-horizontal.png) no-repeat 0 0;
			text-indent: -10000px;

			&:hover {
				background-position: -32px 0;
			}

			&:active {
				background-position: -64px 0;
			}
		}

		#scnNext.disabled,
		#scnPrev.disabled {
			background-position: -96px 0;
			cursor: default;
		}
		
	}
	
	#productThumbnails {
		position: relative;
		overflow: hidden;
		zoom: 1;
		margin: 0 auto;
		padding: 0;
		list-style: none;

		a {
			display: inline-block;
			margin: 0;
			padding: 5px 10px;
		}

		img {
			width: 110px;
			height: 74px;
			padding: 5px;
			background: #fff;

			&:hover {
				box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
			}
		}

		.active,
		a:first-child.selected {
			opacity: 0.35;
		}

	}
}


