#supporterList {
	margin: 0;
	padding: 0;
	list-style: none;
}
	
	#supporterList li {
		position: relative;
		overflow: visible;
		zoom: 1;
		min-height: 170px;
		margin: 0 0 10px;
		padding: 10px 220px 10px 320px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	}
	
	#supporterList .supporterLogo {
		position: relative;
		float: left;
		width: 100px;
		margin: 0 0 0 -320px;
		vertical-align: middle;
	}
	
	#supporterList .vcard {
		float: left;
		width: 160px;
		margin: 10px 0 0 -190px;
		font-family: "proxima-nova", Arial, sans-serif;
		font-weight: 600;
	}
		.org {
			margin: 0 0 10px;
		}
		
		.adr {
			font-size: 11px;
			line-height: 1.8;
			letter-spacing: 1px;
			text-transform: uppercase;
		}
		
		.url {
			margin: 5px 0;
			
			a {
				color: $ktv-blue;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		
		.email a {
			color: #999;
			&:hover {
				color: $ktv-blue;
			}
		}
	
	#supporterList p {
		text-align: justify;
	}
	
	.ad180x150 {
		position: absolute;
		top: 10px;
		right: 0px;
		width: 180px;
		height: 150px;
	}

