#theList article {
	position: relative;
	height: 390px;
	overflow: hidden;
}

#theList #listAccordion h2 {
	margin: 10px 0;
	padding: 10px 0 0;
	background: transparent url(/assets/icon_toggle.png) no-repeat 98% 10px;
	border-top: 1px solid #ccc;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	font-size: 17px;
	font-weight: 700;
	outline: none;
	cursor: pointer;
	
	&:first-child {
		border-top: none;
	}
	
	em {
		margin-right: 15px;
		color: $ktv-blue;
		font-weight: 700;
		font-style: normal;
	}
}

#theList .ui-tabs .ui-tabs-nav li:first-child:after { content: " / "; }

.columns #theList #listAccordion h2 {
	font-size: 13px !important;
}
	
	#theList #listAccordion h2.ui-state-active {
		background-image: none;
	}

#theList ol {
	margin: 0 500px 10px 0;
	padding: 0;
	list-style-position: inside;
}
	
.columns #theList ol {
	margin: 0 200px 10px 0;
}

#theList ol li {
	overflow: hidden;
	height: 18px;
	margin: 0;
	padding: 5px;
	background: transparent;
	border-bottom: 1px dotted #ddd;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.15);
	color: #000;
	font: normal 600 12px/18px "proxima-nova", Arial, sans-serif;
	text-transform: uppercase;
}

.columns #theList ol li {
	font-size: 11px;
}

#theList ol.sortable li {
	
	&:hover {
		color: $ktv-blue;
		background-color: rgba(255, 255, 255, 0.3);
		
		a {
			color: $ktv-blue;
		}
	}
	
	.move {
		position: absolute;
		left: 430px;
		width: 24px;
		height: 16px;
		background: transparent url(/assets/icon_move.png) no-repeat 50% 50%;
		-moz-border-radius: 3px;
		border-radius: 3px;
		text-indent: -10000px;
		
		&:hover {
			background-color: rgba(255, 255, 255, 0.8);
			box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.15);
			cursor: move;
		}
	}
}

#theList ol.sortable.disabled {
	.move {
		&:hover {
			background-color: transparent;
			box-shadow: none;
			cursor: default;
		}
	}
}

.columns #theList ol.sortable li .move {
	left: 220px;
}

#theList ol.results {
	li:hover {
		color: $ktv-blue;
	}
}

	

#theList ol li em {
	position: absolute;
	right: 505px;
	text-align: right;
	font-style: normal;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.5);
	z-index: 5;
}

.columns #theList ol li em {
	right: 205px;
}


#theList ol li img {
	position: absolute;
	top: 30px;
	right: 5px;
	width: 400px;
	padding: 10px;
	background: #fff;
	-moz-box-shadow: 1px 1px 1px rgba(204, 204, 204, 0.1);
	box-shadow: 1px 1px 1px rgba(204, 204, 204, 0.1);
	z-index: 1;
	cursor: default;
}
	
	.columns #theList ol li img {
		width: 160px;
		padding: 5px;
	}

#theList ol li:first-child img.listImg {
	z-index: 2;
}

#theList ol li img.listImg.active {
	z-index: 10;
}

#theList ol li.ui-state-highlight {
	display: block;
	background: rgba(32, 132, 234, 0.2);
	border: 1px dotted rgba(32, 132, 234, 0.5);
}

#theList .ui-state-highlight { height: 1.5em; line-height: 1.2em; }
#theList .ui-state-active a { text-decoration: underline !important; }

#theList ol li .pct {
	overflow: hidden;
	position: absolute;
	right: 500px;
	background: rgba(204, 204, 204, 0.3);
	border-radius: 3px;
	box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), 1px 1px 0 rgba(255, 255, 255, 0.6);
	text-indent: -100000px;
	z-index:1;
}

.columns #theList ol li .pct {
	right: 200px;
}

#theList .results li.active {
	color: $ktv-blue;
}

.pctActive {
	position: absolute;
	top: 285px;
	right: 0;
	width: 400px;
	color: $ktv-blue;
	font: normal 700 60px/1 "proxima-nova", Arial, sans-serif;
	letter-spacing: 1px;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9);
	z-index: 100;
}

.columns .pctActive {
	top: 140px;
	width: 160px;
}

#polls_controller #comments {
	padding: 20px 0;
	/*background: transparent url(/assets/stitch_horizontal.png) repeat-x top;*/
	border-top: 1px solid #ddd;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}