Hello #{@maker.user.first_name},

The following item(s) have been purchased from the Korduroy.TV store.

\#{@order_item.item_qty} x #{@order_item.item_name}

Click the link below to view the details.

https://korduroy.tv/makers_admin/stores/order/#{@order_item.order_id}
