#info-text
  %p
    The Makers are a collection of people who are shaping surf and outdoor culture with their hands. Each is equipped with their own blog and gallery of videos and photos. Many even have their own storefronts. Be sure to check out the
    %a{:href => "/makers/posts"} Makers Wall
    to keep abreast with their latest blog posts - it's kind of addicting.
  %p#info-close
    %a{:href => "#info-button"} x
