- title "#{@maker.name}"
- description "#{truncate_html strip_tags(@maker.bio), :length => 250}"

= render "makers_header"
#makerBio
  - if can? :edit, @maker
    %ul#adminButtons
      %li#newLink= link_to "Edit Profile", edit_makers_admin_maker_path(@maker), :class => "button edit"
  - unless @maker.bio_image.blank?
    %img#bioImage{:alt => "", :src => @maker.bio_image.large}/
  = sanitize(@maker.bio)
  = sanitize(@maker.details)
= render "makers_footer"
