<%- title "#{@post.title}" %>
<%- description "#{truncate_html strip_tags(@post.content), :length => 250}" %>

<%= render "makers_header" %>
		
		<div id="blogDetail">
			<article>
				<h2><%= @post.title %></h2>
				
				<% unless @post.post_image.blank? %>
					<% @pin_img = @post.post_image.large %>
					<img src="<%= @post.post_image.large %>" alt="" class="postImage">
				<% else %>
					<% @pin_img = "/assets/placeholder_xlarge.jpg" %>
				<% end %>
				
				<div class="postBody">
					<%= simple_format(sanitize(@post.content, :tags => %w(h1 h2 h3 h4 h5 h6 p a img ul ol li iframe table thead tbody tr td b em u))) %>
				</div>
				
				<footer>
					<ul class="meta">
						<li>Posted on <%= l @post.created_at, :format => :post %></li>
						<li><a href="#comments">Comments: <span><%= @post.comments.size %></span></a></li>
						<li>Share: 
							<div class="pin-button"><a href="http://pinterest.com/pin/create/button/?url=<%= request.url %>&media=http://<%= request.domain %>/<%= @pin_img %>&description=<%= @post.title %>" class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a></div>
							<a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= request.url %>" data-text="<%= @post.title %>" data-count="horizontal" data-via="korduroytv">Tweet</a>
							<div class="fb-like" data-href="<%= request.url %>" data-send="false" data-layout="button_count" data-width="200" data-show-faces="false"></div>
						</li>
					</ul>
				</footer>
				
				<% if !@post.tags.blank? %>
				<dl class="tagList">
					<dt>Tags:</dt>
					<% @post.tags.each do |t| %>
					<dd><%= t %></dd>
					<% end %>
				</dl>
				<% end %>
				
				<% if can? :manage, @post %>
				<div class="adminActions">
					<ul>
						<li class="edit"><a href="/makers_admin/blogs/<%= @post.id %>/edit" class="button edit">Edit</a></li>
						<li class="delete"><%= link_to "Delete", makers_admin_blog_path(@post.id), :method => :delete, :class => "button delete", :confirm => "Are you sure you want to delete this item?" %></li>
						<% if current_user.admin? and @post.rebloggable? %>
						<li class="edit"><a href="/makers_admin/blogs/<%= @post.id %>/reblog" class="button reblog">Reblog</a></li>
						<% end %>
					</ul>
				</div>
				<% end %>
			</article>
			
			<%= render "related_items" %>
			
			<div id="comments">
				<h2>Comments <span>(<%= @post.comments.count %>)</span></h2>

				<ul id="commentList">
					<% @post.comments.each do |comment| %>
					<li>
						<header>
							<img src="<%= avatar = (comment.user.avatar.small.blank?) ? "/assets/avatar_small.png" : comment.user.avatar.small %>" alt="<%= comment.user.name %>">
							<h3><%= comment.user.name %></h3>
							<p class="meta"><%= l comment.created_at, :format => :comment %></p>
						</header>
						<%= simple_format(sanitize(comment.comment)) %>
					</li>
					<% end %>
				</ul>
				
				<% if !user_signed_in? %>
					<h3><%= link_to "Sign In", new_user_session_path(), :class => "button sign-in" %> or <%= link_to "Sign Up", new_user_registration_path(), :class => "button sign-up" %> to comment.</a></h3>
				<% else %>
				<div id="commentForm">
					<% if !@post.comments_closed %>
					<h2>Post a comment</h2>

					<div class="member">
						<a href="#"><img src="<%= avatar = (@current_user.avatar.blank?) ? "/assets/avatar_small.png" : @current_user.avatar.small %>" alt="<%= @current_user.name %>"></a>
						<h3><%= @current_user.name %></h3>
						<%= form_for :comment, :url => { :action => "comment" } do |f| %>
							<%= f.hidden_field :commentable_id, :value=> @post.id %>
							<%= f.text_area :comment %>
							<%= f.submit "Post Comment" %>
						<% end %>
					</div>
					<% else %>
					<h2>Comments are closed for this post</h2>
					<% end %>
				</div>
				<% end %>
			</div>
		</div>
		
<%= render "makers_footer" %>
