- title "#{@category.name} Makers"
- description "The Makers are a diverse collection of people who are shaping surf/skate/snow with their hands. Each is equipped with their own blog, gallery of videos and photos, a store, and a way to contact them in case you have any questions. Be sure to check out the Makers Wall in the Makers section to keep abreast with their latest blog posts - it's kind of addicting."
%section#makersWall
  %header#contentHeader
    %h1 Makers
    %nav.sectionNavigation
      %ul
        %li.viewPost
          %a{:href => "/makers"} Post view
        %li.viewList.active
          %a{:href => "/makers/list"} List view
  = render "makers_list"
