- title "#{@maker.name}'s Videos & Photos"
- description "#{truncate_html strip_tags(@maker.bio), :length => 250}"

= render "makers_header"

#makerGallery
  %section#makerVideos
    %h1 Videos
    - if user_signed_in? && @maker.user.id == current_user.id
      %p.newLink= link_to "Add Video", new_makers_admin_maker_video_path(), :class => "button new"

    - if !@videos.blank?
      %ul
        - @videos.each do |video|
          %li
            - if !video.vimeo.blank?
              %a.makerVideoLink{:href => "http://player.vimeo.com/video/#{video.vimeo}", :title => video.title}
            - if !video.youtube.blank?
              %a.makerVideoLink{:href => "http://youtube.com/v/#{video.youtube}", :title => video.title}
            %image.thumb.video{:alt => video.title, :src => video.thumbnail}
              %h2= video.title
              - if user_signed_in? && @maker.user.id == current_user.id
                .adminActions
                  %ul
                    %li.edit= link_to "Edit", edit_makers_admin_maker_video_path(video.id), :class => "button edit"
                    %li.delete= link_to "Delete", makers_admin_maker_video_path(video.id), :method => :delete, :class => "button delete", :confirm => "Are you sure you want to delete this item?"
    - else
      %p There are no videos in this gallery.

  %hr/
  %section#makerPhotos
    %h1 Photos
    - if user_signed_in? && @maker.user.id == current_user.id
      %p.newLink= link_to "Add Photo", new_makers_admin_maker_photo_path(), :class => "button new"

    - if !@photos.blank?
      %ul
        - @photos.each do |photo|
          %li
            %a.makerPhotoLink{:href => photo.photo.large, :title => photo.title}
              %img.thumb.image{:alt => photo.title, :src => photo.photo.small}/
            - if user_signed_in? && @maker.user.id == current_user.id
              .adminActions
                %ul
                  %li.edit= link_to "Edit", edit_makers_admin_maker_photo_path(photo.id), :class => "button edit"
                  %li.delete= link_to "Delete", makers_admin_maker_photo_path(photo.id), :method => :delete, :class => "button delete", :confirm => "Are you sure you want to delete this item?"
    - else
      %p There are no photos in this gallery.

= render "makers_footer"
