- title "Latest Maker Blog Posts"
- description "The Makers are a diverse collection of people who are shaping surf/skate/snow with their hands. Each is equipped with their own blog, gallery of videos and photos, a store, and a way to contact them in case you have any questions. Be sure to check out the Makers Wall in the Makers section to keep abreast with their latest blog posts - it's kind of addicting."
%section#makersWall
  %header#contentHeader
    %h1 Makers
    %nav.sectionNavigation
      %ul
        %li.viewList
          %a{:href => "/makers/list"} Meet your makers
        %li.viewPost.active
          %a{:href => "/makers"} Makers wall
    %p#info-button
      %a{:href => "#info-text"}
        Makers
        %em (?)
  - if @maker_posts.blank?
    %h2 There are no maker posts available.
  - else
    = render "info"
    %nav#makersNavigation
      %ul
        %li
          %h2 Creative Fields
        %li#nav-all.active
          %a{"data-filter" => "*", :href => "/makers"} All
        - @categories.each do |category|
          %li{:id => "nav-#{category.slug}"}
            %a{"data-filter" => ".#{category.slug}", :href => "/makers/#{category.slug}", :rel => category.slug}= category.name
    #makersGallery
      = render "makers_posts"
    #infinite-pagination
      = paginate @maker_posts
