<%= render "makers_header" %>

<% if !@product.blank? %>
	<%- title "#{@product.title}" %>
	<%- description "#{truncate_html strip_tags(@product.body_html), :length => 250}" %>
	
	<div id="makerProduct"<% if user_signed_in? && @maker.user.id == current_user.id %> class="makerAdmin"<% end %>>
		<div id="shipping-notice">
			<p><strong>Yo!</strong> All prices include shipping!</p>
		</div>
		
		<p id="newLink">
			<a href="/makers/<%= @maker.slug %>/store" class="button">View All Products</a> 
		<% if user_signed_in? && @maker.user.id == current_user.id %>
			<%= link_to "Edit This Product", "/makers_admin/stores/" + @product.id.to_s + "/edit", :class => "button edit" %>
			<%= link_to "Add a New Product", "/makers_admin/stores/new", :class => "button new" %> 
		<% end %>
		</p>
	
		<div id="productImages">
			<div id="largeImage" class="<%= num = @product.images.size > 1 ? 'multi' : 'single' %>">
			<% if @product.images.blank? %>
				<img src="/assets/placeholder_store_large.jpg" alt="<%= @product.title %>">
				<% @pin_img = "/assets/placeholder_store_large.jpg" %>
			<% else %>
				<% @pin_img = @product.images.first %>
				<% @product.images.each do |img| %>
					<% if @product.images.size > 1 %>
					<img src="<%= img.src.gsub(".png", "_large.png").gsub(".jpg", "_large.jpg").gsub(".jpeg", "_large.jpeg") %>" alt="<%= @product.title %>">
					<% else %>
					<img src="<%= img.src.gsub(".png", "_grande.png").gsub(".jpg", "_grande.jpg").gsub(".jpeg", "_grande.jpeg") %>" alt="<%= @product.title %>">
					<% end %>
				<% end %>
			<% end %>
			</div>

			<div id="thumbs">
				<div id="productThumbnails"></div>
				<a class="prev" id="scnPrev" href="#">prev</a>
				<a class="next" id="scnNext" href="#">next</a>
			</div>
			
		</div>
		
		<hgroup class="<%= num = @product.images.size > 1 ? 'multi' : 'single' %>">
			<h3><%= @product.title %></h3>
			<h4><%= @product.product_type %></h4>
			<h4 id="price" class="price">$<%= @product.price_range %></h4>
		</hgroup>
		
		<%= sanitize(@product.body_html) %>
		
		<ol id="variants">	
			<% if !@v1.blank? %>
			<li>
				<label for="option1"><%= @product.options.first.name %>:</label>
				<select id="option1" name="option1">
					<option value="-1">Select...</opton>
					<% @v1.each do |v1| %>
					<option value="<%= v1 %>"><%= v1 %></option>
					<% end %>
				</select>
			</li>
			<% end %>
		
			<% if @product.options.size > 1 && !@v2.blank? %>
			<li>
				<label for="option2"><%= @product.options.second.name %>:</label>
				<select id="option2" name="option2">
					<option value="-1">Select...</opton>
					<% @v2.each do |v2| %>
					<option value="<%= v2 %>"><%= v2 %></option>
					<% end %>
				</select>
			</li>
			<% end %>
		
			<% if @product.options.size > 2 && !@v3.blank? %>
			<li>
				<label for="option3"><%= @product.options.third.name %>:</label>
				<select id="option3" name="option3">
					<option value="-1">Select...</opton>
					<% @v3.each do |v3| %>
					<option value="<%= v3 %>"><%= v3 %></option>
					<% end %>
				</select>
			</li>
			<% end %>
		</ol>
		
		<form id="productForm" name="productForm" method="post" action="http://korduroy.myshopify.com/cart/add">
			<input type="hidden" id="vnum" value="<%= @product.variants.size %>">
			<input type="hidden" name="return_to" value="back">
			<span id="variantValues">
				<% @product.variants.each do |v| %>
					<input type="hidden" name="id" value="<%= v.id %>" id="hidden_<%= v.id %>" data-option1="<%= v.option1 %>" data-option2="<%= v.option2 %>" data-option3="<%= v.option3 %>" data-price="<%= v.price %>" data-available="<%= available = (v.inventory_policy == "deny" && v.inventory_quantity < 1)? "no" : "yes" %>">
				<% end %>
			</span>
			
			<input type="submit" id="add-to-cart" value="Add to Cart"> <button><a href="/store/cart">View Cart</a></button> <div id="cartMsg"></div>
		</form>
		
		<ul class="meta">
			<li class="share">Share: 
				<div class="pin-button"><a href="http://pinterest.com/pin/create/button/?url=<%= request.url %>&media=http://<%= request.domain %>/<%= @pin_img %>&description=<%= @product.title %>" class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a></div>
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= request.url %>" data-text="<%= @product.title %>" data-count="horizontal" data-via="korduroytv">Tweet</a>
				<div class="fb-like" data-href="<%= request.url %>" data-send="false" data-layout="button_count" data-width="200" data-show-faces="false"></div>
			</li>
		</ul>
		
		<% if !@tags.nil? %>
		<dl class="tagList">
			<dt>Tags:</dt>
			<% @tags.each do |t| %>
			<dd><%= t %></dd>
			<% end %>
		</dl>
		<% end %>
		
		<%= render "related_items" %>
	</div>
	
<% end %>

<%= render "makers_footer" %>