<%- title "#{@maker.name}'s Blog" %>
<%- description "#{@maker.name}'s latest blog posts" %>

<%= render "makers_header" %>
		
		<div id="makersBlog">
			<% if signed_in? && current_user.maker_id == @maker.id %>
			<ul id="adminButtons">
				<li id="newLink"><%= link_to "New Blog Post", new_makers_admin_blog_path(), :class => "button new" %></li>
			</ul>
			<% end %>
			
			<% unless @blogs.blank? %>
			<ul>
				<% @blogs.each do |post| %>
				<li>
					<article>
						<a href="/makers/<%= @maker.slug %>/blog/<%= l post.created_at, :format => :post_year %>/<%= post.slug %>/<%= post.id %>">
							<% if post.post_image.blank? %>
								<% @pin_img = "/assets/placeholder_xlarge.jpg" %>
								<% unless @maker.bio_image.blank? %>
									<% @pin_img = @maker.bio_image.large %>
									<img src="<%= @maker.bio_image.small %>" alt="<%= post.title %>" class="postImage">
								<% end %>
							<% else %>
							<% @pin_img = post.post_image.large %>
							<img src="<%= post.post_image.large %>" alt="<%= post.title %>" class="postImage">
							<% end %>
						</a>
				
						<h2><a href="/makers/<%= @maker.slug %>/blog/<%= l post.created_at, :format => :post_year %>/<%= post.slug %>/<%= post.id %>"><%= post.title %></a></h2>
				
						<div class="postBody">
							<%= simple_format(truncate_html sanitize(post.content, :tags => %W(h2 h3 h4 h5 h6 p img ul ol li iframe a b em strong u)), :length => 475) %>
						</div>
				
						<p class="moreLink"><a href="/makers/<%= @maker.slug %>/blog/<%= l post.created_at, :format => :post_year %>/<%= post.slug %>/<%= post.id %>">More&hellip;</a></p>
				
						<footer>
							<ul class="meta">
								<li>Posted on <%= l post.created_at, :format => :post %></li>
								<li><a href="/makers/<%= @maker.slug %>/blog/<%= l post.created_at, :format => :post_year %>/<%= post.slug %>/<%= post.id %>#comments">Comments: <span><%= post.comments.size %></span></a></li>
								<li>Share: 
									<div class="pin-button"><a href="http://pinterest.com/pin/create/button/?url=http://<%= request.domain %>/makers/<%= @maker.slug %>/blog/<%= l post.created_at, :format => :post_year %>/<%= post.slug %>/<%= post.id %>&media=http://<%= request.domain %>/<%= @pin_img %>&description=<%= post.title %>" class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a></div>
									<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://<%= request.domain %>/makers/<%= @maker.slug %>/blog/<%= l post.created_at, :format => :post_year %>/<%= post.slug %>/<%= post.id %>" data-text="<%= post.title %>" data-count="horizontal" data-via="<% if !@maker.user.twitter.blank? %><%= @maker.user.twitter %><% else %>korduroytv<% end %>">Tweet</a>
									<div class="fb-like" data-href="http://<%= request.domain %>/makers/<%= @maker.slug %>/blog/<%= l post.created_at, :format => :post_year %>/<%= post.slug %>/<%= post.id %>" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
								</li>
							</ul>
						</footer>
				
						<% if signed_in? && current_user.maker_id == @maker.id %>
						<div class="adminActions">
							<ul>
								<li class="edit"><%= link_to "Edit", edit_makers_admin_blog_path(post.id), :class => "button edit" %></li>
								<li class="delete"><%= link_to "Delete", makers_admin_blog_path(post.id), :method => :delete, :class => "button delete", :confirm => "Are you sure you want to delete this item?" %></li>
								<% if current_user.admin? and post.rebloggable? %>
								<li class="edit"><a href="/makers_admin/blogs/<%= post.id %>/reblog" class="button reblog">Reblog</a></li>
								<% end %>
							</ul>
						</div>
						<% end %>
					</article>
				</li>
				<% end %>
			</ul>
			<% else %>
			<p>There are no blog posts for this user.</p>
			<% end %>
			
			<% unless @blogs.blank? %>
				<%= paginate @blogs %>
			<% end %>
		</div>
		
<%= render "makers_footer" %>
