<%- title "#{@maker.name}'s Store" %>
<%- description "#{@maker.name}'s products for sale on Korduroy.tv" %>

<%= render "makers_header" %>
	
	<div id="makerStore"<% if user_signed_in? && @maker.user.id == current_user.id %> class="makerAdmin"<% end %>>
		<% if user_signed_in? && @maker.user.id == current_user.id %>
		<ul id="adminButtons">
			<li id="newLink"><%= link_to "Add a New Product", "/makers_admin/stores/new", :class => "button new" %></li>
			<li id="ordersLink"><a href="/makers_admin/stores/orders" class="button">View Orders</a></li>
		</ul>
		<% end %>
		
		<% if !@hero.blank? %>
		<figure>
			<% if @hero.images.blank? %>
				<a href="/makers/<%= @maker.slug %>/store/<%= @hero.id %>"><img src="/assets/placeholder_store_large.jpg" alt=""></a>
			<% else %>
			<a href="/makers/<%= @maker.slug %>/store/<%= @hero.id %>"><img src="<%= @hero.images.first.src.gsub(".png", "_grande.png").gsub(".jpg", "_grande.jpg").gsub(".jpeg", "_grande.jpeg") %>" alt=""></a>
			<% end %>
			
			<figcaption>
				<hgroup>
					<h3><%= @hero.title %></h3>
					<h4><%= @hero.product_type %></h4>
					<h4 class="price">$<%= @hero.price_range %></h4>
				</hgroup>
				
				<% if user_signed_in? && @maker.user.id == current_user.id %>
					<%= link_to "Edit", "/makers_admin/stores/" + @hero.id.to_s + "/edit", :class => "button edit" %>
					<%= link_to "Delete", "/makers_admin/stores/" + @hero.id.to_s, :method => :delete, :class => "button delete", :confirm => "Are you sure you want to delete this item?" %>
				<% else %>
					<a href="/makers/<%= @maker.slug %>/store/<%= @hero.id %>" class="button">Look</a>
				<% end %>
				
				<%= sanitize(@hero.body_html) %>
			</figcaption>
		</figure>
		
		<p id="shipping-notice"><strong>Yo!</strong> All prices include shipping!</p>
		
		<ul class="productList">
			<% @products.each do |product| %>
			<li>
				<a href="/makers/<%= @maker.slug %>/store/<%= product.id %>">
					<% if product.images.blank? %>
						<img src="/assets/placeholder_store_thumbnail.jpg" alt="<%= product.title %>" class="thumb store">
					<% else %>
					<img src="<%= product.images.first.src.gsub(".png", "_medium.png").gsub(".jpg", "_medium.jpg").gsub(".jpeg", "_medium.jpeg") %>" alt="<%= product.title %>" class="thumb store">
					<% end %>
					<h3><%= product.title %></h3>
					<h4 class="price">$<%= product.price_range %></h4>
				</a>
				<% if user_signed_in? && @maker.user.id == current_user.id %>
					<%= link_to "Edit", "/makers_admin/stores/" + product.id.to_s + "/edit", :class => "button edit" %>
					<%= link_to "Delete", "/makers_admin/stores/" + product.id.to_s, :method => :delete, :class => "button delete", :confirm => "Are you sure you want to delete this item?" %>
				<% else %>
					<a href="/makers/<%= @maker.slug %>/store/<%= product.id %>" class="button">Buy</a>
				<% end %>
			</li>
			<% end %>
		</ul>
		<% else %>
		<h3>This maker does not have any products available in their store. Keep checking back.</h3>
		<% end %>
	</div>

<%= render "makers_footer" %>