- title "#{@maker.name}'s Store"
- description "#{@maker.name}'s products for sale on Korduroy.tv"
= render "makers_header"
<div id="makerStore"
- if user_signed_in? && @maker.user.id == current_user.id
  class="makerAdmin"
>
- if user_signed_in? && @maker.user.id == current_user.id
  %ul#adminButtons
    %li#newLink= link_to "Add a New Product", "/makers_admin/stores/new", :class => "button new"
    %li#ordersLink
      %a.button{:href => "/makers_admin/stores/orders"} View Orders
- if !@hero.blank?
  %figure
    - if @hero.images.blank?
      %a{:href => "/makers/#{@maker.slug}/store/#{@hero.id}"}
        %img{:alt => "", :src => "/assets/placeholder_store_large.jpg"}/
    - else
      %a{:href => "/makers/#{@maker.slug}/store/#{@hero.id}"}
        %img{:alt => "", :src => @hero.images.first.src.gsub(".png", "_grande.png").gsub(".jpg", "_grande.jpg").gsub(".jpeg", "_grande.jpeg")}/
    %figcaption
      %hgroup
        %h3= @hero.title
        %h4= @hero.product_type
        %h4.price
          $#{@hero.price_range}
      - if user_signed_in? && @maker.user.id == current_user.id
        = link_to "Edit", "/makers_admin/stores/" + @hero.id.to_s + "/edit", :class => "button edit"
        = link_to "Delete", "/makers_admin/stores/" + @hero.id.to_s, :method => :delete, :class => "button delete", :confirm => "Are you sure you want to delete this item?"
      - else
        %a.button{:href => "/makers/#{@maker.slug}/store/#{@hero.id}"} Look
      = sanitize(@hero.body_html)
  %p#shipping-notice
    %strong Yo!
    All prices include shipping!
  %ul.productList
    - @products.each do |product|
      %li
        %a{:href => "/makers/#{@maker.slug}/store/#{product.id}"}
          - if product.images.blank?
            %img.thumb.store{:alt => product.title, :src => "/assets/placeholder_store_thumbnail.jpg"}/
          - else
            %img.thumb.store{:alt => product.title, :src => product.images.first.src.gsub(".png", "_medium.png").gsub(".jpg", "_medium.jpg").gsub(".jpeg", "_medium.jpeg")}/
        %h3= product.title
        %h4.price
          $#{product.price_range}
        - if user_signed_in? && @maker.user.id == current_user.id
          = link_to "Edit", "/makers_admin/stores/" + product.id.to_s + "/edit", :class => "button edit"
          = link_to "Delete", "/makers_admin/stores/" + product.id.to_s, :method => :delete, :class => "button delete", :confirm => "Are you sure you want to delete this item?"
        - else
          %a.button{:href => "/makers/#{@maker.slug}/store/#{product.id}"} Buy
- else
  %h3 This maker does not have any products available in their store. Keep checking back.
= render "makers_footer"
