%p Upload images to use within the body of the post. Once the image has been uploaded, drag it into place in the content editor.
#contentImageContainer{"data-blogid" => params['id']}
  %ul.imagesList
    - @blog = Blog.find(params[:id])
    - @blog.images.each do |image|
      %li
        %img.inlinePostImage{"data-blogid" => "", "data-imageid" => "", :src => image.image.url}/
        %a.button.delete{:href => "/makers_admin/blogs/#{@blog.id}/images/#{image.id}"} Delete
%hr/
#container
  %ul#filelist
    %li No runtime found.
  %a#pickfiles.button{:href => "#"} Browse
  %a#uploadfiles.button{:href => "#"} Upload Images
:javascript
  $(function() {
  	var uploader = new plupload.Uploader({
  		runtimes : 'gears,html5,flash,silverlight',
  		browse_button : 'pickfiles',
  		container : 'container',
  		max_file_size : '10mb',
  		url : "/makers_admin/blogs/#{params['id']}/images",
  		flash_swf_url : '/assets/plupload/plupload.flash.swf',
  		silverlight_xap_url : '/assets/plupload/plupload.silverlight.xap',
  		filters : [
  			{title : "Image files", extensions : "jpeg,jpg,gif,png"},
  			{title : "Zip files", extensions : "zip"}
  		],
  		//resize : {width : 320, height : 240, quality : 90},
  		multipart: true,
      	multipart_params: {
  			"authenticity_token" : '#{form_authenticity_token}'
  		}
  	});

  	uploader.bind('Init', function(up, params) {
  		$('#filelist').html("");
  		$("#uploadfiles").hide();
  	});

  	$('#uploadfiles').click(function(e) {
  		uploader.start();
  		e.preventDefault();
  	});

  	uploader.init();

  	uploader.bind('FilesAdded', function(up, files) {
  		$.each(files, function(i, file) {
  			$('#filelist').append(
  				'<li id="' + file.id + '">' +
  				file.name + ' (' + plupload.formatSize(file.size) + ') <em></em>' +
  			'</li>');
  		});
  		
  		$("#uploadfiles").show();

  		up.refresh(); // Reposition Flash/Silverlight
  	});

  	uploader.bind('UploadProgress', function(up, file) {
  		$('#' + file.id + " em").html(file.percent + "%");
  	});

  	uploader.bind('Error', function(up, err) {
  		$('#filelist').append("<li>Error: " + err.code +
  			", Message: " + err.message +
  			(err.file ? ", File: " + err.file.name : "") +
  			"</li>"
  		);

  		up.refresh(); // Reposition Flash/Silverlight
  	});

  	uploader.bind('FileUploaded', function(up, file) {
  		$('#' + file.id + " em").html("100%");
  
  		if(this.total.queued == 0) {
  			var blog_id = $('#contentImageContainer').data('blogid')
  			$("#contentImageContainer").load('/makers_admin/blogs/'+blog_id+'/images');
  		}
  	});
  	
  	// delete blog images
  	var deleteImage = $(".imagesList .delete");
  	deleteImage.each(function() {
  		$(this).click(function(e) {
  			e.preventDefault();
  			var ximg = $(this).parent("li");
  			if (confirm("Are you sure you want to delete this record?")) {
  				var request = $.ajax({
  					type: "DELETE",
  					url: this.href,
  					data: "authenticity_token=#{form_authenticity_token}"
  				});

  				request.done(function(data) {
  					ximg.fadeOut();
  				});

  				request.fail(function(jqXHR, textStatus) {
  					alert(textStatus); 
  				});
  			}
  		});
  	});
  })
