- @categories.each do |category|
  %section{:id => category.slug}
    %h1
      %a{:href => "/shows/#{category.slug}"}
        %img.icon.show{:alt => category.title, :src => category.icon}
          = category.title
    %p.viewAll= link_to 'View all episodes', '/shows/' + category.slug
    %p= category.description
    .show-carousel
      %ul
        - category.shows.order("created_at DESC").each do |show|
          %li
            %a{:href => "/shows/#{show.category.slug}/#{show.slug}"}
              %img.thumb.show{:alt => "", :src => show.thumbnail}
                %h2= show.title
