- if !@featured.blank?
  %aside
    %h1 Featured Videos
    %form#heroSortForm{:action => "", :method => "", :name => "heroSortForm"}
      %fieldset
        %label{:for => "episodeSort"} Sort by:
        %select#episodeSort{:name => "episodeSort"}
          %option{:value => ""} Most Viewed
          %option{:value => ""} Highest Rating
          %option{:value => ""} Newest
    #featured-episodes.show-carousel
      %ul
        - @featured.each do |featured|
          %li
            %a{"data-icon" => featured.category.icon, "data-show" => featured.category.title, "data-showslug" => featured.category.slug, "data-slug" => featured.slug, "data-video" => featured.vimeo, :href => "/shows/#{featured.category.slug}/#{featured.slug}"}
              %img.thumb.show{:alt => "", :src => featured.thumbnail}/
            %h2= featured.title
            %h3
              %a{:href => "/shows/#{featured.category.slug}"}= featured.category.title
            .desc
              = truncate_html featured.description, :length => 310
              - if !featured.tags.blank?
                %dl.tagList
                  %dt Tags:
                  - featured.tags.each do |t|
                    %dd= t
- else
  %hr.stitch/
