%section#hero.video
  %header#contentHeader
    %h1 Shows
    = render "menu"

%section#shows
  - title "#{@category.title} Shows"
  - description "#{truncate_html strip_tags(@category.description), :length => 250}"
  %section{:id => @category.slug}
    %h1
      %a{:href => "/shows/#{@category.slug}"}
        %img.icon.show{:alt => @category.title, :src => @category.icon}
          = @category.title
    = simple_format(sanitize(@category.description))
    - if !@category.shows.blank?
      .show-carousel.disabled
        %ul
          - @category.shows.order("created_at DESC").each do |show|
            %li
              %a{:href => "/shows/#{@category.slug}/#{show.slug}"}
                %img.thumb.show{:alt => "", :src => show.thumbnail}
                  %h2= show.title
    - else
      %h2 No episodes were found for this category.

