- title "Shows"
- description "Korduroy TV is a website spreading digital aloha. Through video how-to’s, short films, rants and interviews we are creating a new platform for independent surf culture- a place where ideas can be shared that respect self-sufficiency, craftsmanship, and a surfing experience of our own design."
%section#hero.video
  %header#contentHeader
    %h1 Shows
    = render "menu"

%section#shows
  = render "categories"