- title "#{@hero.title}"
- description "#{truncate_html strip_tags(@hero.description), :length => 250}"
%section#hero.video
  %header#contentHeader
    %h1 Shows
    = render "menu"
  = render "hero"
  %footer
    %ul#showFooter.meta
      %li
        Posted on #{l @hero.created_at, :format => :post}
      %li.share
        Share:
        .pin-button
          %a.pin-it-button{"count-layout" => "horizontal", :href => "http://pinterest.com/pin/create/button/?url=#{request.url}&media=http://#{request.domain}/#{@hero.thumbnail.gsub("_200.", "_960.")}&description=#{@hero.title}"}
            %img{:border => "0", :src => "//assets.pinterest.com/images/PinExt.png", :title => "Pin It"}/
        %a.twitter-share-button{"data-count" => "horizontal", "data-text" => "#{@hero.title} // ", "data-url" => request.url, "data-via" => "korduroytv", "data-width" => "50px", :href => "https://twitter.com/share"} Tweet
        .fb-like{"data-href" => request.url, "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "110"}
= render "related_items"
#comments
  %h2
    Comments:
    %span= @hero.comments.size
  %ul#commentList
    - @hero.comments.each do |comment|
      %li
        %header
          %img{:alt => comment.user.name, :src => avatar = (comment.user.avatar.small.blank?) ? "/assets/avatar_small.png" : comment.user.avatar.small}
            %h3= comment.user.name
            %p.meta= l comment.created_at, :format => :comment
        = sanitize(comment.comment)
  - if @current_user.blank?
    %h3
      Please #{link_to "sign in", new_user_session_path(), :class => "button sign-in"} or #{link_to "sign up", new_user_registration_path(), :class => "button sign-up"} to comment.
  - else
    #commentForm
      - if !@hero.comments_closed
        %h2 Post a comment
        .member
          %a{:href => "#"}
            %img{:alt => @current_user.name, :src => avatar = (@current_user.avatar.blank?) ? "/assets/avatar_small.png" : @current_user.avatar.small}/
          %h3= @current_user.name
          = form_for :comment, :url => { :action => "comment" } do |f|
            = f.hidden_field :commentable_id, :value=> @hero.id
            = f.text_area :comment
            = f.submit "Post Comment"
      - else
        %h2 Comments are closed for this episode.