<% if !@hero.blank? %>

<figure>
  <iframe src="http://player.vimeo.com/video/<%= @hero.vimeo %>?api=1&amp;?player_id=videoIframe&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=cfff66&amp;loop=0&amp;autoplay=0" width="<%= @swidth %>" height="<%= @swidth == "960"? 540 : 405 %>" id="videoIframe" data-vid="<%= @hero.id %>" frameborder="0"></iframe>

  <figcaption>
		<img src="<%= @hero.category.icon %>" class="icon show" alt="">
		<hgroup>
			<h1><a href="/shows/<%= @hero.category.slug %>/<%= @hero.slug %>"><%= @hero.title %></a></h1>
			<h2><a href="/shows/<%= @hero.category.slug %>"><%= @hero.category.title %></a></h2>
		</hgroup>
		
		<%= @full? (sanitize(@hero.description)) : (truncate_html @hero.description, :length => 290) %>

		
		<% if !@hero.credits.blank? %>
			<dl id="credits">
			<% @hero.credits.each do |credit| %>
				<dt><%= credit.credit_type.name %>:</dt>
				<dd>
					<% if !credit.url.blank? %>
						<%= link_to credit.name, credit.url, :class => "externalLink" %>
					<% else %>
						<%= credit.name %>
					<% end %>
				</dd>
			<% end %>
			</dl>
		<% end %>
		
		<% if !@hero.tags.blank? %>
		<dl class="tagList">
			<dt>Tags:</dt>
			<% @hero.tags.each do |t| %>
			<dd><%= t %></dd>
			<% end %>
		</dl>
		<% end %>
	</figcaption>
	
	<ul class="meta actions">
		<li class="ranking">
			<select name="rating" id="rating-<%= @hero.slug %>" class="rating" data-show="<%= @hero.category.slug %>" data-episode="<%= @hero.slug %>"<% if !user_signed_in? || @hero.rated_by?(current_user) %>disabled="disabled"<% end %>> 
			    <option value="1"<%=raw ' selected="selected"' if @hero.average_rating_round == 1 %>>Lame</option>
			    <option value="2"<%=raw ' selected="selected"' if @hero.average_rating_round == 2 %>>It was ok</option>
			    <option value="3"<%=raw ' selected="selected"' if @hero.average_rating_round == 3 %>>Decent</option>
			    <option value="4"<%=raw ' selected="selected"' if @hero.average_rating_round == 4 %>>Rad!</option>
				<option value="5"<%=raw ' selected="selected"' if @hero.average_rating_round == 5 %>>Totally awesome!</option>
			</select>
			<% if !user_signed_in? %>
				<p><%= link_to "Sign In", new_user_session_path(), :class => "button sign-in" %> to vote</a></p>
			<% else %>
				<p><%= @hero.average_rating %> shakas</p>
			<% end %>
		</li>
		<li class="comments"><a href="/shows/<%= @hero.category.slug %>/<%= @hero.slug %>#comments">Comments: <span><%= @hero.comments.size %></span></a></li>
		<!--li class="favorites"><a href="/">Add to favorites</a></li-->
	</ul>
</figure>
<% end %>