
<% if !@ktv_posts.empty? %>
	<% @ktv_posts.each do |post| %>
	
		<article>
			<% unless post.reblogged_at.blank? %>
				<%
					@usr = post.user
					@mkr = @usr.maker
				%>
				<h2><span class="reblog">Reblogged:</span> <%= link_to post.title, '/blog/' + (l post.created_at, :format => :post_year) + '/' + post.slug %></h2>
				
				<div id="related_maker">
					<a href="/makers/<%= @mkr.slug %>/blog/<%= post.created_at.year %>/<%= post.slug %>/<%= post.id %>">
						<img src="<%= @usr.avatar.small %>" class="avatar">
						<h2><%= @mkr.name %></h2>
						<h3><%= @mkr.maker_category.name %></h3>
						<img src="/assets/badge_maker_small.png" class="badge" alt="Maker">
					</a>
				</div>
			<% else %>
			<h2><%= link_to post.title, '/blog/' + (l post.created_at, :format => :post_year) + '/' + post.slug %></h2>
			<% end %>
			
			<% if post.post_image.blank? %>
				<% @pin_img = "/assets/placeholder_xlarge.jpg" %>
				<% unless post.reblogged_at.blank? %>
					<% @pin_img = @mkr.bio_image.xlarge %>
					<%= link_to(image_tag(@mkr.bio_image.xlarge, :alt => post.title, :class => "postImage"), '/blog/' + (l post.created_at, :format => :post_year) + '/' + post.slug) %>
				<% end %>
			<% else %>
			<% @pin_img = post.post_image.large %>
			<%= link_to(image_tag(post.post_image.large, :alt => post.title, :class => "postImage"), '/blog/' + (l post.created_at, :format => :post_year) + '/' + post.slug) %>
			<% end %>
			
			<%= truncate_html sanitize(post.content, :tags => %w(p a ul ol li table tr td)), :length => 400 %>
			
			<p class="moreLink"><%= link_to "More...", '/blog/' + (l post.created_at, :format => :post_year) + '/' + post.slug %></p>
			
			<% if signed_in? && current_user.default_blogger == true %>
			<div class="adminActions">
				<ul>
					<li class="edit"><%= link_to "Edit", "/admin/blogs/" + post.id.to_s + "/edit", :class => "button edit" %></li>
					<li class="delete"><%= link_to "Delete", "/admin/blogs/" + post.id.to_s, :method => :delete, :class => "button delete", :confirm => "Are you sure you want to delete this item?" %></li>
				</ul>
			</div>
			<% end %>
			
			<footer>
				<ul class="meta">
					<li>Posted on <%= l post.created_at, :format => :post %></li>
					<li><a href="/blog/<%= l post.created_at, :format => :post_year %>/<%= post.slug %>#comments">Comments: <span><%= post.comments.size %></span></a></li>
					<li class="share">Share: 
						<div class="pin-button"><a href="http://pinterest.com/pin/create/button/?url=http://<%= request.domain %>/blog/<%= l post.created_at, :format => :post_year %>/<%= post.slug %>&media=http://<%= request.domain %>/<%= @pin_img %>&description=<%= post.title %>" class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" class="inline"></a></div>
						<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://<%= request.domain %>/blog/<%= l post.created_at, :format => :post_year %>/<%= post.slug %>" data-text="<%= post.title %> // " data-size="small" data-count="horizontal" data-via="KorduroyTV">Tweet</a>
						<div class="fb-like" data-href="http://<%= request.domain %>/blog/<%= l post.created_at, :format => :post_year %>/<%= post.slug %>" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
					</li>
				</ul>
			</footer>
		</article>

	<% end -%>
<% else -%>
	<article><h2>No posts were found.</h2></article>
<% end -%>
