		<aside>
			<ul id="socialNetworks">
				<% if !@maker.user.twitter.blank? %>
				<% handle = @maker.user.twitter %>
				<li id="twitter" data-twitterhandle="<%= handle %>">
					<% if signed_in? && current_user.maker_id == @maker.id %><a href="#" class="edit">Edit</a><% end %>
					<div id="tweet"></div>
				</li>
				<% elsif signed_in? && current_user.maker_id == @maker.id %>
				<li><img src="/assets/icon_twitter.png" alt="Twitter" class="icon"> <a href="#" class="add" data-add="Add Twitter Feed">Add Twitter feed</a></li>
				<% end %>
				<% if signed_in? && current_user.maker_id == @maker.id %>
				<li class="add-network-item">
					<%= form_for([:makers_admin, @maker], :html => {:multipart => true}) do |f| %>
						<fieldset class="adminForm">
							<div class="stacked">
								<%= f.fields_for :user do |ff| %>
									<%= ff.label :twitter, "Twitter Handle:" %>
									@<%= ff.text_field :twitter, :size => "40" %>
								<% end %>
								<%= f.submit "Save" %>
							</div>
						</fieldset>
					<% end %>
				</li>
				<% end %>
				
				<% if !@maker.other_url.blank? %>
				<li id="website"><a href="http://<%= @maker.other_url.sub("http://", "") %>"><img src="/assets/icon_web.png" alt="Website" class="icon"> <%= @maker.other_url.sub("http://", "") %></a><% if signed_in? && current_user.maker_id == @maker.id %> <a href="#" class="edit">Edit</a><% end %></li>
				<% elsif signed_in? && current_user.maker_id == @maker.id %>
				<li><img src="/assets/icon_web.png" alt="Website" class="icon"> <a href="#" class="add" data-add="Add Website Link">Add Website Link</a></li>
				<% end %>
				<% if signed_in? && current_user.maker_id == @maker.id %>
				<li class="add-network-item">
					<%= form_for([:makers_admin, @maker], :html => {:multipart => true}) do |f| %>
						<fieldset class="adminForm">
							<div class="stacked">
								<%= f.label :other_url, "Website URL:" %>
								<%= f.text_field :other_url, :size => "40" %>
								<%= f.submit "Save" %>
							</div>
						</fieldset>
					<% end %>
				</li>
				<% end %>
				
				<% if !@maker.user.facebook.blank? %>
				<li id="facebook"><a href="http://<%= @maker.user.facebook.sub("http://", "") %>"><img src="/assets/icon_facebook.png" alt="Facebook" class="icon"> <%= @maker.user.first_name %> on facebook</a><% if signed_in? && current_user.maker_id == @maker.id %> <a href="#" class="edit">Edit</a><% end %></li>
				<% elsif signed_in? && current_user.maker_id == @maker.id %>
				<li><img src="/assets/icon_facebook.png" alt="Facebook" class="icon"> <a href="#" class="add" data-add="Add Facebook Link">Add Facebook Link</a></li>
				<% end %>
				<% if signed_in? && current_user.maker_id == @maker.id %>
				<li class="add-network-item">
					<%= form_for([:makers_admin, @maker], :html => {:multipart => true}) do |f| %>
						<fieldset class="adminForm">
							<div class="stacked">
								<%= f.fields_for :user do |ff| %>
									<%= ff.label :facebook, "Facebook URL:" %>
									<%= ff.text_field :facebook, :size => "40" %>
								<% end %>
								<%= f.submit "Save" %>
							</div>
						</fieldset>
					<% end %>
				</li>
				<% end %>
				
				<% if !@maker.youtube.blank? %>
				<li id="youtube"><a href="http://<%= @maker.youtube.sub("http://", "") %>"><img src="/assets/icon_youtube.png" alt="YouTube" class="icon"> <%= @maker.youtube.sub("http://", "") %></a><% if signed_in? && current_user.id == @maker.id %> <a href="#" class="edit">Edit</a><% end %></li>
				<% elsif signed_in? && current_user.maker_id == @maker.id %>
				<li><img src="/assets/icon_youtube.png" alt="YouTube" class="icon"> <a href="#" class="add" data-add="Add YouTube Link">Add YouTube Link</a></li>
				<% end %>
				<% if signed_in? && current_user.maker_id == @maker.id %>
				<li class="add-network-item">
					<%= form_for([:makers_admin, @maker], :html => {:multipart => true}) do |f| %>
						<fieldset class="adminForm">
							<div class="stacked">
								<%= f.label :youtube, "YouTube Link" %>
								<%= f.text_field :youtube, :size => "40" %>
								<%= f.submit "Save" %>
							</div>
						</fieldset>
					<% end %>
				</li>
				<% end %>
				
				<% if !@maker.vimeo.blank? %>
				<li id="vimeo"><a href="http://<%= @maker.vimeo.sub("http://", "") %>"><img src="/assets/icon_vimeo.png" alt="Vimeo" class="icon"> <%= @maker.vimeo.sub("http://", "") %></a><% if signed_in? && current_user.maker_id == @maker.id %> <a href="#" class="edit">Edit</a><% end %></li>
				<% elsif signed_in? && current_user.maker_id == @maker.id %>
				<li><img src="/assets/icon_vimeo.png" alt="Vimeo" class="icon"> <a href="#" class="add" data-add="Add Vimeo Link">Add Vimeo Link</a></li>
				<% end %>
				<% if signed_in? && current_user.maker_id == @maker.id %>
				<li class="add-network-item">
					<%= form_for([:makers_admin, @maker], :html => {:multipart => true}) do |f| %>
						<fieldset class="adminForm">
							<div class="stacked">
								<%= f.label :vimeo, "Vimeo Link" %>
								<%= f.text_field :vimeo, :size => "40" %>
								<%= f.submit "Save" %>
							</div>
						</fieldset>
					<% end %>
				</li>
				<% end %>
				
				<% if !@maker.user.pinterest.blank? %>
				<li id="pinterest"><a href="http://<%= @maker.user.pinterest.sub("http://", "") %>"><img src="/assets/icon_pinterest.png" alt="pinterest" class="icon"> <%= @maker.user.pinterest.sub("http://", "") %></a><% if signed_in? && current_user.maker_id == @maker.id %> <a href="#" class="edit">Edit</a><% end %></li>
				<% elsif signed_in? && current_user.maker_id == @maker.id %>
				<li><img src="/assets/icon_pinterest.png" alt="pinterest" class="icon"> <a href="#" class="add" data-add="Add pinterest Link">Add Pinterest Link</a></li>
				<% end %>
				<% if signed_in? && current_user.maker_id == @maker.id %>
				<li class="add-network-item">
					<%= form_for([:makers_admin, @maker], :html => {:multipart => true}) do |f| %>
						<fieldset class="adminForm">
							<div class="stacked">
								<%= f.fields_for :user do |ff| %>
									<%= ff.label :pinterest, "Pinterest URL:" %>
									<%= ff.text_field :pinterest, :size => "40" %>
								<% end %>
								<%= f.submit "Save" %>
							</div>
						</fieldset>
					<% end %>
				</li>
				<% end %>
				
				<% if !@maker.user.flickr.blank? %>
				<li id="flickr"><a href="http://<%= @maker.user.flickr.sub("http://", "") %>"><img src="/assets/icon_flickr.png" alt="flickr" class="icon"> <%= @maker.name %> on Flickr</a><% if signed_in? && current_user.maker_id == @maker.id %> <a href="#" class="edit">Edit</a><% end %></li>
				<% elsif signed_in? && current_user.maker_id == @maker.id %>
				<li><img src="/assets/icon_flickr.png" alt="flickr" class="icon"> <a href="#" class="add" data-add="Add flickr Link">Add Flickr Link</a></li>
				<% end %>
				<% if signed_in? && current_user.maker_id == @maker.id %>
				<li class="add-network-item">
					<%= form_for([:makers_admin, @maker], :html => {:multipart => true}) do |f| %>
						<fieldset class="adminForm">
							<div class="stacked">
								<%= f.fields_for :user do |ff| %>
									<%= ff.label :flickr, "Flickr URL:" %>
									<%= ff.text_field :flickr, :size => "40" %>
								<% end %>
								<%= f.submit "Save" %>
							</div>
						</fieldset>
					<% end %>
				</li>
				<% end %>
				
				<% if !@maker.user.wordpress.blank? %>
				<li id="tumblr"><a href="http://<%= @maker.user.wordpress.sub("http://", "") %>"><img src="/assets/icon_wordpress.png" alt="WordPress" class="icon"> <%= @maker.user.wordpress.sub("http://", "")%><% if signed_in? && current_user.maker_id == @maker.id %> <a href="#" class="edit">Edit</a><% end %></a></li>
				<% elsif signed_in? && current_user.maker_id == @maker.id %>
				<li><img src="/assets/icon_wordpress.png" alt="WordPress" class="icon"> <a href="#" class="add" data-add="Add WordPress Link">Add WordPress Link</a></li>
				<li class="add-network-item">
					<%= form_for([:makers_admin, @maker], :html => {:multipart => true}) do |f| %>
						<fieldset class="adminForm">
							<div class="stacked">
								<%= f.fields_for :user do |ff| %>
									<%= ff.label :wordpress, "WordPress Blog:" %>
									<%= ff.text_field :wordpress, :size => "40" %>
								<% end %>
								<%= f.submit "Save" %>
							</div>
						</fieldset>
					<% end %>
				</li>
				<% end %>
				
				<% if !@maker.user.tumbler.blank? %>
				<li id="tumblr"><a href="http://<%= @maker.user.tumbler.sub("http://", "") %>"><img src="/assets/icon_tumblr.png" alt="Tumblr" class="icon"> <%= @maker.user.tumbler.sub("http://", "")%></a><% if signed_in? && current_user.maker_id == @maker.id %> <a href="#" class="edit">Edit</a><% end %></li>
				<% elsif signed_in? && current_user.maker_id == @maker.id %>
				<li><img src="/assets/icon_tumblr.png" alt="Tumblr" class="icon"> <a href="#" class="add" data-add="Add Tumblr Link">Add Tumblr Link</a></li>
				<% end %>
				<% if signed_in? && current_user.maker_id == @maker.id %>
				<li class="add-network-item">
					<%= form_for([:makers_admin, @maker], :html => {:multipart => true}) do |f| %>
						<fieldset class="adminForm">
							<div class="stacked">
								<%= f.fields_for :user do |ff| %>
									<%= ff.label :tumbler, "Tumblr URL:" %>
									<%= ff.text_field :tumbler, :size => "40" %>
								<% end %>
								<%= f.submit "Save" %>
							</div>
						</fieldset>
					<% end %>
				</li>
				<% end %>
				
				<% if !@maker.user.blogger.blank? %>
				<li id="blogger"><a href="http://<%= @maker.user.blogger.sub("http://", "") %>"><img src="/assets/icon_blogger.png" alt="blogger" class="icon"> <%= @maker.user.blogger.sub("http://", "") %></a><% if signed_in? && current_user.maker_id == @maker.id %> <a href="#" class="edit">Edit</a><% end %></li>
				<% elsif signed_in? && current_user.maker_id == @maker.id %>
				<li><img src="/assets/icon_blogger.png" alt="blogger" class="icon"> <a href="#" class="add" data-add="Add blogger Link">Add Blogger Link</a></li>
				<% end %>
				<% if signed_in? && current_user.maker_id == @maker.id %>
				<li class="add-network-item">
					<%= form_for([:makers_admin, @maker], :html => {:multipart => true}) do |f| %>
						<fieldset class="adminForm">
							<div class="stacked">
								<%= f.fields_for :user do |ff| %>
									<%= ff.label :blogger, "Blogger URL:" %>
									<%= ff.text_field :blogger, :size => "40" %>
								<% end %>
								<%= f.submit "Save" %>
							</div>
						</fieldset>
					<% end %>
				</li>
				<p class="note">To remove an item, click 'edit', clear the input and click 'save'.</p>
				<% end %>
			</ul>
			
			<!--h2>Following (420)</h2>
			<p class="viewAll"><a href="/the-list">View all</a></p>
			<ul id="followersList">
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
				<li><a href="/makers"><img src="/assets/makers/avatar_default.png" alt="" class="avatar"></a></li>
			</ul-->
		</aside>
	</div>
</section>