<% if !@maker_posts.blank? %>
<ul id="makersList">
	<% @maker_posts.each do |post| %>
		<% @maker = post.user.maker %>
		<li id="post<%= post.id %>" class="<%= @maker.maker_category.slug %>">
			<article>
				<a href="/makers/<%= @maker.slug %>/blog/<%= l post.created_at, :format => :post_year %>/<%= post.slug %>/<%= post.id %>">
					<% if post.post_image.blank? %>
						<% @mp = @maker.maker_photos.randumb @maker %>
						<% if !@mp.blank? %>
							<img src="<%= @mp.photo.small %>" alt="" class="postImage">
						<% elsif !@maker.bio_image.blank? %>
							<img src="<%= @maker.bio_image.medium %>" alt="" class="postImage">
						<% end %>
					<% else %>
					<img src="<%= post.post_image.small %>" alt="" class="postImage">
					<% end %>
					<h2><%= post.title %></h2>
					<%= simple_format(truncate_html sanitize(post.content, :tags => %w(p a)), :length => 330) %>
				</a>
				<footer>
					<ul class="meta">
						<li class="author"><a href="/makers/<%= @maker.slug %>"><img src="<%= avatar = post.user.avatar.micro.blank? ? "/assets/avatar_micro.png" : post.user.avatar.micro %>" class="avatar"> <%= @maker.name %></a></li>
						<li><%= l post.created_at, :format => :post %></li>
						<li><a href="/makers/<%= @maker.slug %>/blog/<%= l post.created_at, :format => :post_year %>/<%= post.slug %>/<%= post.id %>#comments">Comments: <span><%= post.comments.size %></span></a></li>
					</ul>
				</footer>
			</article>
		</li>
	<% end %>
</ul>
<% else %>
<h2>No posts found.</h2>
<% end %>