<section id="makersWall">
	<header id="contentHeader">
		<h1>Makers</h1>
		<nav class="sectionNavigation">
			<ul>
				<li class="viewList"><a href="/makers/list">Meet your makers</a></li>
				<li class="viewPost"><a href="/makers">Makers wall</a></li>
			</ul>
		</nav>
	</header>
	
	<div id="maker">
		<header>
			<img src="<%= avatar = @maker.user.avatar.large.blank? ? "/assets/avatar_large.png" : @maker.user.avatar.large %>" alt="<%= @maker.name %>" class="avatar">
			<hgroup>
				<h1><%= @maker.name %></h1>
				<h2><%= @maker.title %></h2>
			</hgroup>
			
			<!--a href="/makers" class="button follow">Follow</a-->
			
			<nav id="makerNavigation">
				<ul>
					<li class="<%= @blogActive %>"><a href="/makers/<%= @maker.slug %>">Blog</a></li>
					<% if @maker.storefront %>
					<li class="<%= @storeActive %>"><a href="/makers/<%= @maker.slug %>/store">Store</a></li>
					<% end %>
					<li class="<%= @galleryActive %>"><a href="/makers/<%= @maker.slug %>/gallery">Gallery</a></li>
					<li class="<%= @bioActive %>"><a href="/makers/<%= @maker.slug %>/bio">Bio</a></li>
					<% if @maker.allow_contact_form %>
					<li class="<%= @contactActive %>"><a href="/makers/<%= @maker.slug %>/contact">Contact</a></li>
					<% end %>
				</ul>
				<% if !@blogActive.blank? && @blogDetail == true %>
				<p class="viewAll"><a href="/makers/<%= @maker.slug %>">View all blog posts</a></p>
				<% end %>
				<% if !@storeActive.blank? %>
				<!--p class="viewAll"><a href="/makers/<%= @maker.slug %>/store">View all products</a></p-->
				<% end %>
			</nav>
		</header>