<% if @makers.blank? %>
<h2>There are no makers available.</h2>
<% else %>
<nav id="makersNavigation">
	<ul>
		<!--li>
			<select name="makersFilter">
				<option value="">Browse</option>
				<option value="">Most Popular</option>
				<option value="">Newest</option>
				<option value="">Oldest</option>
			</select>
		</li-->
		<li><h2>Creative Fields</h2></li>
		<li id="nav-all" class="<%= active = params[:slug].blank? ? "active" : "" %>"><a href="/makers" data-filter="*">All</a></li>
		<% @categories.each do |category| %>
		<li id="nav-<%= category.slug %>" class="<%= active = category.slug == params[:slug] ? "active" : "" %>"><a href="/makers/category/<%= category.slug %>" rel="<%= category.slug %>" data-filter=".<%= category.slug %>"><%= category.name %></a></li>
		<% end %>
	</ul>
</nav>

<ul id="makersList" class="list">
	<%
		@makers.each do |user|
			@maker = user.maker
	%>
		<% if @maker.visible? %>
		<li class="<%= @maker.maker_category.slug %>">
			<a href="/makers/<%= @maker.slug %>"><img src="<% if user.avatar.blank? %>/assets/avatar_large.png<% else %><%= user.avatar.large %><% end %>" alt="<%= @maker.name %>" class="avatar"></a>
			<hgroup>
				<h1><a href="/makers/<%= @maker.slug %>"><%= @maker.name %></a></h1>
				<h2><%= @maker.maker_category.name %></h2>
			</hgroup>
			<a href="/makers/<%= @maker.slug %>" class="button">Enter</a>
			<%= simple_format(truncate_html sanitize(@maker.bio, :tags => %w(p a)), :length => 600) %>
		</li>
		<% end %>
	<% end %>
</ul>

<% end %>