<% if !@polls.blank? %>
<div id="listAccordion">
	<% @polls.each do |poll| %>
	<% if poll.active == true %>
	<h2><em><%= l poll.created_at, :format => :poll %></em> <%= poll.question %></h2>
	<article class="tabbed">
		<ul class="tabs">
			<li class="voteLink"><a href="#userRank<%= poll.id %>">Your ranking</a></li>
			<li class="resultsLink"><a href="#rankResults<%= poll.id %>">View results</a></li>
		</ul>
		
		<div id="userRank<%= poll.id %>" rel="<%= poll.id %>">
			<% if user_signed_in? %>
			
				<% if Poll.user_already_voted? current_user, poll %>
				
					<ol class="sortable disabled">
						<% @answers = poll.user_vote current_user, poll %>
						<% @answers.each do |answer| %>
						<% @vote_date = answer.vote_date.to_datetime %>
						<li id="<%= answer.id %>"><img src="<%= aimg = @poll_home.blank? ? answer.image.large : answer.image.small %>" class="listImg" alt=""> <%= link_to answer.name, answer.url, :class => "externalLink" %></li>
						<% end %>
					</ol>
					
					<ul class="meta">
						<li>You voted on <%= l @vote_date, :format => :post %></li>
						<li><a href="/the-list/<%= poll.id %>">Comments: <span><%= poll.comments.size.to_s %></span></a></li>
					</ul>
				<% else %>
				
				<ol class="sortable">
					<% poll.answers.each do |answer| %>
					<li id="<%= answer.id %>"><img src="<%= aimg = @poll_home.blank? ? answer.image.large : answer.image.small %>" class="listImg" alt=""> <%= link_to answer.name, answer.url, :class => "externalLink" %><span class="move">Move</span></li>
					<% end %>
				</ol>
				
				<button type="button" id="buttonRank<%= poll.id %>" class="pollButton">Vote</button>
				
				<ul class="meta">
					<li>Drag answers to create your rank.</li>
					<li><a href="/the-list/<%= poll.id %>#comments">Comments: <span><%= poll.comments.size.to_s %></span></a></li>
				</ul>
				
				<% end %>
			
			<% else %>
				<ol class="sortable disabled">
					<% poll.answers.each do |answer| %>
					<li id="<%= answer.id %>"><img src="<%= aimg = @poll_home.blank? ? answer.image.large : answer.image.small %>" class="listImg" alt=""> <%= link_to answer.name, answer.url, :class => "externalLink" %><span class="move">Move</span></li>
					<% end %>
				</ol>
				
				<ul class="meta">
					<li>Drag answers to create your rank.</li>
					<li><a href="/the-list/<%= poll.id %>#comments">Comments: <span><%= poll.comments.size.to_s %></span></a></li>
				</ul>
			
				<h3><%= link_to "Sign In", new_user_session_path(), :class => "button sign-in" %> or <%= link_to "Sign Up", new_user_registration_path(), :class => "button sign-up" %> to vote</a></h3>
			
			<% end %>
		</div>
		
		<div id="rankResults<%= poll.id %>">
			<ol class="results">
				<% @results = poll.tally_responses %>
				<% @results.each do |answer| %>
					<%
					if answer.votes.blank?
						answer.votes = 0
					end
					%>
					<% @pct = answer.votes.to_i > 0 ? (answer.votes.to_i * 100) / answer.total_votes.to_i : 0 %>

					<li><img src="<%= aimg = @poll_home.blank? ? answer.image.large : answer.image.small %>" class="listImg" alt=""> <%= answer.name %> <em><%= @pct %>%</em> <span class="pct" style="width: <%= @pct %>%;"><%= @pct %>%</span></li>
				<% end %>
			</ol>
			<div class="pctActive"></div>
			
			
			<ul class="meta">
				<% if user_signed_in? %>
					<% if Poll.user_already_voted? current_user, poll %>
					<li>You voted on <%= l @vote_date, :format => :post %></li>
					<li><a href="/the-list/<%= poll.id %>">Comments: <span><%= poll.comments.size.to_s %></span></a></li>
					<% end %>
				<% else %>
				<li>Posted on <%= l poll.created_at, :format => :post %></li>
				<li><a href="/the-list/<%= poll.id %>#comments">Comments: <span><%= poll.comments.size.to_s %></span></a></li>
				<% end %>
			</ul>
			
			
			<% if !user_signed_in? %>
				<h3><%= link_to "Sign In", new_user_session_path(), :class => "button sign-in" %> or <%= link_to "Sign Up", new_user_registration_path(), :class => "button sign-up" %> to vote</a></h3>
			<% end %>
		</div>
	</article>
	<% end %>
	<% end %>
</div>
<% else %>
<h2>There are no polls available.</h2>
<% end %>