<% unless @related_shows.blank? %>
<div id="relatedShows">
	<h1>Related Shows</h1>
	<section>
		<div class="show-carousel">
			<ul>
				<% @related_shows.each do |show| %>
				<li>
					<a href="/shows/<%= show.category.slug %>/<%= show.slug %>">
						<img src="<%= show.thumbnail %>" alt="" class="thumb show">
						<h2><%= show.title %></h2>
					</a>
				</li>
				<% end %>
			</ul>
		</div>
	</section>
</div>
<% end %>