<% if !@related_products.blank? %>
<section id="relatedProducts">
	<h1>Related Products</h1>
	<ul id="productGallery" class="productList">
		<% @related_products[0..3].each do |product| %>
		<li class="<%= product.product_type.downcase %> <%= product.tags.downcase %>">
			<a href="http://korduroy.myshopify.com/products/<%= product.handle %>" class="shopifyLink">
				<img src="<%= product.images.first.src %>" alt="" class="thumb store">
				<h3><%= product.title %></h3>
				<h4 class="price">$<%= product.price_range %></h4>
			</a>
			<a href="http://korduroy.myshopify.com/products/<%= product.handle %>" class="button shopifyLink">Buy</a>
		</li>
		<% end %>
</section>
<% end %>