<% unless @related_items.blank? %>
<div id="relatedItems">
	<h1>Related Items:</h1>
	<ul id="itemList">
		<% @related_items.shuffle.each do |item| %>
		<li>
			<% if item.respond_to?("post_image") %>
				<%
					@usr = User.find(item.user_id)
					if !@usr.maker_id.blank?
						@mkr = Maker.find(@usr.maker_id)
				%>
				<a href="/makers/<%= @mkr.slug %>/blog/<%= l item.created_at, :format => :post_year %>/<%= item.slug %>/<%= item.id %>">
				<% else %>
				<a href="/blog/<%= l item.created_at, :format => :post_year %>/<%= item.slug %>">
				<% end %>
					<% if item.post_image.blank? %>
						<% unless @mkr.bio_image.blank? %>
							<img src="<%= @mkr.bio_image.medium %>" alt="<%= item.title %>" class="thumb blog">
						<% else %>
							<img src="/assets/placeholder_blog_thumbnail.jpg" alt="<%= item.title %>" class="thumb blog">
						<% end %>
					<% else %>
					<img src="<%= item.post_image.small %>" class="thumb blog">
					<% end %>
					
					<h3><%= item.title %></h3>
					<p>Posted <%= l item.created_at, :format => :post %></p>
					<img src="/assets/badge_blog_small.png" alt="Blog" class="badge">
				</a>
			<% end %>
			
			<% if item.respond_to?("vimeo") %>
			<a href="/shows/<%= item.category.slug %>/<%= item.slug %>">
				<% if item.thumbnail.blank? %>
					<img src="/assets/placeholder_show_thumbnail.jpg" alt="<%= item.title %>" class="thumb show">
				<% else %>
					<img src="<%= item.thumbnail %>" alt="<%= item.title %>" class="thumb show">
				<% end %>
				<h3><%= item.title %></h3>
				<img src="/assets/badge_show_small.png" alt="Show" class="badge">
			</a>
			<% end %>
			
			<% if item.respond_to?("variants") %>
			<a href="/store/<%= item.id %>">
				<% if item.images.blank? %>
				<img src="/assets/placeholder_store_thumbnail.jpg" alt="<%= item.title %>" class="thumb store">
				<% else %>
				<img src="<%= item.images.first.src.gsub(".png", "_compact.png").gsub(".jpg", "_compact.jpg").gsub(".jpeg", "_compact.jpeg") %>" alt="<%= item.title %>" class="thumb store">
				<% end %>
				<h3><%= item.title %></h3>
				<h4 class="price">$<%= item.price_range %></h4>
			</a>
			<a href="/store/<%= item.id %>" class="button">Look</a>
			<img src="/assets/badge_store_small.png" alt="Store" class="badge">
			<% end %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>