= form_for([:makers_admin, @image], :html => {:multipart => true}) do |f|
  - if @image.errors.any?
    #error_explanation
      %h2
        = pluralize(@image.errors.count, "error")
        prohibited this makers_admin_image from being saved:
      %ul
        - @image.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :image
    %br/
    = f.file_field :image
  .actions
    = f.submit
