%ul.imagesList
  - @blog.images.each do |image|
    %li
      %img.inlinePostImage{"data-blogid" => "", "data-imageid" => "", :src => image.image.url}/
      %a.button.delete{:href => "/makers_admin/blogs/#{@blog.id}/images/#{image.id}"} Delete
