<ul class="imagesList">
	<% @blog.images.each do |image| %>
	<li>
		<img src="<%= image.image.url %>" class="inlinePostImage" data-blogid="" data-imageid="">
		<a href="/makers_admin/blogs/<%= @blog.id %>/images/<%= image.id %>" class="button delete">Delete</a>
	</li>
	<% end %>
</ul>
