= form_for([:makers_admin, @maker], :html => {:multipart => true}) do |f|
  - if @maker.errors.any?
    #error_explanation
      %h2
        = pluralize(@maker.errors.count, "error")
        prohibited this makers_admin_maker from being saved:
      %ul
        - @maker.errors.full_messages.each do |msg|
          %li= msg
  %fieldset.adminForm
    .field.required
      = f.label :name
      = f.text_field :name
    .field.required
      = f.label :title
      = f.text_field :title
    .field.required
      = f.fields_for :user do |uf|
        = uf.label :avatar
        - if @maker.user.avatar.present?
          %img.avatar{:alt => "", :src => @maker.user.avatar.large}/
        = uf.file_field :avatar
    .field
      = f.label :bio_image
      - if @maker.bio_image.present?
        %img#bioImage{:alt => @maker.name, :src => @maker.bio_image.large}/
      = f.file_field :bio_image
    .field.required
      = f.label :bio
      = f.text_area :bio
    .field
      = f.label :details
      = f.text_area :details
    .field
      = f.label :external_blog_feed
      = f.text_field :external_blog_feed
    .field
      = f.label :vimeo
      = f.text_field :vimeo
    .field
      = f.label :youtube
      = f.text_field :youtube
    .field
      = f.label :other_url, "Website URL"
      = f.text_field :other_url
    .field.checkbox
      = f.check_box :allow_contact_form
      = f.label :allow_contact_form
    .actions
      = f.submit
