<%= form_for([:makers_admin, @maker], :html => {:multipart => true}) do |f| %>
  <% if @maker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@maker.errors.count, "error") %> prohibited this makers_admin_maker from being saved:</h2>

      <ul>
      <% @maker.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<fieldset class="adminForm">
		
		<div class="field required">
			<%= f.label :name %> <%= f.text_field :name %>
		</div>
		
		<div class="field required">
			<%= f.label :title %> <%= f.text_field :title %>
		</div>
		
		<div class="field required">
			<%= f.fields_for :user do |uf| %>
			<%= uf.label :avatar %>
				<% if @maker.user.avatar.present? %>
					<img src="<%= @maker.user.avatar.large %>" alt="" class="avatar">
				<% end %>
			<%= uf.file_field :avatar %>
			<% end %>
		</div>
		
		<div class="field">
			<%= f.label :bio_image %>
			
			<% if @maker.bio_image.present? %>
				<img src="<%= @maker.bio_image.large %>" alt="<%= @maker.name %>" id="bioImage">
			<% end %>
			
			<%= f.file_field :bio_image %>
		</div>
		
		<div class="field required">
			<%= f.label :bio %> <%= f.text_area :bio %>
		</div>
		
		<div class="field">
			<%= f.label :details %> <%= f.text_area :details %>
		</div>
		
		<div class="field">
			<%= f.label :external_blog_feed %> <%= f.text_field :external_blog_feed %>
		</div>
		
		<div class="field">
			<%= f.label :vimeo %> <%= f.text_field :vimeo %>
		</div>
		
		<div class="field">
			<%= f.label :youtube %> <%= f.text_field :youtube %>
		</div>
		
		<div class="field">
			<%= f.label :other_url, "Website URL" %> <%= f.text_field :other_url %>
		</div>
		
		<div class="field checkbox">
			<%= f.check_box :allow_contact_form %> <%= f.label :allow_contact_form %>
		</div>
		
		<div class="actions">
			<%= f.submit %>
		</div>
	</fieldset>
<% end %>
