%footer#siteFooter
  .background-top
  .background-repeat
    .footer-content
      .row.sponsors
        .full-width-column
          %ul.site-nav
            %li
              %a{:href => "http://www.leatherman.com/"}
                = image_tag("logo_leatherman.png", :alt => "Leatherman")
            %li
              %a{:href => "http://gopro.com/"}
                = image_tag("logo_gopro.png", :alt => "GoPro")
            %li
              %a{:href => "http://axxe.jp/us/"}
                = image_tag("logo_axxe.png", :alt => "Axxe")
            %li
              %a{:href => "http://www.polerstuff.com/"}
                = image_tag("logo_poler.png", :alt => "Poler")
            %li
              %a{:href => "http://www.reef.com/"}
                = image_tag("logo_reef.png", :alt => "Reef")
            %li
              %a{:href => "http://www.tropitreats.com/"}
                = image_tag("logo_tropi_treats_.png", :alt => "Tropi Treats")
            %li
              %a{:href => "https://www.audiosocket.com/"}
                = image_tag("logo_audio_socket.png", :alt => "Audio Socket")
            %li
              %a{:href => "http://vstr.com/"}
                = image_tag("logo_vstr.png", :alt => "VSTR")
    .horizontal-stitch
    .footer-content
      .row.site-map
        .one-fourth-column
          .logo-wrapper
            = link_to(root_path) do
              = image_tag("ktv_logo.png", :class => 'logo')
        .one-fourth-column
          .information
            %h4.title information
            %ul.info-nav.footer-nav
              %li
                %a{:href => "/links"} links
              %li
                %a{:href => "/submissions"} submissions
              %li
                %a{:href => "/returns"} returns
              -#%li
              -#  %a{:href => "#"} production company
              %li
                %a{:href => "/help"} help
              %li
                %a{:href => "/contact"} contact us
        .one-fourth-column
          .network
            %h4.title our network
            %ul.social-nav.footer-nav
              %li
                %a{:href => makers_path} Makers
              %li
                %a{:href => "http://showusyourquiver.com/", :target => "_blank"} Show us your quiver
              %li
                %a{:href => "http://korduroytv.tumblr.com/", :target => "_blank"} Korduroy Tumblr
              %li
                %a{:href => "http://seamovies.korduroy.tv/", :target => "_blank"} Sea Movies Tumblr
        .one-fourth-column
          .stay-updated
            %h4.title stay updated
            .newsletter
              = form_tag url_for(:action => :add_newsletter,:controller=>:home), :id => "newsletter-form", :remote => true do
                %label{:for => "newsletter"} Sign up to receive the korduroy newslettter
                %input.email{ :name => "newsletter", :placeholder => "YOUR EMAIL ADDRESS", :type => "email" }/
                %input.submit{ :type => "submit", :value => "SIGN UP" }/
    .horizontal-stitch
    .footer-content
      .row.legal
        .one-half-column
          .copyright
            &copy; Korduroy.tv
        .one-half-column
          .pp-tos
            %ul.pp-tos-nav
              %li
                %a{:href => "/privacy"} Privacy Policy
              %li
                %a{:href => "/terms"} Terms of Use