%header#siteHeader
  %a#ktvLogo{:href => root_path, :title => "Return to the Korduroy homepage"}
    %img{:alt => "Korduroy.tv", :src => "/assets/ktv_logo.png"}/
  %nav#accountNavigation
    %ul
      - if user_signed_in?
        - if current_user.admin?
          %li= link_to 'Admin', '/admin'
        - if current_user.maker
          %li= link_to 'My Profile', '/makers/' + current_user.maker.slug
        %li= link_to 'My Account', edit_user_registration_path, :class => 'myAccountLink'
        %li= link_to 'Sign Out', destroy_user_session_path, :method => :delete
      - else
        %li= link_to 'Sign In', new_user_session_path, :class => 'signInLink'
        %li= link_to 'Sign Up', new_user_registration_path, :class => 'signUpLink'
      %li#helpLink
        %a{:href => "/help"} Help
      %li#cartLink
        %a{:href => "/store/cart"} Cart
      %li#vimeoLink
        %a.externalLink{:href => "http://vimeo.com/apeel/videos", :target => "_blank"} Vimeo
      %li#instagramLink
        %a.externalLink{:href => "http://instagram.com/korduroytv", :target => "_blank"} Instagram
      %li#pinterestLink
        %a.externalLink{:href => "http://pinterest.com/korduroytv", :target => "_blank"} Pinterest
      %li#facebookLink
        %a.externalLink{:href => "http://facebook.com/KorduroyTV", :target => "_blank"} Facebook
      %li#tumblrLink
        %a.externalLink{:href => "http://korduroytv.tumblr.com", :target => "_blank"} Tumblr
      %li#twitterLink
        %a.externalLink{:href => "http://twitter.com/KorduroyTV", :target => "_blank"} Twitter


  %nav#siteNavigation
    %ul
      %li{:class => @ktvShowsActive}
        %a{:href => "/shows"} Shows
      %li{:class => @ktvBlogActive}
        %a{:href => "/blog"} Blog
      %li{:class => @ktvStoreActive}
        %a{:href => "/store"} Store
      %li{:class => @ktvSupportersActive}
        %a{:href => "/supporters"} Supporters
      %li{:class => @ktvAboutActive}
        %a{:href => "/about"} About
    %form#siteSearch{:action => "/search", :method => "get"}
      %input{:name => "q", :placeholder => "Search...", :results => "0", :type => "search"}
        %input{:type => "submit", :value => "Go"}