.row
  .two.mobile-four.columns.logo-container
    = link_to(root_path) do
      %img{:src => "assets/logo.jpg", :class => 'logo'}/
  .ten.mobile-four.columns
    .row
      .meta-nav-wrapper
        .five.columns
          %ul.account-nav
            - if user_signed_in?
              - if current_user.admin?
                %li= link_to 'Admin', '/admin'
              - if current_user.maker
                %li= link_to 'My Profile', '/makers/' + current_user.maker.slug
              %li= link_to 'My Account', edit_user_registration_path, :class => 'myAccountLink'
              %li= link_to 'Sign Out', destroy_user_session_path, :method => :delete
            - else
              %li= link_to 'Sign In', new_user_session_path, :class => 'signInLink'
              %li= link_to 'Sign Up', new_user_registration_path, :class => 'signUpLink'

            -#TODO: Refactor this into js
            -#%li#cartLink
            -#  %a{:href => "/store/cart"} Cart $0.00
        .four.columns
          %ul.social-nav.hide-for-small
            %li.vimeo
              %a{:href => "http://vimeo.com/apeel/videos"}
            %li.instagram
              %a{:href => "http://statigr.am/korduroytv"}
            %li.pinterest
              %a{:href => "http://pinterest.com/korduroytv"}
            %li.facebook
              %a{:href => "http://facebook.com/KorduroyTV"}
            %li.twitter
              %a{:href => "http://twitter.com/KorduroyTV"}
            %li.tumblr
              %a{:href => "http://korduroytv.tumblr.com"}
        .three.columns
          %form.search-box{:action => "/search", :method => "get"}
            %input.search{:name => "q", :placeholder => "Search...", :results => "0", :type => "search"}/
            %input.search-btn{:type => "submit", :value => "Go"}/
    .row
      .main-nav-wrapper
        .nine.columns
          %ul.main-nav
            %li
              %a{:href => "/shows"} Shows
            %li
              %a{:href => "/blog"} Blog
            %li
              %a{:href => "/makers"} Makers
            %li
              %a{:href => "/store"} Store
            %li
              %a{:href => "/supporters"} Supporters
            %li
              %a{:href => "/about"} About
        .three.columns.hide-for-small
          -#.promo-banner
            %a{:href => @show_quiver.link}
              %img{:src => @show_quiver.post_image}/
