/[if IE]
  <div id="ie-message"><p>Korduroy.tv does not support Internet Explorer. Please use <a href="http://www.google.com/chrome" class="externalLink">Chrome</a>, <a href="http://www.apple.com/safari/download/" class="externalLink">Safari</a> or <a href="http://www.mozilla.org/en-US/firefox/new/" class="externalLink">Firefox</a> for the best viewing experience.</p></div>