// TODO: Find out if all of these scripts are necessary to load

%script{:src => "//platform.twitter.com/widgets.js", :type => "text/javascript"}
%script{:src => "//assets.pinterest.com/js/pinit.js", :type => "text/javascript"}
%script{:src => "http://a.vimeocdn.com/js/froogaloop2.min.js"}
%script{:src => "http://vjs.zencdn.net/c/video.js"}
%script{:src => "https://www.centup.org/button.js"}

// Facebook Connect
#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    	js = d.createElement(s); js.id = id;
    	js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    	fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

// Google Analytics
:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29634704-1']);
  _gaq.push(['_trackPageview']);

  (function() {
  	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();