<!doctype html>
%html.no-js{:lang => "en"}
  %head
    %title
      = content_for?(:title) ? content_for(:title) : "Spreading Digital Aloha"
    %link{:href => "/assets/favicon.ico", :rel => "shortcut icon"}/
    %meta{:charset => "UTF-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    = csrf_meta_tags
    = auto_discovery_link_tag(:rss, blog_rss_path(:format => :xml))

    = stylesheet_link_tag "application"

    %script{:src => "/javascripts/modernizr.js"}
    %script{:src => "//use.typekit.net/jiy2hqu.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}

  %body{:class => (user_signed_in? && current_user.maker) ? "maker-admin" : "public", :id => "#{params[:controller].parameterize}_controller"}
    = render :partial => 'layouts/internet_explorer_warning'
    = render :partial => 'layouts/header'
    %section#content
      = yield
    = render :partial => 'layouts/footer'

    = javascript_include_tag "application"
    = render :partial => 'layouts/third_party_javascripts'
    = yield :js_footer
    %iframe#cartFrame{:frameborder => "0", :height => "0", :src => "http://korduroy.myshopify.com/cart", :width => "0"}
