<!doctype html>
%html.no-js{:lang => "en"}
  %head
    = stylesheet_link_tag "application"
  %body
    #modal
      %img#logo{:alt => "Korduroy.tv", :src => "/assets/ktv_logo.png"}
        = yield
        = javascript_include_tag "application"